[2014-11-18 23:23] #360 closed, assigned to pasin

[2014-11-19 01:12] #524 closed, assigned to pasin

[2014-11-19 19:11] snej opened #532 "REST: "Cookie" headers added to "headers" property are ignored"
In the JSON object passed to the POST to `/_replicate`, the `headers` property specifies optional HTTP headers to add to requests. Unfortunately any `Cookie` headers added this way are ignored and not sent.

This is a serious problem for PhoneGap apps because they don't have access to the native API calls to configure cookies (`-[CBLReplication setCookieNamed:...`, or `NSHTTPCookieStore`.)

[2014-11-20 07:23] #516 closed, assigned to pasin

[2014-11-21 14:55] KeithHayes23 opened #535 "Installing from pod shows 200+ warnings."
Installing from pod shows hundreds of warnings like this:

(null): warning: (armv7) /Users/jenkins/jenkins/workspace/b
uild_cblite_ios_1031-community/couchbase-lite-ios/build/CouchbaseLite.build/Release-iphoneos/CBL iOS library.build/Objects-normal/armv7/CBLChangeTracker_Tests.o unable to open object file
(null): warning: (armv7) /Users/jenkins/jenkins/workspace/build_cblite_ios_1031-community/cou

[2014-11-21 18:13] pasin opened #536 "Mac Application Reachability issue"
Per reported in #522, when using CBL in mac app, reachability stops working correctly sometime and always reported that the connected server is not reachable.

[2014-11-21 18:16] #522 closed, assigned to pasin

[2014-11-24 21:46] #465 closed, assigned to pasin

[2014-11-25 12:13] liufsd opened #537 "error getting database Error Domain=SQLite Code=1 "no such module: fts4" UserInfo=0x7fdc0ae21de0 {NSLocalizedDescription=no such module: fts4}"
https://github.com/couchbaselabs/ToDoLite-iOS/issues/37
Do you know how to fix it ????
Thanks.

[2014-11-28 21:16] AresDev opened #538 "Problem with document.properties"
I'm just starting to know couchbase, I don't know if this is an issue but help will be appreciated

Having a JSON document like:

{
  "reference": "012728M",
  "colors": [
    "087",
    "802",
    "700"
  ]
}

when I do the query in IOS I can using "(lldb) po row.document.properties" see something like this:
{
....
....
...
reference = 012728M;
colors =     (
        087234234234a,
        802234

[2014-11-30 14:55] #538 closed, assigned to nobody

[2014-12-01 12:28] SerhiiPrime opened #539 "Is it necessarily to obtain email address from facebook credentials for pull/push replication on iOS"
Is it necessarily to obtain email address from facebook credentials for pull/push replications on iOS?

Because on Android I use this:
FacebookAuthorizer authorizer = new FacebookAuthorizer(email);
                authorizer.registerAccessToken(accessToken, email, SYNC_URL);

[2014-12-01 13:02] desarrollospyro opened #540 "ForestDB: view indexing not persistent?"
I've pulled ForestDB branch and replaced in our app Couchbaselite.framework with that build. It seems to work well, it does perform better replicating data..., but we have problems with queries. We did this test:

[code]

And turned on build options:

[code]

And we can see that every time we run queries against that view, it starts indexing view from database sequence 0.

Is view indexing system

[2014-12-01 16:36] snej opened #541 "JSON error parsing _changes feed"
[Developer is getting an error syncing:](https://groups.google.com/d/msgid/mobile-couchbase/989c214d-7072-4baa-8575-b5960ce2932d%40googlegroups.com?utm_medium=email&utm_source=footer)

[code]

I wonder if this comes from the `_changes` feed entries for user-access changes? Those entries don't have an `_id` property, and it looks as though the high-level parser (CBLChangeMatcher) will reject an ent

[2014-12-01 16:49] #539 closed, assigned to nobody

[2014-12-01 17:05] jpaas opened #542 "Live queries in CBL iOS not updating on first usage"
I have an iOS app that uses a few live queries and they all work quite well, except the first time the app is launched. The main view of the app is a table backed by CBLUITableSource that displays each document as a CBLModel. On first launch the list is empty until the user adds the first model. The view has a + button to create new CBLModels. Each time I add a CBLModel, they are persisted, but th

[2014-12-03 17:14] snej opened #543 "Replicators should have independent cookie storage"
By default every NSURLConnection in a process shares the same cookies. Since we do Facebook and Persona login using sessions/cookies, that means that all replicators effectively share a single login. This causes two problems:

* An app can't switch the FB/Persona user it's authenticating as, because the old cookie is still present.
* You can't have two replications to the same host that authentica

[2014-12-04 00:10] christophberlin opened #544 "replication never times out when trying to contact remote server"
Scenario:
- Non-continous replication
- Replication to non-existing target: http://127.0.0.1:8888 => replication stops after a ~10sec timeout
- Replication to target: http://dev.server.com:8888 ==> replication never stops but shows kCBLReplicationStatusOffline status, sometimes times out after 120seconds or more.

The same issue occurs with any other remote server such as http://www.google.com (do

[2014-12-05 16:53] #535 closed, assigned to nobody

[2014-12-05 19:11] #77 closed, assigned to pasin

[2014-12-05 19:35] #531 closed, assigned to nobody

[2014-12-05 19:38] #537 closed, assigned to nobody

[2014-12-05 21:32] zgramana opened #547 "Create spec for NSPredicate API"
Needed for @snej to complete issue #527.

[2014-12-07 13:02] SerhiiPrime opened #548 "Have can I solve issue when I have JSON property named "id" in the document?"
The name of the Objective-C property is exactly the same as the name of the JSON property in the document. Have can I solve issue when I have JSON property named "id" in the document?

[2014-12-08 19:49] #548 closed, assigned to nobody

[2014-12-08 20:06] #532 closed, assigned to pasin

[2014-12-08 22:43] #523 closed, assigned to pasin

[2014-12-09 18:10] slavaiutin opened #549 "Warning in ios"
GenerateDSYMFile /Users/catherinewoolgar/Library/Developer/Xcode/DerivedData/PhoneaPlumber-erslhfvvxyuuqcacdzzkeiwitwiw/Build/Products/Debug-iphonesimulator/PhoneaPlumber.app.dSYM /Users/catherinewoolgar/Library/Developer/Xcode/DerivedData/PhoneaPlumber-erslhfvvxyuuqcacdzzkeiwitwiw/Build/Products/Debug-iphonesimulator/PhoneaPlumber.app/PhoneaPlumber
    cd /Users/catherinewoolgar/Documents/workspa

[2014-12-10 17:54] pasin opened #550 "Local-to-local replication shows NSURLConnection warnings"
Local-to-Local push replication yields the following warnings:

[code]

[2014-12-10 17:57] #549 closed, assigned to nobody

[2014-12-12 17:24] vinaynb opened #552 "iOS cordova client cblite sync calls to SG fail to authenticate after app restart"
Hello

I posted about this bug initially at [Google cb mobile group](https://groups.google.com/forum/#!topic/mobile-couchbase/nEvhKKuednw) but was advised to carry this discussion over here to get more fruitful result so here i am describing the issue i am facing.

I am using cblite in a cordova application on android as well as iOS. I am currently using two different versions of cblite plugin on

[2014-12-12 18:27] #550 closed, assigned to pasin

[2014-12-12 18:47] #527 closed, assigned to snej

[2014-12-12 19:45] SerhiiPrime opened #553 "Problem with representation keys as a long type."
I have my property (@dynamic id;) in model, it represents as a long type,   and I emit it as (emit(doc[@"id"], doc);).  When I try to query its view with keys (for example query.keys = @[@"1"];) I don't get any CBLQueryRow. However for keys which have NSString type all works fine. Is it problem with representation keys as a long type?

[2014-12-12 19:50] symbiat opened #554 "Build fails in XCode 6.1"
Im following the build instructions in the README and get this error in `CouchbaseLitePrefix.h`:

`'CollectionUtils.h' file not found.`

[2014-12-12 20:48] #554 closed, assigned to nobody

[2014-12-12 22:50] #553 closed, assigned to nobody

[2014-12-15 05:30] #552 closed, assigned to nobody

[2014-12-18 16:53] #484 closed, assigned to snej

[2014-12-18 19:03] #509 closed, assigned to snej

[2014-12-19 18:31] #541 closed, assigned to pasin

[2014-12-19 18:59] #476 closed, assigned to pasin

[2014-12-19 19:00] #510 closed, assigned to pasin

[2014-12-19 19:27] #540 closed, assigned to snej

[2014-12-19 21:41] #460 closed, assigned to snej

[2014-12-19 21:45] #544 closed, assigned to pasin

[2014-12-19 22:46] #308 closed, assigned to pasin

[2015-01-02 06:15] nl commented on #521
After making those changes, I get an assertion fire whenever I try to set properties on a (new) document in awakeFromInitializer. https://gist.github.com/nl/67fc4cf3eee4511a1a92

[2015-01-02 06:47] pasin commented on #521
Reopen the issue. This is a bug. The internal document will get created when the database is set, which is after the awakeFromInitializer is called.

[2015-01-04 11:28] mz2 commented on #518
@pasin sorry for the delay -- sounds like based on your experience, issue is unlikely related to simply data size. I've sent the example data separately in email.

Based on watching the logs when this issue hits, the timeout always begins predictably at the same document.

[2015-01-05 16:53] snej commented on #518
I think you CC:d me on the email — our mail server's security checker blocked it saying "too many files in zip archive"(!) You might want to share it via Dropbox or something like that instead.=

[2015-01-05 19:20] pasin commented on #518
I got the same notification. @mz2, could you share it via other methods?

[2015-01-05 21:00] mz2 commented on #518
@snej  & @pasin links now sent separately.

[2015-01-05 22:47] snej commented on #518
@mz2: You said earlier (12/5) that the issue might be "based on a workaround I've put in place in my fork". If you're using a forked version of Couchbase Lite where you've modified the behavior of the replicator, I don't know if it's worth it for us to try to diagnose this. Can you reproduce the problem with a stock build of CBL, ideally from the current master branch?

[2015-01-05 23:29] mz2 commented on #518
I'm not so certain about it really is related to anything in my fork to be honest, I shouldn't really have said that, it was mostly self-deprecation rather than trying to be perceptive at the time :) I just noticed that there was odd behaviour coming from the replicator's NSNotificationQueue based notification posting, it seemed as though notifications noting the completion of a replication were n

[2015-01-06 01:48] #521 closed

[2015-01-06 01:49] pasin commented on #521
@nl, I did fix the issue. Could you check it out?

[2015-01-06 17:56] snej opened #560 "CBLReplication.createTarget=YES causes error when target is on SG"
If you set the `createTarget` property of a CBLReplication, and the target (remote) db is on a Sync Gateway, the replication will fail with an error even if the database exists.

The reason is that the replicator first sends a PUT request to the db URL; it will ignore a 412 response (meaning the db already exists), but but not the 405 (Method Not Allowed) that SG returns. (The gateway returns 405

[2015-01-06 21:59] tleyden commented on #521
Do the api docs need to be updated?

[2015-01-07 23:25] pasin commented on #518
I still couldn't reproduce the issue with your sample. I push my test mac app here:
https://github.com/pasin/Issue-518. I included the framework built from the current master. Your sample database is also included.

@mz2, could you check if I miss anything to reproduce the issue?

[2015-01-08 01:19] pasin commented on #426
We have implemented and merged the heartbeat feature to the master. Closing the ticket now.

[2015-01-08 01:19] #426 closed

[2015-01-08 01:40] #560 closed

[2015-01-08 01:51] snej commented on #521
Yeah; the release-note text I posted earlier describes what changed. The header-docs have been updated, but since we don't have versioned docs on our portal we can't update those until 1.1 is released.

[2015-01-09 04:07] coppercash commented on #460
Have you tried set `Generate Debug Symbols = "NO"` in your build settings when you build your framework?
It works fine on our library, all warnings disappear after I did that.
But your product is `.framework` files, while ours is `.a` file. I don't if there are differences. But there is no harm to try.

[2015-01-09 04:20] snej commented on #460
We want debugging symbols, though. Without them it's much harder to interpret stack traces, which makes debugging a pain.

[2015-01-09 04:26] coppercash commented on #460
You mean **you want** or **your want your users have** debugging symbols?
I suppose you mean the first, coz your uses can only get warnings even if you don't turn it off.

You can have 2 schemes, let us say `release` and `debug`.
When you develop, you build with `debug`, and you get the symbols.
But when you archive your product, you use `release`, which turns off the field `Generate Debug Symbols

[2015-01-09 16:24] snej commented on #460
I think by "users" you mean "developers", right? We want developers to have our debugging symbols in their apps, so that when their app crashes the backtrace has meaningful information in it. So the library we build, that they link against, needs to have debugging symbols in it.

[2015-01-09 19:09] #406 closed

[2015-01-10 07:15] hideki commented on #552
Hi @vinaynb

I have tried to figure out the difference between iOS and Android regarding about setting a cookie from PhoneGap/Cordova app. From your second comment, I understand how you could set cookie for android platform. But I am not sure how you set cookie for iOS from your initial comment.

Could you please provide how you set cookie for iOS from PhoneGap/Cordova app?

Thanks!

[2015-01-10 12:30] vinaynb commented on #552
For ios you don't need to setCookie explicitly in your phonegap app. The only thing you need to do is that whatever api you are calling for authentication you just need to set the cookie with session id obtained from sync gateway, in the header of the response from that api. That is all. Henceforth your all your rest calls will use that cookie automatically.

[2015-01-10 21:51] hideki commented on #552
Hi @vinaynb Thank you very much for your comment.

I am still not clear how you set cookie on iOS. Did you set cookie in document DOM object like “document.cookie=“xxxx=yyyy”;?
Could you please provide us code snippet?
Thanks!

[2015-01-11 07:50] vinaynb commented on #552
i did nothing on the client side (i.e your cordova/phonegap app) to set cookie. No setting anything in the DOM Object.

Just as to clear things what kind of authentication do you have for authentication with sync_gateway in your implementation ?

[2015-01-12 18:26] hideki commented on #552
@vinaynb Thank you for your comment.

Let me confirm. Remote authentication server set cookie. Without any code at client side, the cookie is set in request to sync_gateway server for iOS. For Android, this does not work. so you set cookie explicitly in push/pull replication config.

I am not developing app/service. I am working for tickets which are Android/PhoneGap cookie related. Your experienc

[2015-01-12 18:44] vinaynb commented on #552
You hit the bull's eye. Yes that's correct.

[2015-01-12 22:01] snej commented on #547
#527 was closed.

[2015-01-12 22:01] #547 closed

[2015-01-13 01:12] #514 closed

[2015-01-14 20:16] lichenyang2 opened #563 "ForestDB slow in shutdown and recreate database"
The forestdb is much faster on document creation and update, but it is about 200 times slower on shutdown and recreate databases.

[code]
The same test  ran on 1.0.4-2 is over 100 times faster
[code]
The test case can be found at:
https://github.com/couchbaselabs/iOS-WorkerBee/blob/master/Tests/Test9_LoadDB.m

The following is when breaking down the time to shutdown and recreate database:
For Fore

[2015-01-15 00:00] lichenyang2 opened #564 "ForestDB slower on indexing number of document over 1000"
ForestDB is much faster in indexing when number of documents is under 1000, but about 80% slower when number of document is above 1000.

With ForestDB build from forestdb  branch on 1/13/2015
[code]

With  version 1.0.4-2
[code]
The test case is at:  https://github.com/couchbaselabs/iOS-WorkerBee/blob/master/Tests/Test21_Index.m

[2015-01-15 19:32] jfenderico opened #565 "_active_tasks returns a wrong task status"
The "_active_tasks" endpoint returns a wrong task status when switching between online and offline modes.

Test case:

- Run the app with Internet connection enabled and make a request to the path "_active_tasks". This will return the status "Processed 0 / 0 ..." or "Idle".
- Disable connection (airplane mode) and make the same request. This will return the last status previous before going offlin

[2015-01-15 20:13] snej commented on #565
How are you making the request? I.e. is this a PhoneGap app?
There's no caching in the `_active_tasks` handler, so I don't know why its results would be out of date.

[2015-01-15 20:23] snej commented on #565
Also, what version of Couchbase Lite?

[2015-01-15 21:59] jfenderico commented on #565
I'm sorry for the lack of details. Yes, it's a Phonegap app. I'm using coax to make the HTTP request, but I also tried making the requests from the Safari's console. I'm using The Couchbase Lite version 1.0.3.

[2015-01-16 18:32] pasin commented on #542
Closing as no response. Feel free to reopen the issue if you have updates or more info regarding the issue.

[2015-01-16 19:01] #456 closed

[2015-01-18 06:29] nl opened #566 "save and lockForWriting issues"
For a couple of weeks, using the master branch, I've been having issues with CBL regularly failing to write to the database, and locking up indefinitely.

This manifests in two ways.

1) When starting up my app, I'll sometimes see messages about the SQL database being busy.
*** SQLITE database busy: <CBL_FMDatabase: 0x7ff06ad2b6a0>
*** SQLITE database busy: <CBL_FMDatabase: 0x7ff06ad2b6a0>
*** SQL

[2015-01-19 17:29] snej commented on #566
Yikes. To diagnose that save lockup I'll need to see _all_ threads. Next time it happens, enter `bt all` in the debugger console and post that, please.

[2015-01-20 00:16] snej commented on #563
I can't figure out what Test9_LoadDB is supposed to do. The code is very strange. It looks like it keeps re-opening the same database and adding more documents to it on every iteration, instead of starting over. It's also using two different CBLManagers.

[2015-01-20 00:51] snej commented on #564
How do I get WorkerBee to output tables like what you show above? Mine just dumps a bunch of logs. It also doesn't run 100,000 docs at all, it just logs "SKIP".

From what I can see, ForestDB is much faster at 10,000 docs:

    10000 docs; 865.14; -1.00; -1.00; -1.00; -1.00; -1.00; ;

vs SQLite:

    10000 docs; 3721.35; -1.00; -1.00; -1.00; -1.00; -1.00; ;

That's 4.3x the speed of SQLite. (This

[2015-01-20 00:52] snej commented on #564
BTW, are you sure you built a Release version of the forestdb branch? Xcode by default will build the Debug version, which is much slower.

[2015-01-20 05:51] lichenyang2 opened #567 "ForestDB release version crashed inside the Snappy compression library"
With forestDB release version, running of any perf test cases hung right at the beginning.   According to Jens, it is crashing inside the Snappy compression library.
See the following for stack trace:

[code]

[2015-01-20 16:43] snej commented on #567
I tried but can't reproduce this (building Release config of CBL from forestdb branch, then building WorkerBee with it and running the HeadlessBee target in the simulator.) Li, can you list the exact steps to how you ran this?

[2015-01-20 19:36] lichenyang2 commented on #567
Closing.   Not reproducible.

[2015-01-20 19:36] #567 closed

[2015-01-20 22:24] lichenyang2 commented on #564
The performance does improve with release build:
# docs; 10 B, 1000 B, 100000 B, 500000 B, 1000000 B, 2000000 B,
10 docs; 3.42; 2.71; 10.72; 44.67; 80.66; -1.00; ;
100 docs; 7.37; 8.35; 84.38; -1.00; -1.00; -1.00; ;
1000 docs; 57.52; 53.01; -1.00; -1.00; -1.00; -1.00; ;
10000 docs; 808.65; -1.00; -1.00; -1.00; -1.00; -1.00; ;
100000 docs; -1.00; -1.00; -1.00; -1.00; -1.00; -1.00; ;

To get the out

[2015-01-20 22:24] #564 closed

[2015-01-20 22:31] lichenyang2 commented on #563
The test case was added before me.   I agree.  Removing it.

[2015-01-20 22:31] #563 closed

[2015-01-21 06:28] nl commented on #566
The other threads don't seem to be doing much. Here you go.
https://gist.github.com/nl/6af502153ee532c7f851

[2015-01-21 06:45] nl commented on #566
Oops, it seems lldb when used from the terminal doesn't print everything out. Here's a more thorough backtrace. https://gist.github.com/nl/da19ea994912d4ea16bb
I can confirm the same issue also happens if i revert CBL to the latest release instead of tip of master.

[2015-01-21 18:51] marpal opened #568 "SetDescending not working in android"
Hi,

We are having a problem in the Android version of our product with the SetDescending(true) on a complex query.

Below is a gist with the code.
https://gist.github.com/marpal/c657756acde567067c83

When SetDescending is set to true on the query, then the query returns no row. Without the SetDescending set to true the query returns the correct result.

Thanks,
Martin

[2015-01-21 18:56] pasin opened #569 "Support to-many without inverse relationship in CBLIncrementalStore"
Currently CBLIncrementalStore doesn't support to-many relationship that doesn't up inverse relationship setup. When users fetch an entity such relationships, the relationship property value will be empty.

[2015-01-21 19:08] pasin commented on #568
Please create this issue in https://github.com/couchbase/couchbase-lite-android repo.

[2015-01-21 19:08] #568 closed

[2015-01-21 20:21] ManuTroquet commented on #569
Can you give an example of code that show this bug?

[2015-01-21 20:50] pasin commented on #569
Steps to reproduce:
1. Create a one-to-many relationship without an inverse relationship.
2. Create parent and child objects and save.
3. Try to fetch a parent entity object and check the to-many relationship property in the next runloop to avoid caching.

Here is a quick test:
[code]

[2015-01-21 22:08] pasin commented on #566
Can you provide steps that we can use to reproduce in house?

[2015-01-21 23:07] snej commented on #568
Your startKey and endKey are backwards. For a descending query the startKey should be the higher one and the endKey should be the lower.

[2015-01-23 10:07] nl commented on #566
This seems to happen exclusively when one (or more) documents in the database have several thousand revisions.

[2015-01-23 17:44] pasin opened #571 "Use CBLQueryBuilder in CBLIncrementalStore"
Use CBLQueryBuilder in CBLIncrementalStore so that:
1. View can be auto-generated based on fetch request's predicate.
2. Support more types of predicates such as compound predicates.
3. Simplify query coding logic.

Limitation:
No relationship queries (Join) supported by CBLQueryBuilder. We could detect this and fall back to full-table scan as the current CBLIncrementalStore does when there are no

[2015-01-23 18:29] snej opened #572 "Pluggable storage: Make each engine a separate static lib"

[2015-01-23 18:31] pasin commented on #518
@mz2 can you look into my test app and see what I missed to make the issue reproducible? or If you have any more info, please provide.

[2015-01-23 18:35] snej commented on #520
Overdue update: About a month ago I added namespace support to CBForest, and CBL uses it to store local docs and database info in separate namespaces.

Views are still in separate files, though, because of issues with transactions: CBForest only allows one active transaction per database file, so indexing a view would lock out changes to documents. (That's the status quo with SQLite, but I don't w

[2015-01-23 18:37] snej commented on #572
Before merging forestdb into master, I should break the CBL_Storage implementations into separate static libraries, so the developer can choose to link in the one(s) they want. Otherwise everyone has to pay the code-size cost of ForestDB whether or not they use it.

(I think this is only significant for iOS. On Mac OS X code size isn't as big an issue; also, CBL is built as a true (dynamic) framew

[2015-01-23 22:03] pasin commented on #566
@nl, I understand that you are building the library yourself from the master branch.

Could you change the constant LOG_LOCKS to 1 at FMDatabase.m (https://github.com/couchbaselabs/fmdb/blob/master/src/FMDatabase.m#L21), rebuild the library and reproduce the issue? Setting LOG_LOCKS to 1 will log database acquiring and releasing locking message sequences.

[2015-01-23 23:53] snej commented on #566
The backtrace from 20 Jan shows the main thread blocked waiting for the database lock, while thread 11 (the background/replicator thread) is busy inserting documents. To that extent it looks normal — I don't see any sign of trouble involving the lock itself.

If the app is hung, that must mean that the background thread is stuck inside the transaction and never exits. Are you sure it isn't just ta

[2015-01-26 02:15] #572 closed

[2015-01-26 11:56] ltaljaard opened #573 "CouchbaseConnect2014 demo app fails when updating Xamarin Forms Package"
Hello

When updating the Xamarin.Forms NuGet package in your demo CouchbaseConnect2014 solution (and specifically in the CouchbaseConnect2014.iOS project), I get the following error: "Could not install package 'Couchbase.Lite 1.0.4.1'. You are trying to install this package into a project that targets 'MonoTouch,Version=v1.0', but the package does not contain any assembly references or content fil

[2015-01-26 17:04] snej commented on #573
Hi, this should be filed against [the .NET repo](https://github.com/couchbase/couchbase-lite-net/issues). I'd move it there for you, but Github doesn't let you move issues across projects…

[2015-01-26 17:04] #573 closed

[2015-01-26 23:02] snej opened #574 "Query with limit and postFilter may not return enough rows"
If a CBLQuery has both a limit and a postFilter, it may return fewer rows than it should. The reason is that the filtering happens after the limiting — so it will first get as many rows as the limit, then remove the ones that don't match.

This doesn't match what people probably expect, and it definitely doesn't match what the QueryBuilder promises.

The fix is probably to skip setting a limit on

[2015-01-29 02:39] pasin opened #575 "Setting value to QueryOptions inclusiveStart and inclusiveEnd is ignored"
Setting inclusiveStart=NO and/or inclusiveEnd=NO to the Query doesn't have any affect to the results as the both values are being ignore (always use the default value which is set to YES).

[2015-01-29 04:38] #575 closed

[2015-01-29 22:43] CapoChino opened #576 "New object notification not generated when using CBLIncrementalStore"
On 2 devices, I'm running the [Recipe example] (https://github.com/couchbaselabs/cblite-coredata-sample-ios) that uses CBLIncrementalStore.  When I edit an item on one device, the change is propagated to the other device.  That's great.  However, when I create a new Recipe on one device, the behavior isn't perfect.  The addition does indeed sync to the other device, but the NSManagedObjectContext

[2015-01-30 01:36] snej commented on #576
@pasin is currently working on NSIncrementalStore so I'll assign this to him.

[2015-01-30 18:31] jchris opened #577 "MapBlock not registered on app upgrade"
In development when updating the install of an app (after a rebuild), the views stop working. They work fine on first install.

Here are logs from CBL:

[code]

[2015-01-30 19:11] zgramana commented on #256
@snej: @pasin needs to discuss some side effects of the PR with you.

[2015-01-30 19:16] snej commented on #577
I think this is a bad interaction between JS-based views and the 1.0.3(?) optimization that indexes multiple views at once.

With a JS-based view, the map/reduce blocks are registered lazily when the view is queried through the REST API. But when the indexer is told to index a view and finds the associated views (with the same name prefix) to index along with it, those views don't go through that

[2015-01-30 20:35] jchris commented on #577
If we have any questions for the user, put them here and I'll forward them along.

[2015-02-02 19:54] hideki opened #578 "View not indexing older revisions"
This issue was originally reported for CBL Android. I observed same issue with CBL iOS

For details, please refer https://github.com/couchbase/couchbase-lite-android/issues/494

[2015-02-02 20:28] #577 closed

[2015-02-02 21:22] snej commented on #578
Yup, I reproduce it too. The problem is that the revision that was just added is a deletion, and the SQL query used by the view indexer skips deletions since they normally don't get indexed. But in this case the deletion makes an earlier revision become the winning one.

It looks like the quick fix is to remove `AND deleted=0` from that query. Unfortunately that will slow down indexing somewhat, b

[2015-02-02 22:28] #578 closed

[2015-02-02 22:58] pasin opened #580 "CBLQueryBuilder Descendant Sort Not Working"
To test the issue, uncomment test00_Sorting in QueryBuilder_Tests.m.

[2015-02-02 23:13] snej opened #581 "SQLite storage optimization by extending the revs.current column"
I think we can speed up the SQLite-based storage by extending the meaning of the `revs.current` column. Currently it's a boolean (0 or 1) that indicates whether the revision is a leaf. I'm thinking of adding a new value 2 that indicates that the revision is the document's _current_ ("winning") revision.

* This will make it more efficient to keep track of which revision is the winner, which curren

[2015-02-02 23:39] #580 closed

[2015-02-03 09:02] #576 closed

[2015-02-03 16:28] #518 closed, assigned to pasin

[2015-02-04 20:52] snej opened #584 "Router should support "?stale=" parameter on view query requests"
Our REST API implementation doesn't support the `?stale=` query parameter from the [CouchDB API](http://docs.couchdb.org/en/latest/api/ddoc/views.html). This means there's no way for a PhoneGap client to query a view without updating the index first.

[2015-02-05 01:10] pasin commented on #526
Based on my research and observation on Apple iOS Core Data:

1. Setting `allowsExternalBinaryDataStorage` property (A.K.A Allows External Storage option in XCode's Model Design Tool) of the `Binary Data` attribute type (The other attribute types don't have this option) does enable CoreData to heuristically store the data in an external storage.

Based on my simple experiment in an iOS app, when t

[2015-02-05 10:32] SebastianBO commented on #543
NSHTTPCookieStorage *cookieJar = NSHTTPCookieStorage.sharedHTTPCookieStorage;
    for (NSHTTPCookie *aCookie in cookieJar.cookies) {
        if ([aCookie.name  isEqual: @"SyncGatewaySession"]) {
            [cookieJar deleteCookie:aCookie];
        }
Works for now i guess? Best Regards

[2015-02-05 22:04] CapoChino commented on #576
Fix worked for me, thank you @pasin!

[2015-02-08 21:26] nl opened #585 "[ForestDB] No such table: attachments"
Getting crashes after updating local CBL db from SQLite to ForestDB.
https://gist.github.com/nl/30fb1e7230be59a896d5

[2015-02-08 23:31] spritesun commented on #460
What's the current recommend fix for this issue. Why it's closed. Should my team wait until 1.1.0?

[2015-02-09 02:54] pasin opened #586 "Fatal runtime error on launch of ToDoLite: "no CBL_SQLiteStorage class found""
I built the framework from the master branch, tested with ToDoLite app and got the following error:

[code]

I checked the codes under the Storage folder and found that CBL_SQLiteStorage's target is set to `CBL Mac` only. Most of the files in the Storage folder was configured the same way.

@snej, could you revise this?

[2015-02-09 03:06] pasin commented on #460
The issue was fixed in fe092a93e5b8b5dce390d299bcd032f5bb645a0e, but that was not included in v1.0.4 which is waiting for an official release either. To get the fix now, you will need to build the framework from the master branch. Sorry for the inconvenience.

[2015-02-09 03:12] pasin opened #587 "sqlite3-unicodesn submodule was not included in vendor folder"
The `sqlite3-unicodesn` submodule is missing from https://github.com/couchbase/couchbase-lite-ios/tree/master/vendor. Somehow when I updated the submodule, sqlite3-unicodesn was downloaded but the folder is untracked.

[code]

[2015-02-09 03:38] spritesun commented on #460
Thanks so much. We are using the master now.

--
Long Sun
Kind Regards

On Monday, 9 February 2015 at 2:06 pm, Pasin Suriyentrakorn wrote:

[2015-02-09 04:16] snej commented on #585
Looks like there was one reference left to the `attachments` table that no longer exists in the SQLite schema. I'll fix it.

[2015-02-09 09:08] nl opened #588 "[ForestDB] Crash when running view query"
Using forestdb, this crash (https://gist.github.com/nl/6785bd2a1432e9fe9745) happens every time I call a query (https://gist.github.com/nl/6537fbcde93fca03611d) on this view (https://gist.github.com/nl/c300772599d7816c10f5).

[2015-02-09 17:35] snej commented on #586
No, CBL_SQLiteStorage is also in the "CBL SQLite Storage" target, and that library gets copied into CouchbaseLlite.framework in iOS.

[2015-02-09 17:39] snej commented on #586
My built framework has that class:

[code]

[2015-02-09 17:45] #585 closed

[2015-02-09 17:46] snej commented on #587
It used to be a submodule of couchbxse-lite-ios, but now it's a submodule of CBForest. You can delete the obsolete folder.

[2015-02-09 17:46] #587 closed

[2015-02-09 17:47] snej commented on #460
@spritesun The master branch is currently in an unstable state, as major features just got merged into it. I wouldn't recommend switching to it right now.

Is there a reason the linker warnings are a serious issue for you? I know they're annoying, but they should not be breaking your build.

[2015-02-09 17:49] snej commented on #460
If you really want the fix now, I would recommend updating to commit aeb996a (tagged `forestdb_merge_before`) but no further.

[2015-02-09 17:51] snej commented on #588
[code]

[2015-02-09 17:53] pasin commented on #586
I will rebuilt and retested this and let you know.

[2015-02-09 18:00] snej commented on #588
Is there a warning logged just before this? AFAICT, the only way this can happen, there'd be a warning of the form `Unable to open index of...`.

[2015-02-09 19:51] #588 closed

[2015-02-09 22:00] snej commented on #581
I gave up on this; it didn't result in any measurable speedup, partly because it was trickier than I though to determine whether a doc is in conflict, so there were some SQL queries I couldn't get rid of during the update.

[2015-02-09 22:00] #581 closed

[2015-02-09 22:06] snej commented on #442
The commit was merged on Dec 19, but this issue didn't get closed then. Closing it.

[2015-02-09 22:06] #442 closed

[2015-02-09 22:17] pasin commented on #586
I still have the same issue. My nm result was the same as yours:

[code]

[2015-02-09 22:18] pasin commented on #586
Do we still build the framework for iOS with `Continuous iOS` scheme?

[2015-02-09 22:31] tleyden commented on #442
I added a ticket to java-core to port this: https://github.com/couchbase/couchbase-lite-java-core/issues/417

[2015-02-09 23:10] #574 closed

[2015-02-09 23:16] snej commented on #586
I think so. But the scheme doesn't really matter for this, the target does. The Build Phases for the "CBL iOS Library" target link the library libCBLSQLiteStorage.a, which contains that class.

[2015-02-09 23:18] spritesun commented on #460
@snej Cheers. Then we use aeb996a

[2015-02-09 23:33] snej commented on #586
Turns out the ToDoLite target was missing the `-ObjC` linker flag. The result was that the linker decided to dead-strip the CBLSQLiteStorage class, because there are no direct references to it elsewhere in the code (it's kind of a plug-in, so it's only looked up dynamically via `NSClassFromString`.) Adding `-ObjC` to "Other Linker Flags" fixed the problem.

I'm pretty sure we already tell develope

[2015-02-09 23:33] #586 closed

[2015-02-10 01:53] snej commented on #571
Can this be closed now that the PR has been merged? Or is there more work?

[2015-02-10 01:57] pasin commented on #571
This can be closed now.

[2015-02-10 01:57] #571 closed

[2015-02-10 01:59] snej opened #590 "Optimize indexing by letting view specify a "type" value"
It's very common for a view to index only a particular type of document, as indicated by its `type` property. So the map block will often start with `if (![doc[@"type] isEqual: @"sometype"]) return;`.

If we allowed a view to state that it only applies to docs with a specific `type` value, then the indexer could use that information to avoid a lot of wasted time fetching and parsing irrelevant doc

[2015-02-10 02:13] pasin opened #591 "CBLIncrementalStore - Change type property name from 'CBLIS_type' to 'type'"
Property name 'type' becomes standard that many developers are using and CBLModel also supports that out of the box. We should just change the type property name from `CBLIS_Type` to just `type`.

[2015-02-10 02:16] #256 closed

[2015-02-10 02:17] snej commented on #256
Fixed one week before its first anniversary :D

[2015-02-10 02:22] snej commented on #590
Note 1: CBLQueryBuilder can make use of this by checking whether the map predicate tests doc.type.

Note 2: If we want developers not using CBLQueryBuilder to use this, we'll need an API addition — something like a `CBLView.documentType` property.

[2015-02-10 09:37] nl commented on #536
This is still very much a showstopper for using continuous replications in Mac apps.

[2015-02-10 09:46] nl opened #592 "CBL 1.0.4 - Rare/minor dealloc issue"
For some reason, using CBL 1.0.4 and creating/starting/stopping replications every few seconds, I got this random crash. It happened only once, but just in case someone's interested... https://gist.github.com/nl/0e6911935526abf090aa

[2015-02-10 16:21] snej commented on #536
[Logs here](https://gist.githubusercontent.com/nl/22abd61c0e880171ae7f/raw/ceecc22a1aa6552692a4ff05218c86c91ec7746f/gistfile1.txt).

There are some well-known networking bugs in 10.10, especially having to do with DNS and Bonjour, and I wonder if they're what's causing this. (But @nl said in #522 that this happens on 10.9 as well...)

[2015-02-10 16:22] snej commented on #536
@pasin, didn't you change the replicator so it tries to connect whether or not Reachability says the server is reachable? I remember that being discussed a few months ago...

[2015-02-10 16:27] snej commented on #592
Interesting — both the main thread and the replicator thread are dealloc'ing a CBLReplication, with nearly identical stacks. If it's the same instance, then that would explain the crash. But it shouldn't be possible for an object's -dealloc to be called on multiple threads, since ref-counting is thread-safe.

On the other hand, it could be different CBLReplication instances, in which case it's jus

[2015-02-10 16:43] nl commented on #536
I believe this change affected one-shot replications, not continuous. I can confirm one-shot replications don't exhibit this odd reachabilty behavior, and that whenever I run into this bug with continuous replications (in 1.0.4), switching them to noncontinuous fixes it and the revisions atart pushing/pulling right away.

[2015-02-10 17:00] pasin commented on #536
We rolled back all the changes as we don't have a complete solution.

We tried to change the replicators to connect anyway and use the reachability only for triggering the retry logic in replicators and change trackers. The replicator also has an option to set network type (WiFi or Cell).

As we can't use the reachability to detect and limit network access, we tried to limit network type access by

[2015-02-10 17:14] pasin commented on #536
@nl , we haven't put the fix for both one-shot or continuous replicator. Does this mean that the reachability is correct first time but the reachability is not reliable when switching the network on / off?

[2015-02-10 17:17] nl commented on #536
I'm only experiencing the bug for continuous replications. Here's what that means, whenever the bug happens (which isn't always, but when it does, it does until I reboot my Mac or switching the network on/off):
I build my app with continuous replications. The replications aren't firing, and they should.
I change the continuous = YES to NO in Xcode and build & run. The replications fire.
I change t

[2015-02-10 17:21] pasin commented on #536
You are right. We made the fix only for a single replication.

https://github.com/couchbase/couchbase-lite-ios/blob/master/Source/CBL_Replicator.m#L354-L355

[2015-02-11 05:25] snej commented on #588
It shouldn't crash anymore, but something's still wrong and I'd like to know what the warning is…

[2015-02-11 05:38] nl commented on #588
Thanks. I had to resume work on my main branch which doesn't use ForestDB, but next time I try it out I'll report back if I see any warnings.

[2015-02-11 19:41] snej opened #594 "iOS file protection modes aren't being applied to ForestDB database files"
CBLManager allows the app to configure the iOS file-protection (encryption) mode used by files created by CBL. But this property hasn't been plumbed through to ForestDB, so it will always create files with the default protection mode.

This is basically pretty easy, except that the filesystem calls that create database files are in ForestDB itself, so this may require some tweaks to ForestDB.

[2015-02-12 01:20] #594 closed

[2015-02-12 18:53] snej opened #596 "LiveQuery should re-run query from scratch after options are changed"
Changing the query options of an already-running CBLLiveQuery should be supported, and should re-run the query from scratch (regardless of the view's current sequence number.)

[2015-02-13 13:30] atkit commented on #596
thanks

[2015-02-13 19:50] lordkev opened #597 "iOS Dynamic Framework / Module support"
Opening this per the list discussion here:

https://groups.google.com/forum/#!topic/mobile-couchbase/q2kLQv01LKQ

This would allow the library to be built as an iOS 8+ dynamic framework under a new additional target. Should have a PR incoming in the next few days.

[2015-02-14 02:21] marbetschar opened #599 "Sync pull replication not working"
I'm trying to implement sync in my iOS app. I can see the push/pull are running and the documents are sent to the Couchbase Server (seeing them in the Admin Console).

But for some reason, pulling the data to other devices does not store them in the Couchbase-Lite catalog (when I'm opening the Couchbase-Lite database of iOS Simulator I can't see newly added documents of another device).

That's th

[2015-02-14 02:37] pasin commented on #599
Can you enable 'Sync' and 'SyncVerbose' log and post the log messages?

[code]

[2015-02-14 02:45] marbetschar commented on #599
Hi Pasin! Thanks for helping out!!
Sure, I got the following by enable the login.

03:41:17.971‖ SyncVerbose: CBL_Pusher[http://biz.mandelkind.ch:4984/mandelkind/]: Queuing #154 {11802F2A-3343-43BA-8D7C-6C8CB8FEFCAB #1-db79d018a4acd5db013db099335fc64f}
    03:41:17.971‖ Sync: CBL_Pusher[http://biz.mandelkind.ch:4984/mandelkind/] Progress: set active = 1
    03:41:17.971‖ SyncVerbose: CBL_Pusher[ht

[2015-02-14 03:04] pasin commented on #599
I don't see anything wrong from the log. The puller just didn't get any docs. I suspected that the issue might be at the sync function. Can you check the sync function if you granted the user (your simulator user) to the channel that you put the document into?

[2015-02-14 03:06] marbetschar commented on #599
I did not specify any channel yet - how may I do this? The code posted in my first comment is truly everything I've took in place till now :(

[2015-02-14 03:21] marbetschar commented on #599
Wow!

The reason was, I didn't specify the channels for the user on the sync server. The user had a configuration like the following:

    {"name":"mandelkind","all_channels":[]}

After mutating the user using the Sync REST API:

    curl -X PUT localhost:4985/mandelkind/_user/mandelkind --data '{"admin_channels":["*"]}'
    {"name":"mandelkind","admin_channels":["*"],"all_channels":["*"]}

Things

[2015-02-14 03:32] pasin commented on #599
Glad to hear that you make it working.

If you wanna see some samples of sync-gateway config, you may look at these repos:
https://github.com/couchbaselabs/TodoLite-iOS
https://github.com/couchbaselabs/Grocery-Sync-iOS

The Sync Gateway documentation is [here] (http://developer.couchbase.com/mobile/develop/guides/sync-gateway/index.html).

We also have a user [forum] (https://forums.couchbase.com/

[2015-02-14 03:32] #599 closed

[2015-02-14 19:51] #584 closed

[2015-02-16 23:26] jpaas commented on #542
Sorry I haven't had time to try and create an isolated app that demonstrates this issue. Instead I developed a workaround which was to stop and restart the query on first app launch. I can reproduce it easily with my app in both the simulator and on a device. I captured the logs with verbose logging on to compare the first launch vs the second. One thing I realized is that on first launch, the vie

[2015-02-17 00:07] pasin commented on #542
@jpaas, thanks for getting us back. I reopened the issue.

From my first look at your both logs, the difference is that on your first lunch, the live query didn't get the database change notification (assuming that there is no more log messages after that).

[2015-02-17 03:01] jpaas commented on #542
That is the end of the log for both launches. At least that is as much that is logged after adding the first model to the list.

[2015-02-17 05:07] pasin commented on #542
@jpaas , I just have a chance to look at your comment and your log closely.

You mentioned about view indexing on line 12:
[code]
Normally the message `Will update after xxx sec` is logged when a CBLLiveQuery object gets a database change (kCBLDatabaseChangeNotification) notification. During your first launch, do you have another thread loading some document into the database while setting up the

[2015-02-17 05:26] pasin commented on #542
Now I can reproduce the issue by adding a new document before setting a live query and the tableview datasource object.

[2015-02-17 13:46] jpaas commented on #542
My app's startup sequence goes like this:

1. The initial view (MigrationViewController) is basically a splash screen where I set up the database.
2. When MigrationViewController appears, it sets up the main thread database instance and runs any database migrations.
3. MigrationViewController sets up the background database instance
4. MigrationViewController then replaces the rootViewController o

[2015-02-17 13:52] jpaas commented on #542
No the background database instance is not the issue. According to the log it completes before TeamsViewController.viewDidLoad is called. I even commented out the background db initialization and the TeamsViewController live query still doesn't update after adding the first model.

[2015-02-17 20:37] #596 closed

[2015-02-18 17:03] #542 closed

[2015-02-18 18:22] pasin commented on #542
@jpaas Thanks a lot for all of the information you provided. I was able use your information to reproduce the issue. The issue was that if there is a document (or more) added prior to creating a live query, it could cause one of the flags (called willUpdate) inside the live query not get reset as a result the live query will stop updating itself when there are new documents put into the database.

[2015-02-18 18:33] jpaas commented on #542
No problem at all. Thank you @pasin and @snej for always being so responsive to any reported issues. I'll try it out in the next couple of days and let you know.

Its true that I am creating a document before the live query is created. But its a document with a type that does not fall into the query, so I didn't really consider it. If this fixes it, I think it will fix at least a couple of bugs in

[2015-02-19 05:03] atkit commented on #596
Am I correct, every time we change LiveQuery parameters we should call:
[code]
as well

[2015-02-19 05:16] pasin commented on #596
Yes, you are correct.

[2015-02-19 05:26] snej commented on #596
Rationale was that there are a _lot_ of properties that can be set, and we thought it wasn't worth creating custom setters for every single one of them to detect changes (or adding dozens of KV observers.) Especially since it's likely you'll change more than one of them at a time, so there'd be extra complexity to wait for you to stop making changes before triggering the query...

[2015-02-19 15:45] pasin commented on #592
@nl I plan to look at this issue some time this week or early next week. I would need to gather some more information and hopefully I can reproduce this. Look like we have ARC racing condition here.

Are you using continuous replicators?
Are you using push or pull or both? Do you know which one crashed?
Do I understand correctly that when you called the replicator's stop method, you created a new

[2015-02-19 16:34] joshblour commented on #315
@akalvapalli i was able to get p2p replication working over wifi but i just realized that it doesnt work out of the box over blutooth. Would you mind sharing how you managed to get it working?

[2015-02-19 16:58] snej commented on #315
If you're using NSNetService to discover peers, you should get Bluetooth support "for free". When the Bonjour daemon discovers a peer on BT, and you then ask to resolve the address, it constructs a network interface that tunnels IP through BT and gives you an address on that. In other words, opening a TCP connection to that IP address will tunnel the traffic through Bluetooth.

(The same goes for

[2015-02-19 17:04] joshblour commented on #315
@snej Thanks for the quick reply! I'm using NSNetServiceBrowser to find and resolve services, but the delegate never gets called with 'foundservices' when only bluetooth is on. I had a look through bonjour part of CBListener and noticed that it doesn't set "includesPeerToPeer = YES". could that be a factor?

[2015-02-19 18:18] jchris commented on #526
@ManuTroquet it would help to hear what you are wanting to do with external storage / records. Is it about plug in compatibility with existing code? Eg will your app crash without this, or just run slow?

I took a look at your pull request and the questions that I come up with are around details like base64 encoding etc where one of our engineers who knows our internals might be able to come up wi

[2015-02-19 18:56] snej commented on #315
Oh! Yes, that sounds like the cause. If you'd like to add that line and see if it fixes your situation, we'd love a pull request. Otherwise please file an issue pointing out the problem.

[2015-02-19 22:39] pasin commented on #526
@ManuTroquet , I have reviewed your PR with @snej and @zgramana and we are sorry that we will not accept the PR. The main reason is that :
1. The PR overrides the actual meaning of the `isStoredInExternalRecord` property, which is supposed to use for Mac Spotlight indexing and have no effect on the iOS platform. Using the property for something else would confuse other developers either Mac or iOS

[2015-02-19 22:39] #526 closed

[2015-02-19 23:03] pasin opened #605 "CBLIncrementalStore - Support query via abstract entity"
When querying via an abstract entity, the result should include all sub-entities' query result as well.

[2015-02-20 11:57] joshblour commented on #315
So that was it! I added the following snipped to the 'publishBonjour' method of HTTPServer.m and it worked like a charm.

[code]

I'd love to submit a pull request but I could use some guidance on how to do it properly.

The publishBonjour method is a private method belonging to CocoaHTTPServer. I suppose the 'right' way to do it would be a pull request to them which makes this 'includesPeerToPeer

[2015-02-20 17:35] snej commented on #315
Let me take a look…

[2015-02-20 19:08] snej opened #606 "Inverse relation support for CBLModel"
Add CBLModel support for computed inverse-relation properties (a typical ORM feature, also found in Core Data.)

For example, if the `Album` class has a relation `@property Artist* artist` (i.e. the JSON property value is the docID of a document corresponding to an `Artist` model), then it should be possible to define a property on `Artist` like `@property (readonly) NSArray* albums`, whose value

[2015-02-20 19:10] snej commented on #606
It's also possible to query the inverse relation explicitly, by calling:

[code]

[2015-02-20 19:31] snej commented on #315
Added it. (We actually have our own fork of CocoaHTTPServer since there are other custom changes we've needed to make.) Thanks!

[2015-02-20 19:33] snej commented on #315
I'm going to close this issue since we haven't heard from the originator in 8 months and there's not any information in the report to diagnose the performance problem.

@akalvapalli, if you still have this problem and want to diagnose it, just post the details here and I'll re-open it.

[2015-02-20 19:33] #315 closed

[2015-02-20 19:39] snej commented on #168
See also the more-recent internal [design doc](https://github.com/couchbaselabs/couchbase-lite-api/wiki/Delta-Compression).

[2015-02-21 13:49] nl commented on #592
In my tests, I'm using both push and pull, mixed continuous and non-continuous replications. You're right about the no-delay: I'm stopping a replication and creating/starting a similar one immediately. I do this every few seconds. Here's a similar crash: https://gist.github.com/nl/9e94ebc9293073105ce4. It's not dealloc anymore, but it only happens in this same scenario (rapid creation/deletion of

[2015-02-21 17:53] jpaas commented on #542
Confirmed that this now works in head(1.4). Thanks.

[2015-02-22 12:50] nl opened #608 "Pull replication missing documents from SG channel"
This scenario might be hard to diagnose, but it has been happening consistently to me for months and months, so I'll try to start a conversation around it and hopefully someone will have a brilliant idea of what's going wrong.

Sync Gateway is setup with shadowing and a sync function with many channels (hundreds). The sync function doesn't give access to channels to any users. The json config file

[2015-02-22 18:20] snej commented on #608
This might equally well be a Sync Gateway issue. Any ideas, @adamcfraser / @ajres / @tleyden ?

[2015-02-23 17:53] adamcfraser commented on #608
I'm wondering about the _resync step.  Jens - do you recall whether that has the potential to update the set of channels on a document without updating the sequence number for that document?  In that scenario you'd end up with documents added to channel X, but with sequences earlier than the client's 'since' value that wouldn't get synchronized.

[2015-02-24 07:43] pasin commented on #608
@nl You mentioned that the issue did happen again in a couple week after resetting the database. Between the time that you reset the database and the time that you see the issue happening again, have you also changed the sync function and/or called _resync?

[2015-02-24 07:45] nl commented on #608
I think so, cause I tend to tinker with the sync function every so often, but I'm not positive. I'll keep an eye out for this though and report back if I see the bug again without touching the sync function.

[2015-02-26 02:21] #606 closed

[2015-02-26 17:56] pasin commented on #566
@nk Per Jens's comment, does the lock stay forever or is it just very slow (due to high # of docs)?

If you think there is a real dead lock issue here, could you provide me more information that I can use to reproduce?
1. # of document, document & attachment size.
2. # of revision of each document on Avg. High # of revisions that you think it causes the issue.
3. What are the scenarios/steps to ca

[2015-02-26 18:19] hermanccw opened #610 "crashes when calling [CBLManager allDatabaseNames]"
Hi all,

I am getting the following crash;

[code]

It seems like it is failing on a line when I called allDatabaseNames: (https://github.com/couchbase/couchbase-lite-ios/blob/release/1.0.4-hotfix1/Source/API/CBLManager.m#L381-L388)

Any idea will be greatly appreciated.

- Herman

[2015-02-26 18:55] hermanccw opened #611 "crash when calling CBLModel's initWithNewDocumentInDatabase"
Hi all,

Another crash in production:

[code]

This happens when I try to call initWithNewDocumentInDatabase (https://github.com/couchbase/couchbase-lite-ios/blob/release/1.0.4-hotfix1/Source/API/CBLModel.m#L53-L60) .  It seems like that it think there is a document there already where initWithNewDocumentInDatabase pass in nil when calling initWithDocument.

Could this be a multi-threading bug?  N

[2015-02-26 19:34] pasin commented on #611
FYI, release/1.0.4-hotfix1 branch is specifically for a customer who had an issue with the PhoneGap platform but you are welcomed to use it.  The release/1.0.4 will be officially announced soon.

Regarding to your issue, do you override `idForNewDocumentInDatabase:` method? If YES, would it be possible that it generated the id that has already been taken?

[2015-02-26 19:43] pasin commented on #610
From your BT, I didn't see any exceptions or anything about crash. Is this the thread that has been crashed? I might miss something, but can you double check and confirm?

[2015-02-26 19:50] hermanccw commented on #611
@pasin Sure, understood about 1.0.4-hotfix1

I do override idForNewDocumentInDatabase: because I want these type of doc to have a specific document id.  How can I then create a model if my ```userFlag``` method returns nil? Do I have to create the document first then call ```modelForDocument:``` ?

[2015-02-26 19:55] hermanccw commented on #610
Oops!  Yeah, that's my fault.  nothing related to cbl.  closing this.

[2015-02-26 19:55] #610 closed

[2015-02-26 20:02] pasin commented on #611
As of v1.0.4, either calling initWithNewDocumentInDatabase: or modelForDocument: is fine.

I think the root cause of the issue is that the id of the document has already been used by another document bound with a model. I guessed that you may have race condition issue in idForNewDocumentInDatabase. Can you check that?

[2015-02-26 20:43] hermanccw commented on #611
Alright, I'll try. thanks for looking into this.

[2015-02-26 20:43] #611 closed

[2015-02-26 21:42] pasin commented on #592
I was trying to reproduce but still no luck. I have setup 2 pushers (one-time and continuous) and 2 pullers (one-time and continuos). I started, stopped and recreated those replicators every 2 seconds for 200 times, and everything worked as expected. I tested this on a mac app as I remembered that you are developing a mac application (let me know if I'm wrong).

Anyway, does this issue happen to y

[2015-02-27 00:11] pasin commented on #565
I just tested it with the phonegap plugin (v1.0.3-64bit) installed directly from the [Couchbase-Lite-PhoneGap-Plugin] (https://github.com/couchbaselabs/Couchbase-Lite-PhoneGap-Plugin) repo which includes couchbase-lite-ios v1.0.3.1.

However I couldn't reproduce the issue. When the airplane mode is on, the status was 'offline' and when the airplane mode is off, the status was 'idle'. I looked at t

[2015-02-27 07:47] nl commented on #592
You're right about the Mac thing. I worked around the issue using your first hint: I start the 'new' replication after a slight runloop delay instead of right away after issuing the async stop on the 'old' replication.

[2015-02-27 07:50] nl commented on #566
I think the issue is it gets very slow and/or never finishes because of the high number of revisions. i don't think it's a deadlock, cause I can see CPU consumption at 100% with no app usage other than CBL housekeeping: threads aren't sitting there idling. I'm not seeing this with 1.0.4, only master, so I've reverted to 1.0.4 but will give master a try again soon.

[2015-02-27 11:26] jfenderico commented on #565
I check out the status in my code every one or two seconds and, as I explained in the issue description, you get the wrong status only when you change the airplane mode.

The test case would be like the following:
- Run the app with airplane mode off. This will work well. You'll see "Processed ..." status on every function call until the status changes to "Idle.
- Now, change to airplane mode on.

[2015-02-27 16:26] snej commented on #566
Could you please get a CPU sample of the app while it's in this state?

[2015-02-27 22:24] marbetschar opened #612 "Error saving CBLModel in iOS"
Hi!
I'm trying to save a CBLModel with the following property definition:

    @NSManaged var calendardates: NSArray

Containing the following value

    (
        {
            label = "B781C88C-D0DA-4E78-A600-6E788D774C45";
            value = "2015-02-27 22:21:39 +0000";
        }
    )

Unfortunately this does not work since I receive the following error:

    2015-02-27 23:21:42.672 biz[48763

[2015-02-27 22:40] pasin commented on #612
Is the value's data type NSDate or String?

FYI, NSDate is not  a valid JSON date type. To store NSDate values in a JSON document, you will need to convert them into ISO-8601 format. You can sue CBLJSON utility class to do that:

[code]

[2015-02-27 22:52] marbetschar commented on #612
Hi Pasin! The value's dat type is NSDate - so this seems to be the issue?
How may I best intercept storing and loading the values in the array? So the NSDate is converted to ISO and vice versa?

[2015-02-27 23:34] pasin commented on #612
If you want to store date value in a dictionary (JSON Doc), you will need to convert it to ISO-8601 format.

Per your intercepting question, there is a function called `willSave(changedPropertyNames: NSSet!)` that you call override and modify data before save, but I do not recommend this as you are going to change the data type (you will end up having to deal with 2 data types (NSDate and NSString

[2015-02-28 01:03] pasin commented on #565
First I don't see any update or bug fixes related to this issue. Anyway, I did try to reproduce this second time this afternoon by using your steps but still no luck. I did get your 2nd bullet once but it was my mistake that I had both airplane and wifi mode enabled at the same time. I tested with an iPhone 6 (8.1.2) and looked at the javascript console from the safari (8.03)'s web inspector on my

[2015-02-28 01:19] pasin commented on #612
I'm closing the issue now. Feel free to post any more comments or reopen the ticket if you found a bug.

[2015-02-28 01:19] #612 closed

[2015-02-28 01:23] pasin commented on #592
I'm closing this ticket now as I cannot reproduce but I will keep an eye on this. Feel free to reopen the  ticket if you encounter the issue again or have more information that can help investigating the issue. Thanks a lot anyway for reporting the issue.

[2015-02-28 01:23] #592 closed

[2015-02-28 03:23] snej commented on #612
You may want to create a custom class for the array values; the class would store the label and date. Then you need to make the class implement the `CBLJSONEncoding` protocol, so it can load/save to JSON. Your model class would declare that the array items are instances of that class.

[2015-02-28 11:38] marbetschar commented on #612
Ok thanks! Seems like I'd have to go down the CBLJSONEncoding route.
There is just one last question left.

I've implemented the object according to the docs and your advice as follows:

    @objc(NSLabeledDate)
    class NSLabeledDate: NSObject,CBLJSONEncoding{
	var value: NSDate?
	var label: NSString?

	required init(JSON jsonObject: AnyObject!){
		println("JSON")
		let json = jsonObject as [Str

[2015-03-01 05:01] snej commented on #612
I'm not sure what's wrong. Try setting a breakpoint in the `calendardatesItemClass` method, and see if it gets called when a model is loaded.

(Also, btw, you should never begin a class name with `NS`. That prefix is reserved by Apple.)

[2015-03-01 12:16] nl commented on #608
Even without resyncing, I can confirm CBL ultimately misses documents from the gateway.

[2015-03-01 12:17] nl opened #613 "-[CBL_Puller pullBulkRevisions:] crash"
This crash happened during a pull replication from the gateway in CBL 1.0.4.
https://gist.github.com/nl/6ebd699c515d0078b2b6

[2015-03-01 17:31] snej commented on #613
[code]

[2015-03-01 19:07] pasin commented on #608
Thanks for reporting back.

Can you describe a little bit more about your puller setup?
- How many pullers (on the same missing doc channels) are you running at the same time? and Are they continuous or one-time?
- Are you running all of your pullers on the same thread?
- Are these pullers the ones that you start/stop/recreate every few seconds?

[2015-03-01 19:49] pasin commented on #608
Also do you have any logs (CBL and SyncGateway) that you can share when you saw that the docs are missing from the pull replication?

[2015-03-01 22:29] Jamiltz commented on #521
Tried using the new changes with swift.
Ran into compiler errors because objective-c convenience constructors (class methods) are bridged to Swift as convenience initializers (see http://stackoverflow.com/questions/24295476/swift-can-not-use-nsimage-imagenamed?answertab=votes#tab-top).
So `+ (instancetype) initWithDocument:` is bridged to `init(document: Document)` as a swift convenience init.
Whe

[2015-03-02 01:21] snej commented on #521
With the recent API change, you shouldn't have an initializer in a CBLModel subclass, and you shouldn't instantiate models by calling initializers. Instead, you should override `-awakeFromInitializer` to perform initialization tasks.

[2015-03-02 06:35] nl commented on #608
- I'm running a few dozen pullers, but each one is pulling a different channel. So the answer to your question is one.
- I don't use any custom threading for CBL, and the few dozen pullers I'm talking about are different processes on different machines, all pointing to the same gateway.
- Because continuous replications are doomed on OS X, I run one-time replications, wait for them to finish, wait

[2015-03-02 13:43] marbetschar commented on #612
Ok, Thx!

[2015-03-03 02:36] pasin commented on #613
As the crash happens inside the block, the crash log doesn't reveal exactly where the crash happened. I tried to reproduce the crash myself by simulating an error based on your log in several ways that I can think of but I still have no luck.

Can you help trying to make the app crash again with zombie enabled? or at least, can you capture where the XCode highlights when the app crashes?

[2015-03-03 03:10] pasin commented on #613
Wait! I think I was able to reproduce it. To reproduce it, the error code needs to be one of the permanent errors which will causes the stop method to get called when setting the error. I hope this is the same scenario that you encountered. It would be great if you can let me the error code that you got when the app crashed.

[2015-03-03 03:11] snej commented on #613
Well, we know it's 425 bytes into the block. If you check out the 1.0.4 tag and disassemble the optimized x86-64 version of CBLPuller, you can look at what's at that offset past `_block_invoke274`.

[2015-03-03 04:01] pasin commented on #613
Thanks Jens for pointing this out. Reading the assemble code now, just disassemble the binary and it the offset (+425) is at same line that I got the crash.

[code]

[2015-03-03 05:05] snej opened #615 "Indexing scales poorly, due to suboptimal SQL DELETE query"
A customer has noticed that view index updating gets very slow in large databases; they even plotted a graph showing that the time increases linearly with number of documents. The slow part is in between the `Checking indexes` and `Updating indexes` log messages. That points to the SQL DELETE query that removes obsolete index rows.
[code]
The problem is that the query is using a suboptimal index:

[2015-03-03 14:12] danilNil opened #617 "pull isn't run automatically after saveAllowingConflict called"
Hello,

I've created sample app: https://github.com/danilNil/cbl-simple-sync
I'm trying to understand how to work with merging conflicts. I've found that I need to call

    for (CBLReplication * repl in @[push, pull]) {
        [repl start];
    }

manually after I've resolved conflicts because it doesn't handle saveAllowingConflict call.

environment: (macos, walrus, pod 'couchbase-lite-ios', '~

[2015-03-03 16:08] snej commented on #615
@hideki @borrrden — this same query probably exists in the Java and C# versions, and should be fixed there too.

[2015-03-03 17:49] snej commented on #617
Sounds like the replications don't re-activate after you turn the network back on (which would be a bug.) Try observing the replications with NSNotificationCenter to see when their status changes and log the results.

[2015-03-03 18:37] #613 closed

[2015-03-03 20:32] aibrahim16 commented on #500
I have a similar problem in version `1.0.3.1`, the problem happens if i tried to call `document.currentRevision attachmentNamed:` while importing a number of documents, this is how i do import:
[code]

And this is the backtrace:

[code]

[2015-03-03 21:00] snej commented on #500
@aibrahim16: You've deadlocked the background CBL thread by calling `-[CBLLiveQuery waitForRows]` on it. CBLLiveQuery uses the CBL thread to run the query in the background, but since you invoked it on that thread, it won't be able to run the query until your current block returns, only your block waits forever until the query runs...

In general, you shouldn't do large amounts of work in a `-back

[2015-03-03 21:28] aibrahim16 commented on #500
I have changed it to use my own queue, but still the same problem:
[code]

this is the backtrace:

[code]

[2015-03-03 22:14] snej commented on #500
If you create a CBLManager on a dispatch queue, you need to set its `dispatchQueue` property. Otherwise it won't be able to deliver asynchronous notifications, like the ones LiveQuery needs.

[2015-03-03 22:17] snej commented on #500
...It's actually worse than that. `-[CBLLiveQuery waitForRows]` requires a runloop. (I tried to make it work on a dispatch queue but for complicated reasons it wouldn't.) That's why your thread (# 3) is stuck in that method.

In general, you should avoid using -waitForRows. Instead write your code to handle asynchronous notifications. Or if you have to run a query immediately, don't use LiveQuery

[2015-03-03 23:29] aibrahim16 commented on #500
Thank you,
I think part of the problem has been solved after using my own queue, now it does not lock forever, but the problem now is that if `document.currentRevision attachmentNamed:` is called, while importing, it hangs the UI until the CBLView is updated, that happens weather or not `-[CBLLiveQuery waitForRows]` is used

this is the backtrace during import where `-[CBLLiveQuery waitForRows]` i

[2015-03-04 05:24] snej commented on #500
A transaction locks the database — the underlying storage engine (SQLite) blocks readers while one connection is updating the database. It looks like you've put your entire import into one transaction, so no other threads will be able to do anything until that transaction finishes. If that's taking too long, break it up into smaller pieces and run them in separate transactions.

If you have furthe

[2015-03-04 05:49] pasin commented on #617
Could you disable your runSync workaround in ViewController.m and rerun with Sync and SyncVerbose log enabled as below?  It would be more clear about what was going on with the log.

[code]

[2015-03-04 16:12] opicciotto commented on #206
I would like to add a comment here, using %2F in urls could lead to a security issue  see : http://security.stackexchange.com/questions/40185/what-are-the-consequences-of-turning-on-apache-allowencodedslashes

This means that if we want to setup a replication through a reverse proxy we will have to  turn on Apache AllowEncodedSlashes, that is strongly discouraged ...

Could the replicator not esca

[2015-03-04 16:47] snej commented on #206
It's not just about design documents. `/` is a legal character in document IDs, and has to be encoded as `%2F` in a URL to avoid being interpreted as a path separator. (Being able to use the literal unencoded `/` when accessing a design document is a special-case hack to simplify using the REST API.)

My reading of that StackExchange article is that it's a security issue for an app-server to misha

[2015-03-04 18:12] opicciotto commented on #206
Yes you are right, I Agree,  but some enterprises are blocking this at the reverse proxy level. And we you discuss with the security guys they just tell you "this is how it is and there is no way we will change that in our security policy". You guys,  find an other solution if you want to run your apps in my enterprise...

[2015-03-04 19:13] tleyden commented on #615
Added downstream tickets for java-core and .net

[2015-03-04 19:56] snej commented on #206
Actually I should jump up a level and ask why you're replicating design documents into Couchbase Lite/iOS? Apple's going to reject your iOS app for doing that, since it constitutes downloading and running executable code (i.e. JavaScript map/reduce functions.)

[2015-03-04 21:02] pasin commented on #617
@danilNil I went to test your app (I removed your runSync workaround) but I couldn't reproduce the same issue that you have. However, there is one thing related to the iOS reachability that I found while testing.

For step 6 and 9, if I turned the airplane mode off and on while the app was still on the foreground, I got some delay from the pull replication as the reachability reported the status t

[2015-03-05 06:12] opicciotto commented on #206
Yes, good  question : ) .  Enterprise mobile apps are usually not deployed to public stores so this apple validation process is not required , Also, the target is more android in our case ..

Syncing views is a very interesting feature about CouchBase lite and CouchBase server  it enables to maintain in one place valuable business logic and this is a killer functionality compared to SQL databases.

[2015-03-05 16:39] snej commented on #615
FYI, while these are valid optimizations, the customer reports they aren't having an effect on their slow performance. I'm guessing in their case the time is dominated by the actual deletion of the rows from the table, not by the lookup of which rows to delete.

[2015-03-05 19:24] snej opened #618 "ForestDB: Reimplement FTS "fullTextRanking" and "snippets""
The custom FTS implementation doesn't support rankings or snippets yet.

[2015-03-05 22:58] #615 closed

[2015-03-06 00:46] snej commented on #615
Customer reports that updating the index of a large view (~100,000 rows) went from 20 sec down to 2 sec after this fix. Niiiice. :grinning:

[2015-03-06 17:55] pasin commented on #608
@nl have the issue happened again? I have a couple more questions that I should ask from the beginning.

1. How did you detect that some documents were not pulled from the remote (e.g. manually query, see the result of the live query from the app UI, or using document viewer to check the database)?

2. Do the missing docs have anything in common? For example, they are results of conflict resolutio

[2015-03-06 18:19] jchris opened #619 "API to know if a given channel has new updates on the server"
In a scenario where a user has synced a few channels, but nothing is syncing now, there might be new updates available on those channels. If the application wants to prompt the user to sync (perhaps by highlighting the channels with updates available, and letting the user select which ones to pull), currently they have to engage in heavy workarounds involving the Sync Gateway REST API.

[2015-03-06 18:31] pasin commented on #617
@danilNil do you have a chance to rerun the app with log enabled again?

[2015-03-06 19:02] jchris commented on #619
Maybe the underlying API is a REST API on the Sync Gateway (a query option on like `/db/_changes?since=MYCURRENTLASTSEQ&feed=channels` which would give you the list of channels that have changes since your current last seq. I think this is better than trying to parse the sequence id on the client.

[2015-03-06 19:03] pasin commented on #565
I'm closing the issue as not reproducible now. Please feel free to reopen the issue again if you have more information to share.

[2015-03-06 19:05] jfenderico commented on #565
Ok. I'm sorry, I haven't had time to run your project. I'll reopen it when I have more info. Thanks,

[2015-03-06 19:06] #565 closed

[2015-03-07 02:24] danilNil commented on #617
Sorry, guys. I'm going to do it today

Sent from my iPhone

[2015-03-08 14:55] danilNil commented on #617
@pasin here is what I found.

1) sync is working
2) turn off wifi on device
3) send update on simulator
4) send update on device
5) turn on wifi on device
6) refresh - ok. we got updates from server
7) check for conflicts - ok

logs:

[code]

8) refresh fields on simulator - nothing. so I didn't get any updates with merged revisions
9) update field on simulator - I got updates from server on devic

[2015-03-09 16:59] pasin commented on #617
Thanks a lot for your tests and all the logs here. I will look at this in a bit.

[2015-03-09 19:22] pasin commented on #608
@zgramana told me that there was one issue (https://github.com/couchbase/sync_gateway/issues/525) recently fixed (https://github.com/couchbase/sync_gateway/pull/686) in the Sync Gateway which may represent the behavior reported in this ticket that a client (puller) could miss some documents.

@nl could you try to use sync gateway from the master branch and see it the issue happens again? You can e

[2015-03-10 02:18] pasin commented on #617
Could you made change as follows to your code and see if it works? Basically I'm using userProperties so there is no need to worry about the metadata properties.

Also can you clean up the database (e.g. removing the app on both simulator and device and restarting the sync gateway) before running?

[code]

Let me now if this helps.

[2015-03-10 02:19] pasin commented on #617
BTW, what is version of the sync gateway you are using?

[2015-03-10 03:57] danilNil commented on #617
Pasin, thanks!

I'm using Couchbase Sync Gateway/1.0.3(81;fa9a6e7)
Issue was fixed by using userProperties. So I haven't cleaned databases.

It would be great to update sample code with userProperties: http://developer.couchbase.com/mobile/develop/guides/couchbase-lite/native-api/document/index.html#Understanding%20Conflicts

[2015-03-10 04:48] pasin commented on #617
Glad the hear it solves your issue. I agree that we should fix the code snippet or make it more clear.

[2015-03-10 04:48] #617 closed

[2015-03-10 14:32] razorblade446 opened #620 "Wrong emmitted data using ForestDB + FullTextSearch"
Hi.

I'm currently testing for performance, the master branch using ForestDB as Storage Engine.

So far I can notice speedups, but i'm having trouble with FullTextSearch.

Here is my view declaration:

    CBLView *vistaRutasContactosMedicosFTS = [_db viewNamed:@"RutasContactosMedicosFTS"];

    [vistaRutasContactosMedicosFTS setMapBlock:^(NSDictionary *doc, CBLMapEmitBlock emit) {
        if([doc

[2015-03-10 16:55] #543 closed

[2015-03-10 19:57] #590 closed

[2015-03-10 20:21] snej commented on #620
How are you querying the view? With a full-text view you need to set the `fullTextQuery` property to the string you want to search for.

Full-text query rows never have a key, but the `value` property should work — I just checked and it's broken in the master branch. I'll fix it.

[2015-03-10 22:29] #620 closed

[2015-03-11 19:20] notjosh opened #622 "CBLSocketChangeTracker not using OS proxy"
I'm using Charles to watch my requests fly by. It's great! But I'm not seeing `_changes` requests.

There are a couple of ways to address the issue. The [code responsible for proxy support](https://github.com/couchbase/couchbase-lite-ios/blob/master/Source/ChangeTracker/CBLSocketChangeTracker.m#L98-L105) exists, and it's correct if `-my_proxySettings` returns the right value. It doesn't. It only r

[2015-03-11 20:05] tleyden commented on #622
By default, the change tracker on ios uses websockets, which may be why it doesn't show up in Charles.  There is an option to disable websockets:

[code]

[2015-03-11 20:07] notjosh commented on #622
Nah, I had breakpoints set to verify. If you take a look at the gist, you'll see it's passing the wrong params in as proxy settings, which explains why it's not adopting them.

[2015-03-11 21:41] snej commented on #622
@tleyden - The WebSocket-based change tracker isn't used if there's a proxy present (because I don't know how to make GCDAsyncSocket use proxies). CBL_Puller has a proxy check that disables it.

@notjosh - Sure, please send a PR, please.

[2015-03-11 21:45] tleyden commented on #622
Aha, good to know.

[2015-03-11 21:47] snej commented on #622
Yeah, I'd forgotten about that check until I looked up the callers of `my_proxySettings` just now :)

[2015-03-11 22:34] snej commented on #590
There's a [tech note](https://github.com/couchbase/couchbase-lite-ios/wiki/CBLView.documentType) in the wiki now, describing what this is and how to use it.

[2015-03-12 06:16] jeanregisser commented on #590
Great addition!

Would it be possible to make the "type" key configurable?

When my team migrated to couchbase we had a set of existing documents to migrate and couldn't use the "type" key because it was already used in them for a different purpose.
We ended up using a key name "doctype" instead.

[2015-03-12 06:29] snej commented on #590
I knew someone was going to ask that… :grimacing: I'll have to think about it. It's probably not too hard, but I'm not sure where to store the magic property name and how to set it.

[2015-03-12 09:28] zgramana commented on #619
Why not just use etags for this? You could make a HEAD request and get back the current highest sequence number. If it matches, no need to sync. If it doesn't, you do.

[2015-03-12 11:04] nl opened #624 "CBL (master) crash in bg_replicationProgressChanged"
This crash happens over and over using 789d0d899a2bed9c6e3e21b81af5b633dee267ee
https://gist.github.com/nl/77c6d376af2bbab9635a

[2015-03-12 15:23] snej commented on #624
[code]

Likely caused by cfaaf58f1d40 or f80d5887701493b3f3c80359ccabb1a1d51673d4, which made changes to CBLReplication to change the way cookies are managed.

[2015-03-12 18:05] pasin commented on #624
@nl Sorry for the crash. Did this happen when a one-time replicator finished replicating or stopped? Could you give me a little more context about the scenario when the crash happened?

[2015-03-12 20:30] pasin commented on #624
From the crash log, the crash happened when bg_setReplicator: method was called. After talking with Jens, look like the CBLReplicator itself got released when bg_replicationProgressChanged: notification is called.

[code]

[2015-03-12 20:37] pasin commented on #624
@nl can you pull a recent update from the master and see if the fixed solved your issue. Feel free to reopen the issue if the fix doesn't solve your issue.

[2015-03-12 20:50] #597 closed

[2015-03-12 20:55] nl commented on #624
Yep, that fixed it!

[2015-03-12 20:59] snej commented on #597
The "CBL iOS Framework" target builds a true dynamic-library framework for use in iOS 8.

Note: This library isn't fat. I'm actually unsure whether we _should_ build a fat dynamic library; I don't know if the simulator code will get stripped out when the developer's app is built.

[2015-03-12 21:06] #622 closed

[2015-03-12 21:29] marbetschar opened #626 "Redirection of source document not working?"
I've trying to establish what is described over here:
http://developer.couchbase.com/mobile/develop/guides/couchbase-lite/native-api/view/index.html#verboten

I've got several person documents belonging to several group documents. What I'm trying now is to get all group documents which are in a relation to any person.

The models look like:

    @objc(Person)
    class Person: CBLModel{
    @NSMan

[2015-03-12 23:00] snej commented on #626
It took me a while to figure out the problem! I haven't used this "linked docs" feature in a long time. It turns out the documentation is wrong, or at least is forgetting to say that this only has an effect if you set the `prefetch` property of the query, which causes the document contents to be returned as well as the key/value.

(["Linked docs" comes from CouchDB](http://wiki.apache.org/couchdb/

[2015-03-12 23:11] #626 closed

[2015-03-12 23:13] snej commented on #626
Fixed it on the master branch, but you may want to stay on stable ground and just use the workaround for now.

[2015-03-13 01:15] pasin opened #627 "Replicator not go offline in airplane mode + bluetooth on"
When turn the airplane mode with bluetooth on, SCNetworkReachability reports reachable with isDirect flag on. As a result, the replicator goes/stays online but eventually the replicator will get connection timeout as it cannot connect to the server.

Below is definition of the IsDirect flag. Look like the Reachability tried to send a package to the remote host (raw ip address via bluetooth)?

[cod

[2015-03-13 01:29] #76 closed

[2015-03-13 06:10] nl commented on #624
Or maybe it just turned it into another crash. https://gist.github.com/nl/9af6cd20d79e56e03349
This makes me think that this crash might be related to https://github.com/couchbase/couchbase-lite-ios/issues/592.
Reopening both.

[2015-03-13 06:11] nl commented on #624
Well I can't reopen issues I guess, but please have a look at that other one for me :)

[2015-03-13 06:11] nl commented on #624
It also seems related to that 2013 issue I opened.
https://github.com/couchbase/couchbase-lite-ios/issues/220

[2015-03-13 06:52] nl commented on #566
I pulled master and am not seeing this issue anymore at the moment.

[2015-03-13 06:53] nl commented on #624
Another occurence of this. http://cl.ly/image/2F1a2x1l0M1m https://gist.github.com/nl/b1b29b53f77ade6dd6e6

[2015-03-13 08:32] marbetschar commented on #626
You've made my day!! That did the trick!

btw: Why are you saying that this feature is of questionable usefulness in CBL?
Is there a better way to achieve what I'm trying to do?

[2015-03-13 08:35] pasin commented on #624
I reopened the issue. I haven't been able to reproduce the crash so far. Did the crash happen during start or stop one time replication?

[2015-03-13 08:41] pasin commented on #624
From the last crash log, it still crashed at the same place.

[code]

[2015-03-13 09:16] pasin commented on #624
@nl The recent change to the replicator is adding a new cookie storage. I reviewed the code and the only place that I suspected is at the custom dealloc. So I removed the custom dealloc from the cookie storage class as there is no need for that anyway. Can you pull the update from the master branch and see if it helps? Please let me know.

[2015-03-13 18:20] snej commented on #566
That's what we like to hear :)

[2015-03-13 18:20] #566 closed

[2015-03-13 18:23] snej commented on #626
Well, effectively all it does is change what the `documentID` and `document` properties of the query row will return. Which you could do otherwise by saying `((NSDictionary*)row.value)[@"otherDocID"])` instead of `row.documentID`, or something like that.

In CouchDB it's more useful because one frequently uses the `include_docs` query option to get back a query result and the contents of the assoc

[2015-03-13 18:27] snej commented on #627
You mentioned this came up in P2P replication. What is the hostname of the remote server? If it's something discovered over Bonjour like `10.0.1.30`, then SCNetworkReachability is correct, because that address _is_ potentially reachable using IP-over-Bluetooth. (Actually I think the IP-over-BT addresses may be in the self-assigned area at `192.*`...)

[2015-03-13 18:40] pasin commented on #627
Yes, the ip-address is in 10.x.x.x range. I think the SCNetworkReachability reported correct flag. I was confused when I tested the replication with the SyncGateway and I expected the replicator to go offline.
Should we have a replicator option like includesPeerToPeer so we can take 'reachable via direct network' as an offline if 'includesPeerToPeer' option is set to false?

[2015-03-13 18:49] snej commented on #627
I think a property like that is a good solution — make it a key in the `options` dictionary since I don't think it'll be commonly enough needed to justify adding it to the API.

I'm just not sure about the name. It's more specific than peer-to-peer … it's about being able to connect over BlueTooth, which only applies to other Apple devices as far as I know. So if you're making a P2P connection to

[2015-03-13 21:37] gedward opened #628 "CBLIncrementalStore - Can't fetch on relationship"
Trying to use couchbaselite with CBLIncrementalStore on v1.0.3.1. Attempting to perform a fetch with a predicate that involves a relationship does not work. Able to reproduce using the cblite-coredata-sample-ios project. Here is my fork to reproduce issue: https://github.com/gedward/cblite-coredata-sample-ios

Notice line 233 in RecipeListTableViewController.m: ```NSPredicate *predicate = [NSPredi

[2015-03-14 07:52] nl commented on #624
Yay, it worked :)

[2015-03-14 07:53] pasin commented on #624
Great!

[2015-03-14 14:04] nl commented on #624
This bug keeps morphing and showing up as different crashes... this time it's an assertion failure, but it looks like the same bug, so I'm not opening a new ticket. https://gist.github.com/nl/485227a215151e260178

[2015-03-14 16:04] pasin commented on #624
Reopen the issue again.

[2015-03-16 05:38] 79144876 commented on #522
I have same problem on android,pull error  when i delete the local file(may be some user lost sdcard). i do not know how to fix it?
1.create some documents,(couch.cblite save on my sdcard),and it will auto sync to server.
2.uninstall the app and delete the local cblite file.
3.install app,and login ,and then it can not pull again,i found this error:
[code]

[2015-03-16 05:42] pasin commented on #522
For java/android, could you create a new issue at https://github.com/couchbase/couchbase-lite-java-core?

[2015-03-16 05:54] 79144876 commented on #522
@pasin ok. i have create it. wish you can help me.Thanks.
https://github.com/couchbase/couchbase-lite-java-core/issues/495

[2015-03-16 23:49] pasin commented on #624
@nl could you update your master's couchbase-lite-ios and retest? I'm closing the issue but we could reopen it anytime.

[2015-03-16 23:55] pasin commented on #628
I believe the issue was fixed in the master branch (9a958d8b8cb4add786c622c3e573c768c9759ce6 and bb8f632c9cee221598232afc059757080233f8e7). Also please make sure to setup an inverse relationship to your to-many relations. Currently CBLIncremenatalStore only supports and was optimized to-many relationship with inverse relations.

To build the library from the master branch : https://github.com/couc

[2015-03-16 23:55] #628 closed

[2015-03-17 14:00] lordkev commented on #597
Great, thanks for this. Apologies for not getting around to finishing it up - got busy with other stuff.

[2015-03-17 15:54] snej commented on #597
No prob. I felt better about doing it myself anyway … no slight intended, it's just that the build settings in the project are pretty complex and prone to breaking if not treated exactly right :)

[2015-03-17 16:23] ndouglas opened #629 "Replication loop with conflicts (status 594)."
My project, ReactiveCouchbaseLite, tries to give a FRP interface (to the extent that it's possible) to Couchbase-Lite-iOS.  So, working on it, I'm doing a lot of unit tests with a standard setup (a database, a "peer" database (on the same device, but just a database with a different name), and push and pull replications set up from the test database to the "peer" database).

Generally this works w

[2015-03-17 17:10] pasin commented on #629
Thanks for reporting this and providing test steps and code. I will look into this probably this afternoon.

[2015-03-17 18:41] nl commented on #624
Still happening but different form. https://gist.github.com/JeremPlln/15e647ad627f7cefe8b3
This time it's exactly the same as https://github.com/couchbase/couchbase-lite-ios/issues/220

[2015-03-18 00:35] pasin commented on #624
I think it's different from #220 that the crash happened inside the dealloc method. There are 2 threads going on here (replicator thread and database thread). When the following block was called, the CBLReplication (self) object has already been released. In general, self object should be retained by the block so I'm not sure how it could get released.

[code]

[2015-03-18 02:13] pasin commented on #624
I apply the weak/strong self pattern to the blocks that have a reference to self. The self object should be hold up until the end of the operation. The fix should take care that case the weak self object is released before the block is actually called as well. Please pull update from the master branch and let us know if all the crashes are gone. Close the issue for now.

[2015-03-18 02:19] lordkev commented on #597
None take, I understand. :)

[2015-03-18 15:53] snej commented on #629
What version of CBL are you using?

The backtrace is confusing, especially `__56-[CBLDatabase(Replication) findMissingRevisions:status:]_block_invoke ()`. That method doesn't have a block in it, and in 1.0.x it doesn't have a `status:` parameter. (On the master branch it does, but it's been moved out of the CBLDatabase class entirely.)

The only thing that seems plausible to me is that you've buil

[2015-03-18 16:01] snej commented on #629
Oh, I just noticed you said "Currently, I'm using the forestdb branch, commit dd20d33." That's from Feb 6. A lot of code has changed since then, and in particular that branch got merged into master. Could you please update to the current master branch?

[2015-03-18 16:33] ndouglas commented on #629
Ah, I see -- I wasn't aware forestdb was merged into branch.  :blush:  I missed that and was waiting patiently for updates.

This issue (if it was a bug) isn't showing up for me in HEAD, so I guess once again I've managed to waste your time -- sorry about that.

[2015-03-18 16:33] #629 closed

[2015-03-18 16:36] #591 closed

[2015-03-18 16:47] snej commented on #629
I [posted about the merge](https://groups.google.com/d/msgid/mobile-couchbase/4D602383-7822-41C3-AD76-ADD346F0ECDD%40couchbase.com?utm_medium=email&utm_source=footer) when it happened, but I know it's easy to miss emails, I do it too. :/

That method does still exist in basically the same form, it's just in the class CBL_ForestDBStorage now. But I've looked over it and can't figure out how it coul

[2015-03-18 18:30] snej opened #631 "CBLDatabaseChange objects pile up during bulk inserts"
If an app inserts or updates a large number of documents inside a single transaction, memory usage will keep increasing until the loop ends and the app code exits the transaction. This could happen during some kind of import process, or in an artificial benchmark that populates a database with a zillion documents (Realm.io's uses 150000 docs.)

What's going on is that a CBLDatabaseChange object is

[2015-03-18 21:33] #569 closed

[2015-03-19 06:43] nl commented on #624
https://gist.github.com/nl/6d150b684134911336fb

[2015-03-19 07:58] pasin commented on #624
The line number doesn't match with the master's head. What commit are you on?

[2015-03-19 15:45] #631 closed

[2015-03-19 17:11] hiaw opened #632 "Cocoapod specs should support OS X"
Hi,

Couchbase Lite support OS X and there's a demo app from couchbaselabs showing it.

https://github.com/couchbaselabs/tunes-demo-mac

But the Cocoapods spec does not support OS X as a platform. I think "jessliu" should change that as she authors the pod spec.

https://github.com/CocoaPods/Specs/blob/master/Specs/couchbase-lite-ios/1.0.3.1/couchbase-lite-ios.podspec.json

Thanks.

[2015-03-19 17:19] pasin commented on #624
9c145608dc0a7af0b616c64553397a00e14d6b34 and 3c3f2f1f0066d1a2c446dfb769a904cc65f16247 are the recent 2 commits for fixing crash issues. Could you please make sure that you have both 2 commits?

[2015-03-19 19:59] snej commented on #632
Jessica Liu used to be our product manager and was named as the owner of the podspec, but she didn't write or maintain it. I can't remember the name of the guy who wrote it — if you search closed issues for "podspec" you should be able to find issues that he filed or was named in.

[2015-03-20 11:26] nl commented on #624
I think the issue comes from the fact that I'm observing (using KVO) the "lastError" property. If I stop observing that, I don't seem to be getting the crash, but let me confirm after a couple days without it.

[2015-03-20 11:38] nl commented on #624
NB if it helps, I'm getting errors like these in the console:
objc[10417]: Cannot form weak reference to instance (0x6180001576b0) of class CBLReplication. It is possible that this object was over-released, or is in the process of deallocation.

[2015-03-20 11:39] nl commented on #624
(My code isn't creating any weak references to CBLReplication, but I do hold on a to a CBLReplication strongly.)

[2015-03-20 16:26] pasin commented on #624
Look like YES. It crashed at Line 29.
https://github.com/couchbase/couchbase-lite-ios/blob/master/Source/API/CBLReplication.m#L529-L535

I think most or all of the crashes we have seen are related to CBL_ReplicatorProgressChangedNotification which is posted on the replication thread and the releasing of CBLReplication on the other thread (main thread). It seems like there is a notification coming

[2015-03-20 16:37] nl commented on #624
Well I'm also adding observers to the didchange notification, so that's probably it.

Sent from my iPhone

[2015-03-20 21:58] zgramana commented on #619
Requested for the Forest Service's use case.

[2015-03-20 22:02] zgramana commented on #619
Refs couchbase/sync_gateway#712

[2015-03-21 06:45] nl commented on #624
I've stopped observing kCBLReplicationChangeNotification, and instead added KVO observers for various properties on the replication, and haven't been getting crashes so far.

[2015-03-23 17:39] davidquon commented on #632
@hiaw - To follow up on the email you sent me I'm currently running CBL for iOS not OSX.  I'm not an expert on making a podspec work for both iOS and OSX.  Would you like to be added as a contributor for the `couchbase-lite-ios` podspec?  You should test that any changes made won't break the iOS side of the podspec.  Alternatively given the name of the current podspec you might want to consider ma

[2015-03-23 18:16] pasin commented on #632
@hiaw could you add me to the contributor list? I will be happy to help adding osx support and test.

[2015-03-23 21:04] davidquon commented on #632
@pasin Did you want to add the OSX support to `couchbase-lite-ios`?  If so please email me the email address you want to use.  If not I think you can just follow CocoaPod's rules for creating a new spec.

[2015-03-23 21:21] pasin commented on #632
@davidquon after checking, look like we don't have a zip package for the osx platform available yet (users currently need to built it themselves). I will check with @zgramana regarding this.

Anyway could you add me (pasin@couchbase.com) to the contributor list so I could help on any podspec issues in the future?

[2015-03-23 22:00] davidquon commented on #632
I was wondering about that.  Thanks for the update.

@pasin can you please register yourself with trunk and I can add you to the contributor list?  http://guides.cocoapods.org/terminal/commands.html#pod_trunk_register

[2015-03-24 03:38] pasin commented on #624
@snej sent me this http://lapcatsoftware.com/articles/nsnotificationcenter-is-threadsafe-not.html, and that is pretty much what happening in this ticket.

I could reproduce crashes by purposely adding some delay (2 - 3 seconds) to the bg_updateProgress method as below and at the same time nil out the CBLReplicator in my test code when getting CBLReplicatorChange notification about the stop event.

[2015-03-24 19:16] davidquon commented on #632
@pasin - TLDR;
[code]
Let me know when you're registered and I'll add you to the contributor list.

[2015-03-24 19:42] pasin commented on #632
Sorry for the delay. Registered.

[2015-03-24 23:55] davidquon commented on #632
@pasin - Okay you should be added as an owner of the `couchbase-lite-ios`.  Let me know if there is anything else I can do to help.

[2015-03-24 23:57] pasin commented on #632
@davidquon, thanks a lot!

[2015-03-25 22:54] snej commented on #328
Pasin says he found that pushing a doc with a huge attachment (too big to fit in memory) would fail (or crash?) when running on a real iOS device. From the backtrace it looks as though the attachment gets loaded into RAM and expanded into base64 — that shouldn't be happening, its metadata should have a `"follows"` key instead of `"data"` and the data should be sent as a separate multipart body.

[2015-03-25 23:49] pasin commented on #536
@nl, we put a workaround for this issue as an option not to trust reachability offline result.

Could you try to set the option as follows and see if that works for you?
[code]
Note: Please make sure you do not set 'network' option as it will override the 'trust_reachability option.

I'm closing the issue for now. If you still see the issue, feel free to reopen it.

[2015-03-25 23:49] #536 closed

[2015-03-26 00:49] pasin commented on #328
I think I have a little bit old code that doesn't have https://github.com/couchbase/couchbase-lite-ios/commit/503f00066a95fb3d5de4f2372f50fc8557dc7aa2 commit. Let me retest it.

[2015-03-26 01:33] pasin commented on #328
Still has the same problem. The attachment is always expanded. I tried to follow the codes and found that the following block returns stub attachment dictionary even though the follow attribute is YES but changing that part of code alone doesn't work (leading to a new issue that doc doesn't get store).

https://github.com/couchbase/couchbase-lite-ios/blob/master/Source/CBLDatabase%2BAttachments.m#

[2015-03-26 01:38] snej commented on #328
Yes, I think this has been broken for at least a few months. The attachment related code has gone through changes twice lately — once for ForestDB and again to support streaming. I think I broke this in one of those.

[2015-03-26 18:58] #328 closed

[2015-03-26 19:49] deanelhard opened #636 "Revision ID generation is missing the attachment digests."
The code in CBLDatabase+Insertion.m for generating the revision id claims to be basing it on the previous revision id, document JSON, and attachment digests, but never actually looks at the attachments.  The android version does include the attachments in the rev id generation (although it has a bug that it is missing the previous rev id).

[2015-03-26 20:06] snej commented on #636
The attachments are already in the JSON as an `_attachments` object.

[2015-03-26 20:06] #636 closed

[2015-03-26 20:12] deanelhard commented on #636
The different ways of doing this (iOS including them in the JSON and android hashing them separately) still means that the two clients will come up with different names for the same revision content.  Is this a concern, and if so, where should it be addressed?

[2015-03-26 21:07] snej commented on #636
No, it's not a problem. It would be ideal if they were the same — it would eliminate some "false conflicts" where two clients make exactly the same change — but the source bases have diverged. (If we were going to fix one, we'd fix Android. It's still using an older scheme for storing attachments outside the JSON.)

[2015-03-26 21:43] pasin commented on #624
@nl, we believe that we found the root cause of the crash. Could you please update the code and retry?Please let us know.

[2015-03-26 21:43] #624 closed

[2015-03-27 00:36] pasin commented on #107
Observing CouchDB (v1.6.0) behavior result:
1. CouchDB doesn't return any changes when using descending parameter with both continuous and longpoll mode. There is no errors returned as well.
2. CoudhDB doesn't honor since parameter when using with descending parameter. Seem like a bug to me.

[2015-03-27 01:54] pasin commented on #474
Closing the issue as there is no issues.

[2015-03-27 01:54] #474 closed

[2015-03-27 02:01] pasin commented on #608
I'm closing the issue for now. Please feel free to reopen when there is more information.

[2015-03-27 02:01] #608 closed

[2015-03-27 15:34] pasin opened #637 "Add CBLIS support for ordered relationship"

[2015-03-27 15:34] pasin opened #638 "Fix CBLIS many-to-many relationship issue"
Currently CBLIS doesn't support many-to-many relationship.

[2015-03-27 17:07] pasin opened #639 "When stop idle CBLReplication, not getting replication change notification"
I noticed that if I stopped a continuous pull replicator when it's idle, I don't see a replication change notification notified. Need to investigate what's going on.

[2015-03-29 12:41] nl opened #640 "CBLMultipartUploader assertion failed: "HTTP multipart upload body has indeterminate length""
In master, complied from source. https://gist.github.com/nl/f7bbaee1916909220326

I think I may have ended up with a null-length or a nil attachment somewhere, but it probably shouldn't take down the entire app.

[2015-03-29 17:39] snej commented on #640
[code]

[2015-03-29 17:41] snej commented on #640
@nl, what exact commit is this? There's been a very recent change to CBL_Pusher's multipart handling.

[2015-03-29 18:39] nl commented on #640
0b19a4c355d0858a35c6ce82b90915ff78f2d988

[2015-03-29 18:56] snej commented on #640
OK, that's later than 2fdf3e086e723ca28e15fbd0f05c39918920eb07 so it may be a regression caused by that. I'll investigate.

[2015-03-29 20:23] nl commented on #640
I remember seeing a few "400 invalid attachment" and "400 bad_request" console logs a couple of days ago, too. Maybe those are related to this problem.

[2015-03-30 20:09] #640 closed

[2015-03-30 21:48] pasin opened #641 "Enumerate sequence in descending order in CBForest not working"
To check the issue:

1. adding the following method to the Database_test in CBForest=iOS Tests:

[code]

2. Comment out these 2 lines as forestdb.fdb_iterator_sequence_init() method doesn't allow start_seq > end_seq:
https://github.com/couchbaselabs/cbforest/blob/master/CBForest/DocEnumerator.cc#L102-L103

Found Issue:
In cbforest/DocEnumerator.css, the fdb_iterator_seek_to_max() method is called

[2015-03-30 21:50] pasin commented on #107
Parent Issue: https://github.com/couchbase/couchbase-lite-ios/issues/641

[2015-03-31 16:58] snej commented on #641
In your step 1 you have the sequence numbers backwards — should be `..., UINT64_MAX, 1, ...` since the starting sequence is the larger one. So step 2 (modifying ForestDB) isn't needed.

But you're right that fdb_iterator_seek_to_max is broken. I've [filed a Jira issue](https://issues.couchbase.com/browse/MB-14220).

Unfortunately there's no good workaround. Iterating forwards and saving the sequen

[2015-04-03 17:00] #639 closed

[2015-04-03 17:36] pasin commented on #390
@lenkawell has the issue described in this ticket been solved? Could you please let us know?

[2015-04-03 18:05] pasin commented on #637
We are using inverse relationship views to maintain and query many relationships. It's a limitation of that approach to support ordered many relationships. There are workarounds such as adding order attribute to child entity documents, appending order suffix to doc ids of the inverse relationship, or even storing order information in a special documents or table. However I couldn't think a way tha

[2015-04-06 22:56] pasin commented on #638
For 1-to-many relationship, we model the relationship by using separated document model. We don't embed an array of keys inside the document. Instead, we expect to-many relationship to have an inverse key defined, and we create inverse key view to query and maintain the relationship.

In Core Data, many-to-many relationship is defined by using a pari of inverse 1-to-many relationships. As we do no

[2015-04-06 23:03] pasin commented on #638
Good explanation about entity relationship:
http://wiki.apache.org/couchdb/EntityRelationship

[2015-04-07 21:32] zygoat opened #646 "Linker warnings when installed by CocoaPods >= 0.36.0"
Beginning with CocoaPods 0.36.0 Couchbase Lite did not properly integrate into the target project (that is, the framework was not linked).  As of CocoaPods 0.36.3 linkage again works, but 161 warnings are generated on build:

[code]
(etc.)

[2015-04-08 00:19] pasin commented on #646
https://github.com/couchbase/couchbase-lite-ios/issues/460

It has been fixed the in the master branch.

[2015-04-08 00:19] #646 closed

[2015-04-08 00:20] zygoat commented on #646
I missed this. Thanks!

[2015-04-08 06:03] 24601 opened #648 "Dynamic Property has type '@' which is not a known class or protocol issue"
Just updated to the current master build of couchbase-lite-ios from my previous known-good-in-my-app version built on Feb 27 and launching the app causes this error.

I have an class named VTCase, of course, with a property caseName which is an NSString (Swift project), @NSManaged property, of course, displaying this object in a form and loading that view controller tries to access this property a

[2015-04-08 06:26] nl opened #649 "Attachment crash (CBL_BlobStoreWriter's initializer failed?)"
Commit b4850d3a1f4bd944eb9db8fe20fb4a409ebeff82
https://gist.github.com/nl/39b3d5b2bbbbd4533d71

[2015-04-08 06:28] nl commented on #649
NB: The data I'm trying to attach is _NOT_ nil.

[2015-04-08 13:23] Rostmen commented on #567
I have the same situation. It reproduces sometimes. I can't provide any specific steps but the fact is when  pull replication goes to the idle state the app freezes. My current version is 1.0.4 and I now that it reproduces on the simulator (iphone 6) and on the ipod 4th generation.

[2015-04-08 15:42] snej commented on #648
Let's see. The [last commit to MYDynamicObject](c05cc90541d495dadbcb31d919e4115ed9bca765) was on Feb 19, but it didn't get merged into CBL until March 12 (commit 82ec99c7566448a69cece593e8381136c74cd39c).

That commit affected property type parsing, to handle protocol types, but I'm surprised it would break with a common type like NSString — our unit tests would have caught that. Unless there's so

[2015-04-08 16:10] snej commented on #648
Fixed — for some reason the property type got encoded as `id` not `NSString`, and that MYDynamicObject change broke support for such properties.

[2015-04-08 16:29] snej commented on #649
[code]

Looks like the line that triggered it is CBLMultipartDocumentReader.m:259; `_curAttachment` must be nil:
[code]

[2015-04-08 16:32] snej commented on #649
The only way for `_curAttachment` to be nil is if CBL_BlobStoreWriter's initializer failed and returned nil, and I think the only way for that to happen is if it can't create a temporary file.

Nico, is it possible that the device ran out of storage space?

[2015-04-08 19:17] nl commented on #649
I checked the Mac this is running on, and the storage space is fine.

[2015-04-08 21:20] snej commented on #649
Sorry, I keep forgetting you're writing a Mac app!

Looking at CBL_BlobStoreWriter's initializer, there seem to be only 3 possibilities:

* It was unable to create a temporary directory to put incoming attachments into. If this happened you'd have gotten a warning "`CBL_BlobStore: Unable to create temp dir:...`".
* It was unable to create an empty file in that directory. (Possibly a permissions er

[2015-04-08 21:21] snej commented on #649
Of those possibilities, I'm inclined to guess it's file handles. Maybe there's a leak. The `lsof` tool will show how many handles are open and what they connect to.

[2015-04-08 22:56] pasin commented on #627
A couple things:
- SCNetworkConfiguration is only available for OSX. An alternative method to get a list of the active network interfaces is using getifaddrs() method.

[2015-04-08 23:02] pasin commented on #627
As we will need to have a dependency to Core Bluetooth and this issue is not really a bug or has high priority / severity, I think we could park the issue and watch to see if there are any other people having problems with this or not. Closing the issue for now.

[2015-04-08 23:02] #627 closed

[2015-04-08 23:19] pasin commented on #74
Confirm that CocoaHttpServer ignores Range requests if the input range is invalid. Per chatting with @snej, this is very low priority and has very less severity at this point. No fix as least now.

[2015-04-09 00:47] pasin commented on #356
Close as the issue doesn't exists in the current master branch. The unit test is also added.

[2015-04-09 00:47] #356 closed

[2015-04-09 01:42] 24601 commented on #648
Jens,

Thank you so much, again! Will pull and rebuild and try again!

Cheers!

Basit

[2015-04-09 01:48] 24601 commented on #648
@snej - Just pulled the latest version from master and built it and still seem to be getting the issue (al beit without the MYDynamicObject warning line):

19:45:35.726| WARNING: Dynamic property VTCase.caseName has type '@' unsupported by VTCase
2015-04-08 19:45:35.727 Voltaire[13066:128226] -[VTCase caseName]: unrecognized selector sent to instance 0x7afdb8b0
(lldb) bt
* thread #1: tid = 0x1f4e2

[2015-04-09 02:01] 24601 commented on #648
And, the nuance now with the released version of Xcode 6.3 is that with Swift 1.2 nullability modifiers, reverting to Feb 27 known-good does not work since those builds error out with nullability errors (that the newer builds do not suffer from, of course).

[2015-04-09 03:41] snej commented on #648
Looks like CBLModel's +impForGetterOfProperty: (and ...setter... too probably) need to check for NSObject as the property class. It's weird that this didn't trigger in the unit tests after I added an `id`-valued property, though...

[2015-04-09 04:11] nl commented on #649
Sounds possible. I see dozens/hundreds of entries just like
[code]

[2015-04-09 05:42] snej commented on #649
You mean they show up in `lsof`? Hm, that's not good.
Is your app opening attachment streams directly? (Calling -[CBLAttachment openContentStream] ?)

[2015-04-09 05:45] nl commented on #649
Nope, just getting the attachment via -[CBLModel attachmentNamed:], then its data via attachment.content

[2015-04-09 05:47] nl commented on #649
(The app is using sandboxing, if that changes anything.)

[2015-04-09 18:20] 24601 commented on #648
Thank you, @snej, as myself and my team gain more experience with CBL we look forward to being able to help and be more self-sufficient on diagnosis and fix of these issues, much rather have us come with a PR for you than just an "ugh, this is broken" issue!

[2015-04-09 18:49] snej commented on #648
No problem. MYDynamicObject is some really weird low-level stuff; definitely not one of the more approachable parts of the source code! Thanks a lot for working with the master branch — it really helps us find problems before we release.

[2015-04-09 20:55] jchris opened #652 "add CBLJSViewCompiler to the framework"
We should just go ahead and make it trivial to add JS views by making [this code](https://github.com/couchbase/couchbase-lite-ios/blob/master/Source/CBLJSViewCompiler.h) part of the default package and easier to call.

[2015-04-09 20:59] jchris opened #653 "remove JavaScriptCore from Extras"
We no longer need to provide a convenience build of JavaScriptCore

[2015-04-09 22:50] snej commented on #652
+1. It's not much code. There are three source files to add —
* CBLJSViewCompiler.m
* CBLJSFunction.m
* CBLRegisterJSViewCompiler.m

[2015-04-10 16:46] 24601 commented on #648
You are absolutely welcome, @snej - if that's the little we can do to contribute for now/until we can learn the intricacies of the code, happy to be able to do it (we are meticulous about keeping known-good-to-us/for-our-use-case binaries for use just in situations like this, although with the nullability issue with Swift 1.2 release, it's actually forced us to revert to the Xcode-beta for develop

[2015-04-10 17:06] pasin commented on #649
I couldn't reproduce this myself. Below is what I found so far after looking at the issue:

1. Memory leak due to a circle reference between CBLUnsavedRevision and CBLAttachment. CBLAttachment has a retained revision property which doesn't currently get used by any codes. However this doesn't seem to a root cause of file descriptor leaking.

2. When a pusher calls uploadMultipartRevision, there co

[2015-04-10 17:09] nl commented on #649
I confirm there are definitely no .blobtmp.
https://gist.github.com/nl/2f452c6b890f0963a0ff

[2015-04-10 17:21] pasin commented on #649
@nl Thanks for confirming that.

[2015-04-10 18:01] #637 closed

[2015-04-10 18:03] zgramana opened #654 "Create the 'release/1.1' branch"

[2015-04-10 18:04] zgramana commented on #390
Closing due to inactivity. Please re-file if it's not resolved.

[2015-04-10 18:04] #390 closed

[2015-04-10 18:05] zgramana opened #655 "Create OS X build product"

[2015-04-10 19:10] snej commented on #655
Should just be an addition to the Jenkins build script. It needs to build the `CBL Mac` and `CBL Listener Mac` targets. Note that the build products have the _same names_ as the iOS ones, so they need to be kept in separate folders clearly labeled as being for Mac OS.

[2015-04-10 19:58] snej commented on #649
The .blobtmp files get moved into the main attachment directory and renamed to end with .blob. So these could be incoming attachments. I think they probably are, because once they're added, the attachment files don't get explicitly opened as file handles unless the client calls CBLAttachment.openInputStream.

[2015-04-10 23:37] tar500 opened #656 "Can't have a comma inside map block: "Too many arguments provided to function-like macro invocation""
Let me show you some example:
[code]
This will result in "Too many arguments provided to function-like macro invocation" error.

Here is the link to the similar issue: http://stackoverflow.com/questions/9187614/how-do-i-have-a-comma-inside-braces-inside-a-macro-argument-when-parentheses-cau

[2015-04-10 23:37] pasin commented on #649
I barely saw file descriptors opened during the pull operations but I did see several thousand descriptors opened when I tested pushing 5000 attachments. Did the crash happen during pushing high volume of docs with attachments?

[2015-04-10 23:39] pasin commented on #649
@nl do you mind checkout `feature/issue_649_file_handlers` branch and see if it helps?

I don't know if this is the issue that you are facing or not but the fix minimizes significant # of opened file descriptors during large push of attachments.

[2015-04-11 00:02] snej commented on #656
Not all commas pose a problem. Every map block has a comma inside it, as part of the `emit(key, value)` call. Generally it works fine. The only case where it's a problem is if you have a comma that _isn't inside parentheses_. This is a limitation of the C preprocessor; there isn't anything we can do about it.

The workaround is to put parens around the expression containing the comma. In your exam

[2015-04-11 00:02] #656 closed

[2015-04-11 03:49] tar500 commented on #656
Nice workaround, thanks @snej !

[2015-04-11 04:09] nl commented on #649
The new branch did not change the lsof output for me. However, I moved away from using attachment.content and am now using attachment.contentURL and it did the trick.

Before (BAD, tons of attachment file handles open in lsof):
	NSData *data = attachment.content;
	if (!data) return nil;
	return [[NSImage alloc] initWithData:data];

After (GOOD, no CouchbaseLite file handles in lsof except de db):

[2015-04-11 04:22] nl commented on #649
I am however getting an assertion failure in -[CBLBulkDownloader startedPart:]

[code]

[2015-04-11 05:44] snej commented on #649
The code behind CBLAttachment.content is reading NSData from the file with the option NSDataReadingMappedIfSafe … that's good if the file is large, but it does associate a file handle with the data, so if the NSData object stays around the file stays open, and if you get a lot of attachments and keep the data objects around, it might cause your problem.

Fix would be to take that option out of -[C

[2015-04-14 07:40] 24601 commented on #648
Hi! With a bit of guidance on exactly what to work on in CBLModel's +impForGetterOfProperty (and setter?) I am happy to try and work on a fix for this!

[2015-04-14 14:52] snej commented on #648
Thanks! The code in those methods should treat `[NSObject class]` as equivalent to `Nil` when testing `propertyClass`. See if that fixes your problem. (Sorry, I've been working on a branch for the past week and haven't gotten around to checking out master and making this change.)

[2015-04-14 16:34] pegli opened #660 "CBL iOS library build fails with property synthesis errors in Xcode 6.3"
Yay, another Xcode release with new and exciting compiler defaults!  When I build the CBL iOS Library target in Xcode 6.3 (6D570), I see several errors like this one:

[code]

If you don't want to change `@property` to `@dynamic` at this time, you can add `-Wno-objc-property-synthesis` to the "Other Warning Flags" section of the build settings.

[2015-04-14 16:45] pasin commented on #660
Hello @pegli, I have the same XCODE (6D570), but I don't see the any error when building the library.

What scheme did you select when building the library?

[2015-04-14 16:54] pegli commented on #660
I should have mentioned that I'm building from the release/1.0.4 and release/1.0.4-hotfix branches.  The master branch builds fine.

[2015-04-14 16:59] snej commented on #660
I fixed Xcode 6.3 build errors on the master branch last month(?), but since 1.0.4 was frozen back in December I didn't go and backport the fixes there...

[2015-04-14 17:06] pegli commented on #660
Ok, since those branches are closed, there is no need to fix the build settings.  If anyone else runs into the same problem, a search should bring them to this issue report and the workaround I listed above.

[2015-04-14 17:06] #660 closed

[2015-04-14 17:17] pasin commented on #649
@nl I believe we fixed your issue. Could you update your code and see if the problem is gone?

[2015-04-14 17:21] pasin commented on #655
@ashvindersingh, could you also add test the OSX build in your XCODE server as well?

[2015-04-14 21:19] 24601 commented on #648
Sure, I absolutely understand and want to help and not just complain "hey! it's broken!", so I'll give it a shot later today or tomorrow and report back with (hopefully?) a PR or my hands up :).

[2015-04-15 01:12] pasin opened #661 "Document ID prefixed with '!' and Invalid Sync Gateway Channel Name"
ToDoLite Sync Function constructs the list channel name with document id as below:
[code]

CouchbaseLite iOS now prefixes auto-generated doc id with '!' which is an invalid channel name character per Sync Gateway error and code.

iOS Code:
[code]

Sync Gateway Error:
[code]

Sync Gateway's Channel name validation Regexp:
https://github.com/couchbase/sync_gateway/blob/a0e752ccc01bf7fb8d97d67d7c1d52

[2015-04-15 02:11] snej commented on #661
Crap. I guess we can change the naming convention for the UUIDs. I wanted to add some unusual character to the doc IDs as a prefix to indicate that they're auto-generated UUIDs, since otherwise they can contain arbitrary alphanumeric strings. Maybe use "-" instead?

[2015-04-15 13:51] razorblade446 opened #662 "ForestDB: fullTextSearch emmits wrong values"
Hi, i'm testing ForestDB engine, but having issues with fullTextSearch.

('master' branch, commit 4cf8324)

I'm emmitting with:

    emit(CBLTextKey(doc[@"title"]), doc[@"id_contact"]); // doc[@"title"] and doc[@"id_contact"] are Strings

But getting unexpected result:

    for(CBLFullTextQueryRow *filaRuta in rutasFichas.rows){
        // filaRuta.value gives me
        //      [
        //

[2015-04-15 17:02] pasin commented on #661
I'm think about "-" or "=". I will test to make sure that the picked option works fine as it seems we are using the id in a few other places as well.

[2015-04-15 22:28] pasin commented on #655
Per talking with @ashvindersingh, Ashvender will talk to the build team to setup the jenkin build for OSX.

[2015-04-15 23:31] michaelkwok commented on #655
So we are looking to add mac-osx build on top of the existing iOS for couchbase-lite-ios.  I like to confirm a few things.
1. which xcodeproj does it use?
2. any additional dependency?
3. any new build instructions?

[2015-04-16 00:22] snej commented on #655
Same Xcode project. See my comment above on what targets to build.

[2015-04-16 05:00] michaelkwok commented on #655
I will add those 2 targets for MAC.  I also need to update the build script to separate the mac vs ios builds.

[2015-04-16 05:05] jschofie opened #664 "Temporary folder not getting removed?"
Hey,
I wasn't sure if this was an issue or something I'm doing but I was curious to see how attachments get saved so I created a small unit test and when I looked into the container/sandbox I noticed a folder named something like ... (A Document Being Saved By <Name>)

Also, it doesn't look like it gets removed. I've run the test a number of times and a new folder gets created.

I'm not sure if th

[2015-04-16 05:19] pasin commented on #655
@michaelkwok, thanks a lot for your help.

[2015-04-16 06:12] pasin commented on #664
The .blobtmp folder should get moved into the main attachment folder and renamed to .blob after the document is saved. What version of CBL are you observing this behavior?

[2015-04-16 10:52] jschofie commented on #664
I'm using couchbase-lite-ios (1.0.3.1).

[2015-04-16 16:15] snej commented on #664
@pasin, the report is about the "A Document Being Saved By..." directory not getting removed, not about the attachment file itself.

@jschofie: I think this got reported once before. Couchbase Lite doesn't create that directory itself; it asks the OS for the location of the `NSItemReplacementDirectory`. That call implicitly creates the directory if it doesn't exist. Since we don't directly create

[2015-04-16 16:20] snej commented on #664
Found the original — this is a dup of #440, which we decided wasn't worth fixing since it creates at most one excess (empty) directory per launch of the app. So yes, it's a resource leak, but an extremely slow one that would take decades to create any noticeable effect.

[2015-04-16 16:20] #664 closed

[2015-04-16 16:23] jschofie commented on #664
Hi @snej,
I'm seeing more than one directory get created. Not sure if this is an Apple regression or not but probably something that should be investigated?

![screen shot 2015-04-16 at 12 21 34 pm](https://cloud.githubusercontent.com/assets/11754591/7185818/5e936eec-e433-11e4-852b-4cf0f9ad70e7.png)

[2015-04-16 16:25] jschofie commented on #664
I should note, I ran that unit test 3 times and got a new folder each time.

[2015-04-16 18:10] michaelkwok commented on #655
Here are a few changes right off the bat.
1. Currently, ios package is comprised of cbl ios, cbl listener ios, liteserv, etc.
    For macosx package, it be cbl mac, cbl listener mac, liteserve, etc.
2. I think it would make more sense to change the package name from couchbase-lite-ios-xxx.zip to couchbase-lite-macosx-xxx.zip since the final product is actually a macosx.  That's something I can do

[2015-04-16 18:16] michaelkwok commented on #655
In #4, I am referring to internal builds.  Release builds still go to S3.

[2015-04-16 21:02] pasin opened #665 "Multipart streams cannot be reopened when retrying to send the request"
When the CBLMultipartUploader retries to send a new request after the previous one was failed according to the retry logic, the app crashes due to an assertion `_bufferLength > 0` failure in CBLMultiStreamWriter's writeToOutput method.

The root cause of the crash is that the body streams inside the CBLMultiStreamWriter have already been opened and cannot be re-opened - The streams are needed to b

[2015-04-16 22:22] #661 closed

[2015-04-16 22:25] pasin commented on #653
@zgramana do we target this fixed in 1.1.0?

[2015-04-16 22:25] pasin commented on #652
@zgramana do we target this fixed in 1.1.0?

[2015-04-17 01:58] snej commented on #655
Are you creating a _new_ package? If so, yeah, that's a good name.

[2015-04-17 06:24] nl commented on #649
The symptoms are now slightly different but the problem is still there.
[code]

https://gist.github.com/nl/da54ccc390f2cfcce102

This is ``df -k`` on the machine. https://gist.github.com/nl/dc59a0ebc8bd2af0edb8

[2015-04-17 16:03] pasin commented on #649
Can you also post the log message showing the parent path and the tmp folder that the blob store tried to create? I didn't see it in your gist as well. It should be above the WARNING message.

[code]

Anyway, not quite sure why it couldn't create the temp folder. Reopen the issue.

[2015-04-17 16:30] nl commented on #649
The gist is everything I have in stdout.

[2015-04-17 18:31] ashvindersingh commented on #655
I have added the Mac Unit tests to Xcode server. The tests will run once daily.

[2015-04-17 21:14] lordkev opened #668 "Tag + Cocoapods?"
Any chance of getting a new tag and bump in the Cocoapods spec that includes the Xcode 6.3 build fixes already in master?

Unfortunately I can't point Cocoapods at master as I'm using CBL as a dependency in a podspec for an internal pod.

[2015-04-20 17:13] 24601 commented on #648
Been spending a fair amount of time playing in these methods and can't seem to get things to work.

Been doing things like:

1) adding

else if ( [propertyClass isSubclassOfClass: [NSObject class]])
    {
        return [super impForGetterOfProperty: property ofClass: propertyClass];
    }

right before the last catch-all else in the getter method but property fields of CBLModel subclasses still s

[2015-04-20 17:16] 24601 commented on #648
(On these properties, for example, I'm getting similar errors to earlier like:)

WARNING: MYDynamicObject: VTCase.currentReport has type @"VTJuryReport" which is not a known class or protocol

[2015-04-20 17:38] 24601 commented on #648
Should I be looking into why the error messages have quoted string with Obj-c style strings?

For example, calling MYDynamicObject, if we're looking for class (klass as in the code added on the Feb 19 commit) is looking for an actual class named '!@"VTJuryReport"', it certainly won't find it b/c of the @" preceding it and " suffix on it, is this an issue? Is there some string handling nuance betwe

[2015-04-20 17:55] 24601 commented on #648
Hmmmmm, looks like, at least for the previous two issues I've been grappling with, that the issue was a missing @objc(VTJuryReport) declaration in the Swift file.

Doing some testing to see if my fix works....

[2015-04-20 18:04] 24601 commented on #648
Submitted PR above

[2015-04-20 18:16] 24601 commented on #648
Improved fix based on my own commentary on the original PR after thinking about a better/cleaner/more maintainable way of doing/implementing this.

[2015-04-20 19:11] michaelkwok commented on #655
@snej, I have created the new macosx as a separate package.  The macosx build generates this library Release-CBLJSViewCompiler-ios-universal/libCBLJSViewCompiler.a, same as the ios build.  Does macosx need to include this library?  The reason I ask is because the name ios package includes this library. But the name Release-CBLJSViewCompiler-ios-universal almost suggest it's not for macosx.

[2015-04-20 21:54] pasin commented on #668
Hello @lordkev,

We plan to port an XCODE 6.3 build issue from master to 1.0.4 release branch and tag. Will that be helpful for you or Do you need to have a tag from of master branch? For the later case, I will need to check the team here if we would like to tag the current master as a beta release.

[2015-04-20 22:06] pasin commented on #649
Can you enable Log? There are 2 ways to enable the Log.

1. Add a boolean user default also called Log.
2. Add '-Log YES' to the "Arguments Passed On Launch" list.

Full Description: https://github.com/couchbase/couchbase-lite-ios/wiki/Logging.

First we would like to check what the parent and temp folder are and also see if the parent folder exists or not.

[2015-04-21 06:01] nl commented on #649
I guess this is it?

[code]

[2015-04-21 07:00] pasin commented on #649
Thanks for the log message.
Can you help confirming if "/Users/nico/Library/Application Support/com.torrentsapp.Torrents-Core/CouchbaseLite/user-admin.cblite2/attachments" folder exists?

[2015-04-21 14:23] snej commented on #655
Nope, just ignore that library in the Mac build.

[2015-04-21 20:10] michaelkwok commented on #655
The job build_cblite_ios_master is now building both ios and macosx.  All results are now kept in our internal latestbuilds.

http://latestbuilds.hq.couchbase.com/couchbase-lite-ios

[2015-04-21 21:03] snej commented on #655
:+1: For the record, Pasin and I found some issues with the content of the archive and Michael is fixing them now.

[2015-04-21 22:57] snej opened #671 ""_removed" properties received from SG cause errors pushing to another server"
If CBL used to have access to a document but loses access, SG will send it one more revision whose only property is `"_removed":true`, to let it know. The problem is that, if CBL pushes the same database to a _different_ server (SG or CouchDB or whatever) it will try to push that document, and the server will (correctly) reject the `_removed` property as illegal because it has a leading underscore

[2015-04-21 22:58] snej commented on #671
Marked the severity as "Major" because, if this happens, it stops the entire replication.

[2015-04-21 23:16] LasCondes commented on #271
snej - Did you get an update from Apple on rdar://16260573 ?

I'm running into the same issue parsing some JSON for a different source.

[2015-04-22 01:53] pasin opened #672 "Pulled docs with a stub attachment failed to insert"
The issue was originally reported in CBL Android (https://github.com/couchbase/couchbase-lite-java-core/issues/498).

For CBL iOS, there are 2 bugs related to this issue:
1. CBL iOS have never sent atts_since parameter in _bulk_get requests.
2. In some certain cases that the pulled attachment has stub = true and its immediate parent rev has no attachment info, it will fail to insert the revision w

[2015-04-22 01:56] pasin commented on #672
Patch to apply from @snej:

Jens Alfke: Basically, if the attachment is a stub, and the parent revision's JSON isn't known, but the attachment exists locally (based on its digest), just leave the stub alone.

[code]

[2015-04-22 07:53] nl commented on #649
Yes, it exists.

[2015-04-22 14:29] apiology commented on #419
I'm still forced to use NullSafe with version 1.0.4 of CBL to deal with nil values with @NSManaged properties on a Swift-based CBLModel.  Is this expected?

[2015-04-22 16:20] snej commented on #271
Let's see … it was closed as a duplicate of rdar://12229466, which is still open.

[2015-04-22 17:42] snej commented on #648
Can you show me a minimal test case that reproduces the problem? Re-reading this thread, I'm not clear on what is still going wrong after my initial fix.

[2015-04-22 22:34] michaelkwok commented on #655
Jens/Pasin, can you make sure I didn't strip too much from macosx and also verify ios builds are the same as before?  Nothing changed on ios but I just want to make sure I didn't overlook something.

http://latestbuilds.hq.couchbase.com/couchbase-lite-ios/macosx/0.0.0/0.0.0-378/
http://latestbuilds.hq.couchbase.com/couchbase-lite-ios/ios/0.0.0/0.0.0-378/

[2015-04-23 03:02] 24601 commented on #648
Absolutely, @snej - it happens whenever trying to access a property on a CBLModel.

Here's a minimal test case that demonstrates the issue, launch the app, create a record, and then try to view it, should crash with the trace in the README on the repo:

https://github.com/24601/CBL-Bug-Demo

[2015-04-23 18:29] pasin opened #674 "Revert database folder structure and schema in 1.1.0 branch"
Per discussion with @zgramana, revert database folder structure and schema in 1.1.0 branch to make the database compatible with the other platforms.

[2015-04-23 18:40] pasin commented on #674
One of the schema change in 1.1.0 is that the attachments table no longer exists. Per talking with @snej , we cannot revert this attachments table change as it's required to make things working with both sqlite and forestdb storage.

[2015-04-23 20:25] pasin commented on #655
I checked the OSX framework structure with Jens and it seems to be correct now.

A couple things apart that:
1. There is no documentation zip files included in the macosx folder. Technically, the content of the ios and osx documentation is the same.
2. Can you also remove JavaScriptCore.framework from ios's Extras folder? The file is no longer needed as we stop supporting iOS6 and removing it will

[2015-04-23 20:39] #665 closed

[2015-04-23 23:56] pasin commented on #649
I tested both sandbox and non-sandbox mode replicating 5000 docs with attachments but I couldn't reproduce the issue. I don't know about sandbox restriction that much so I don't know if it has any restriction regarding temporary directory or not.

One thing that I noticed is that for Mac parent url and the temp director returned by the NSFileManager's URLForDirectory method are not related to each

[2015-04-23 23:59] pasin commented on #649
One thing that we can quickly try is to use NSTemporaryDirectory() instead of NSFileManager to get the temp directory for Mac. I made a quick change and made a branch.

@nl, Could you checkout `feature/issue_649_tempdir` branch and see if it helps? Please let me know.

[2015-04-24 00:03] #654 closed

[2015-04-24 00:12] #638 closed

[2015-04-24 17:43] zgramana opened #675 "Backout SQLite schema changes for 1.1"

[2015-04-24 17:43] zgramana opened #676 "Backout SQLite filesystem layout changes"

[2015-04-24 18:05] zgramana commented on #649
Didn't make the cutoff for 1.1, so moving to 1.2.

[2015-04-24 18:14] zgramana opened #677 "Test performance improvement replicating docs with large revision trees"
Test to detect perf regression https://github.com/couchbase/couchbase-lite-ios/commit/5b98b28308bc9b3f3d1f07adda34accb1de0dbc0

[2015-04-24 18:15] michaelkwok commented on #655
I have removed JavaScriptCore.framework from ios "Extras".  Thanks!

[2015-04-24 21:30] pasin commented on #674
Closed as duplicated.

[2015-04-24 21:30] #674 closed

[2015-04-26 08:24] nl commented on #649
@pasin I have updated the framework and the issue hasn't happened since. I think the temp directory thing fixed it. I have no clue why, though.

[2015-04-26 17:53] pasin commented on #649
@nl , do you mean 'feature/issue_649_tempdir' fixes the issue? or Do you mean updating the framework from the current master fixes the issue?

[2015-04-26 17:54] pasin commented on #677
The test will be added to the performance test (worker bee) project.

[2015-04-27 17:07] snej commented on #677
FYI, this wasn't a regression. The slow code path was in there from the beginning.

[2015-04-27 17:16] snej commented on #677
Also, the "interesting" case is where the doc already has a lot of local revisions, and then a rev is added that also has a long revision history (that is, the history array passed to the insertion method is lengthy.) That causes the really slow O(n^2) behavior.

[2015-04-28 02:43] borrrden opened #678 "Make sure replaceDatabase handles both 1.0 and 1.1 databases correctly"
As far as I can tell, there is no logic in the replaceDatabase method that distinguishes whether the source db is a 1.0.x style database or a 1.1+ style database.  There needs to be some discussion about this because all platforms should handle this in the same way so that databases generated on one platform can be preloaded into another.

[2015-04-28 14:42] ndouglas opened #680 "Multiple independent replications with the same source and destination?"
I was just testing something and noticed that if you have e.g. an active pull replication from one database to another, creating and starting a new pull replication seems to stop the first.

This can be inconvenient since the replication filters and so forth can be vastly different between the two, containing an overlapping or non-overlapping set of documents.

Can this be changed or worked around

[2015-04-28 15:37] ndouglas commented on #680
See couchbase/couchbase-lite-ios#680.

[2015-04-28 17:26] pasin commented on #675
Per discussion with @zgramana and @snej , this task is not required anymore.

[2015-04-28 17:26] #675 closed

[2015-04-28 22:27] snej commented on #680
That shouldn't be happening unless they're identical replications. Could you show an example of the code that creates the two replications?

[2015-04-28 22:29] snej commented on #678
Pasin just checked in support for the old db layout. Please take a look at the current code and see you think the problem still exists.

[2015-04-28 23:30] pasin opened #681 "Migrate v1.1.0 database file to cblite2 file structure"
Per topic, we need to ensure that v1.1.0 database can be migrate to cblite2 file structure for post 1.1.0 version.

1. Synchronize schema version.
2. Make sure that the database upgrader works accordingly.
3. Make sure that the replace method works accordingly.

[2015-04-29 01:52] pasin commented on #678
I think we need to calling upgrading db if replacing 1.0 db after replacing operation is done.

[2015-04-29 02:12] pasin commented on #678
Actually we need to upgrade the database before it's opened (after it's opened, the schema version could get updated).

[2015-04-29 02:47] pasin commented on #678
I have a patch for release/1.1.0 branch. I will review and submit a PR.

[2015-04-29 21:41] borrrden commented on #678
Looking good to me!  I'll start porting this to .NET.

[2015-04-29 22:19] #676 closed

[2015-04-29 22:20] pasin commented on #649
@nl I understand that there is nothing to fix. I'm closing the issue now. Please reopen the issue if otherwise.

[2015-04-29 22:20] #649 closed

[2015-04-29 22:21] #672 closed

[2015-04-29 22:28] pasin commented on #655
I think this task is done. Close the issue now. Thanks a lot @michaelkwok .

[2015-04-29 22:28] #655 closed

[2015-04-29 22:28] pasin commented on #653
This is done. See https://github.com/couchbase/couchbase-lite-ios/issues/655.

[2015-04-29 22:28] #653 closed

[2015-04-29 22:38] snej opened #683 "all-docs queries ignore prefixMatchLevel property"
All-docs queries don't support prefix matching, because they're implemented differently than view queries and I forgot to put the prefixMatchLevel logic in both places :disappointed:

Specifically, we need to add it to the -getAllDocs:status: implementations in CBL_SQLiteStorage and CBL_ForestDBStorage.

[2015-04-29 22:39] snej commented on #683
This may well apply to the Java and C# implementations too...

[2015-04-29 22:42] snej commented on #683
Attn @hideki @borrrden

[2015-04-30 13:54] ndouglas commented on #680
Sorry for the delay -- I had a dentist's appointment yesterday :(

I've confirmed with further testing that the replications work as you say.

I now presume I was somehow doing this in some way in my original test, but I can't figure out how.  It's complicated because there was a decent amount of boilerplate code in the test, and I'm specifically working with setting up/stopping replications autom

[2015-04-30 13:54] #680 closed

[2015-04-30 23:06] agonyou opened #684 "iOS 8.2+ seems slower than 8.1 or lesser"
Customer has an issue when the app syncs on a channel before getting to the home screen.
From customer input:
Our app currently functions by doing a channel-based sync up front (during login/registration) before guiding the user to the actual home screen. This used to be fairly quick, but since 8.2 the network seems to get throttled for the last 30% of the documents. The total load time ballooned

[2015-05-01 02:33] ashvindersingh opened #685 "Compilation failing for ToDo lite with Xcode-6.2, Mavericks-10.9.5"
Steps
- Followed the steps to build ToDo lite iOS app from repo: https://github.com/couchbaselabs/ToDoLite-iOS
- Successfully compiled and build CBL iOS.
- Copied the compiled framework to ToDo lite framework folder.
- When tried compiling from Xcode-6.2 got the following error:
TodoLite>Model>Titled.h
#import <CouchbaseLite/CouchbaseLite.h>     'CouchbaseLite/Couchbase.h' file not found.

This ma

[2015-05-01 02:33] ashvindersingh commented on #685
At the least this should be release noted.

[2015-05-01 02:58] pasin opened #686 "The bg replication server's database not getting closed"
The bg server's database of the replicator should be closed as well when calling database.close().

Maybe when a replication is stopped, we also close the database own by the background's server. This causes the -wal files not getting merged into the database file (the -wal file size > 0 byte).

[2015-05-01 04:14] pasin opened #687 "Cannot get the database schema version while replace/upgrade a database"
If removing the -wal (0 bytes) and -shm file, the database cannot be replaced as failing to get the database schema version (no error, querying user_version returns 0 rows).

According to http://www.sqlite.org/wal.html,
5. It is not possible to open read-only WAL databases. The opening process must have write privileges for "-shm" wal-index shared memory file associated with the database, if that

[2015-05-01 04:57] ashvindersingh commented on #685
I'm still getting the error after upgrading to yosemite and xcode 6.3. This looks like a different issue and may be related with my xcode settings.

[2015-05-01 04:57] #685 closed

[2015-05-01 12:50] ndouglas commented on #680
Just FYI, it turned out to be a bug in my UI.

[2015-05-01 17:22] #687 closed

[2015-05-01 18:23] snej commented on #82
Should clarify: It's _useful_ for P2P. There are other ways the 'server' (listener) can verify the 'client' (initiator), but they require setting up authentication and creating an account with a password. SSL client certs are a lot cleaner.

[2015-05-01 19:29] snej commented on #662
Hm, with #620 fixed, the value should be correct. The unit test `-[ViewInternal_Tests test23_FullTextQuery]` does almost exactly what you're doing and gets the correct value. I've just looked through the code and don't see any problems.

Could you please download the [latest archived build](http://latestbuilds.hq.couchbase.com/couchbase-lite-ios/ios/0.0.0/0.0.0-380/couchbase-lite-ios-community_0.0

[2015-05-02 00:11] #677 closed

[2015-05-02 18:21] kevinkirkup opened #690 "WARNING: CouchbaseLite: Failed to rebuild views"
Application is triggering a WARNING on start which ends up causing the Map block to never run.
The database does contain data. The ```createAllDocuments()``` method works as expected.

14:18:09.744| WARNING: CouchbaseLite: Failed to rebuild views (products/byProducts): 593
14:18:09.759| WARNING: Failed to update view index: 593

[code]

Backtrace:
[code]

[2015-05-04 16:19] snej commented on #690
tl;dr: This is a bug in your app, not in Couchbase Lite.

As the warning says, the exception is thrown by your application's map block. The backtrace shows it's a block in your method `-[CouchDatabase productsViewWithDatabase:]`, source line CouchDatabase.m:40.

[2015-05-04 16:19] #690 closed

[2015-05-04 17:53] snej opened #691 "Thread-safety issue in CBLReplication cookie methods"
The CBLReplication methods -setCookieNamed:... and deleteCookieNamed:... both reference the instance variable `_bg_replicator` directly, i.e. on the main thread. That violates the policy that ivars prefixed `_bg_` are only to be accessed on the background replicator thread.

There's a potential race condition where `_bg_replicator` is either set or nil'ed out while one of these cookie methods is r

[2015-05-04 17:56] snej commented on #691
Also, the `_pendingCookies` instance variable is modified on both the main and replicator threads without synchronization. Setting the variable's value isn't guaranteed to be an atomic operation, and worse, if the array is mutated on the main thread while being iterated on the background thread it could cause a crash.

[2015-05-04 18:19] snej commented on #691
Ah, the unit test also has a race condition, which is why it sometimes fails. In this code:

[code]
since the CBLReplication configures the cookies in a background method triggered by -start, it's possible for it to do so _before_ the -runReplication: method gets a chance to register its observer method, so the observer won't see the changes.

[2015-05-04 19:53] agonyou commented on #684
An update from the customer:

"We have done another round of testing and the signing process is significantly slower between iOS 8.1.2 and 8.2 plus. Actually the process goes from 1-1.5 minutes to north of 20 minutes on iOS 8.2+.

One interesting thing that Chris pointed out to me is: when the connection slows, it seems to sync documents in exact multiples of 200.

It also seems that the first 1%-

[2015-05-04 23:11] pasin commented on #686
Discussed about solution with @snej, and closing the background database is complicated and has a risk to the release. We will fix this after 1.1.0 release instead. For users to prepare a database file for other platforms to use, users will need to do as follows:

1. Instead of using a shared CBLManager, create a new CBLManager.
2. Create a database (e.g. pull documents from server and so on).
3.

[2015-05-05 04:55] snej commented on #684
What's the "signing process"? Is that a typo for "syncing"?

What version of Couchbase Lite?

Please ask the customer to profile the app in Instruments using the Time Profiler, and save the profile and send it to me.

(Is there any reason the customer can't post here themselves? That would be easier than going through you.)

[2015-05-05 05:02] #648 closed

[2015-05-05 10:22] agonyou commented on #684
I believe it is syncing. I'll forward them the issue and let them know they can post.

Austin Gonyou
Couchbase   Always Scalable, Always on NoSQL
Solution Engineer, Northeast US
719-659-5806
@agonyou

On May 5, 2015, at 12:55 AM, Jens Alfke <notifications@github.com<mailto:notifications@github.com>> wrote:

What's the "signing process"? Is that a typo for "syncing"?

What version of Couchbase Lite

[2015-05-05 14:00] sapieneptus commented on #684
Hey @snej - me again. It is the syncing process that is slow in iOS 8.2+. Here is as much info as I have been able to gather so far:

Turning on logging `Sync` reveals that the app is able to insert some percentage of the initial documents very quickly, but then starts taking a long time to insert. It batches up 200 for insert, and then takes on average more than 7 seconds to insert the batch.

Tu

[2015-05-05 16:31] snej commented on #684
As I said above, please profile the app in Instruments using the Time Profiler, and save the profile and send it to me. (Or put it on Dropbox or something and send me a link; it'll probably be big.)

Also, please send me the entire log from a single sync run, with SyncVerbose enabled.

The revisions are discarded, but the history isn't. The revision history is sent along with the revision.

[2015-05-05 17:16] sapieneptus commented on #684
Ok, I'll send over a link to the Time Profiler.

BTW, I notice iOS 8.2 included a change in SQLite. I also notice there have been a lot of complaints about the new SQLite update on the web. Have you guys noticed anything with this? Do you have a recommendation for build target version (in case this makes a difference in which version of SQLite is used) ?

[2015-05-05 17:59] pasin commented on #684
iOS 8.2 changed SQLite version from 3.7 to 3.8, and there is one fix that @snej did to fix the insertion speed that might be related to the issue here (https://github.com/couchbase/couchbase-lite-ios/commit/f20387ebfb98fefeb60041056c15dad50a0f57f4). The fix was included in 1.0.4 release. @sapieneptus , you may do a quick test switching to use 1.0.4 and see if the slowness is gone.

[2015-05-05 18:01] sapieneptus commented on #684
That would be fried gold. I'll give it a try. Thanks @pasin

[2015-05-05 20:44] sapieneptus commented on #684
It is miles faster, but still not quite as fast as when we test with 8.1 or lower. We are syncing ~24000 docs, and it seems to take about ~3 minutes. Is this a normal benchmark?

[2015-05-06 02:24] ashvindersingh commented on #684
Hi @sapieneptus , I was not able to reproduce the issue.
With my test, I have 24K documents, each document is 100 bytes. Tested on iPhone5c.
The total time it took to complete the pull replications = 130 seconds, on iOS8.1 (average of 3 runs of test case).
The total time it took on iOS 8.3 was 129 seconds (average of 3 runs).

Can you please share some more details on the test setup? To reproduce

[2015-05-06 20:36] #678 closed

[2015-05-06 20:37] pasin commented on #681
This ticket is for 1.2 version. Remove 1.1 release-prep tag.

[2015-05-06 20:51] pasin commented on #684
@sapieneptus,
For a little more info, @ashvindersingh was trying to reproduce the issue with 1.0.4 binary. Along with the information above that will help us reproduce the issue here, it would be really helpful if you could provide the time profiler results when running the app with CBL 1.0.4 on both iOS 8.1 and 8.2/8.3 so that we could look where the additional delay goes to. Please let us know.

[2015-05-07 18:54] sapieneptus commented on #684
Hey @pasin  & @ashvindersingh,

Upon further testing, the sync time seems to be in line with your results. Feel free to mark this issue as closed, I'll be in touch with profiler results/doc examples if we discover anything to the contrary. Thanks so much for both of your help!

[2015-05-07 19:46] pasin commented on #684
Glad to hear that. Please let us know if the issue comes back or you see any other issues.

[2015-05-07 19:46] #684 closed

[2015-05-11 16:38] snej commented on #79
At the API level, I think what's needed is:

1. A per-replication configuration that determines whether or not the puller should download a specific attachment at the same time it's downloading the revision containing it. This could be:
  * a block that's passed the revision as an NSDictionary and can return something like the names of the attachments to skip;
  * or a parameter like a maximum siz

[2015-05-11 22:23] snej opened #694 "Update to latest ForestDB"
CBL is using a ForestDB revision from March 18 (f874e30). There have been a lot of commits since then; we should update to the latest stable version (probably the `sherlock` branch) for our 1.1 release.

This is probably a very quick task, unless there's some sort of regression.

[2015-05-11 22:33] pasin commented on #671
Currently _remove property is stored in the JSON doc. It's not efficient to do the filtering on the _removed property as we will need to always include the JSON body when querying for the rev changes. Should we introduce removed field in the revs table?

[2015-05-11 22:43] pasin opened #695 "Revise replaceDatabase signature and backward db support"
There are some changes in the CBLManager's -replaceDatabaseNamed method due to the new database layout (cblite2) in v1.2. However the new signature is not applicable for replacing the old database structure which the attachments folder is detached from the database file.

This ticket is opened to discuss about the right signature (or more than one signatures) for the -replaceDatabaseNamed method.

[2015-05-12 03:51] snej commented on #694
Fixed on release/1.1 branch … not sure if I should cherry-pick to master, or if the release branch will get merged to master soon?

[2015-05-12 16:30] ryuzmukhametov opened #696 "Start-restart replication problem in CBL 1.1.0"
Hi,

Recently I stumbled one interesting issue in Couchbase Lite framework.
If after starting a replication I try restart it then the replication is stopped.
I got version 1.1.0 (f1aa2cd07433900d8eebc29f8eb8fe1a81df94ca) with ForestDB support.

For reproduce it you can CBL iOS Test App, and in method updateSyncURL change:
[_pull start];
[_push start];
to:
[_pull start];
[_pull restart];
[_push sta

[2015-05-12 16:39] snej commented on #696
I know the example above is simplified to make it easy to describe — have you run into this problem in a real-world situation? The -restart method is literally exactly the same as calling -stop and then -start, so I'm wondering if the problem only occurs if you've just started the replication, or if it'll happen at other times too.

[2015-05-12 17:50] #694 closed

[2015-05-12 18:16] pasin commented on #696
I think this is a regression bug. In https://github.com/couchbase/couchbase-lite-ios/commit/5438f4727a9713100c1e5814774687042acc272c, I removed line 312 and 313. I thought those 2 lines are redundant as those will be executed again asynchronously when the -updateStatus: method is called.

Basically when the start method is called right after the stop method, the _started doesn't get reset immediat

[2015-05-13 05:41] ryuzmukhametov commented on #696
Regarding how I have got this bug.
In my app I have method 'actualizeAllReplications' which runs by some application notifications.
In this method I check a replication with my server. If I don't have such replication I create it and start.
If I already have this server replication then I restart it. It happened that 'actualizeAllReplications' was called twice immediately from main thread by notif

[2015-05-13 08:38] paolonl opened #697 "CBLManager is not a proper shared instance"
Hi folks,

in version 1.0.4, CBLManager class has a `sharedInstance` method which returns `A shared per-process instance`. Which hints to a singleton pattern applied to that class.
Now I tried this

[code]

and I got 3 different instances.
What's the meaning of `sharedInstance` if I can create more instances of this class?

Cheers
P.

[2015-05-13 16:38] pasin commented on #697
This is not a bug. Calling the init method will create a new manager with the default database directory.

Please see more info below:

[code]

[2015-05-13 16:38] #697 closed

[2015-05-13 16:54] pasin opened #698 "CBLReplicator could still be in the running status after closing the database"
I have noticed this behavior while looking at #696. The issue was that the running status of the CBLReplicator will be set to 'NO' in the - updateStatus: method, which will be called asynchronously on the database thread within a block given to CBLDatabase's -doAsync: method when the replicator receives the -bg_updateProgress message from the bg_replicator thread.

However by the time that the asy

[2015-05-13 19:53] #107 closed

[2015-05-13 19:54] pasin commented on #691
The fixed has been merged.

[2015-05-13 19:54] #691 closed

[2015-05-14 07:14] ryuzmukhametov opened #700 "ForestDB fails in 32-bit OS due to bug in get_memory_size fn"
I tried launch Couchabse Lite with ForestDB data storage in iPad Retina Simulator and got FDB_RESULT_TOO_BIG_BUFFER_CACHE error. When I dive into the code I detect bug related to 32-bit architecture. In function "get_memory_size" from "get_memory_size.cc" file we can see the following code:
[code]
Because sizeof(size_t) == 4 in 32-bit iOS simulator with 4GB RAM this code returns 0 - when 2^32 cast

[2015-05-14 09:22] opicciotto opened #701 "Couchbase lite iOS memory consumption indexing views"
We have  reproducible case for crashing CBL iOS with a 13K document database.
This app is a standard PhoneGap app using the CBL plugin 1.04; We made it the simplest possible to be sure no other component was interfering with memory consumption.
You can download it from here :

http://d2lm6861ur7e1f.cloudfront.net/webrepository/DebugMemory.zip

This a a cordova /phone app you can use to build with

[2015-05-14 20:01] snej opened #702 "Integrate new replicator"
I've implemented a new replicator that uses a new protocol (BLIP-over-WebSocket).

* Spec is [here](https://github.com/couchbaselabs/couchbase-lite-api/wiki/New-Replication-Protocol).
* Cocoa implementation is in the `feature/new_replicator` branch. It's up to date with the master branch (as of last night.)
* Sync Gateway implementation is in the `feature/blipsync` branch.

Architecturally what I'

[2015-05-14 20:02] snej commented on #702
The replicators have been moved out of the CouchbaseLite framework into new frameworks named CouchbaseLiteReplicator and CouchbaseLiteNewReplicator. An app should link the one(s) that it wants to use.

[2015-05-15 00:40] pasin commented on #701
Thanks for reporting this. I will look at the issue shortly.

[2015-05-15 14:50] marbetschar opened #703 "CBLModel not working with namespaced Swift classes"
Hi!

I'm trying to establish a many-to-one relationship between a Location and a Person Model. Both of them are subclasses of a generic "Model" class as follows:

    @objc class Model: CBLModel{
	func save() -> Bool{
		var error: NSError?
		super.save(&error)

		if error != nil{
			NSLog("Error saving bean: \(error)")
		}

		return error == nil
	}

	func delete() -> Bool{
		var error: NSError?

[2015-05-15 15:05] marbetschar commented on #703
It seems i got the error - but I can't see the reason why this is happening.
There seems to be a difference between the following two class definitions:

Does *NOT* work:

    @objc class Person: Model

Does work (if I change Location and Person to the following way of declaring):

    @objc(Person)
    class Person: Model

Any Idea what's different between the two...?! I thought the first one is

[2015-05-15 16:14] ashvindersingh opened #704 "Restructure iOS Performance tests"
The current app for Performance testing (HeadlessBee/WorkerBee) needs an overhaul. The current KPI metrics are difficult to understand.  The current app also needs external software (iExplorer) to grab all the results.
Need to restructure the current app or port them as Performance tests under XCtest framework.

[2015-05-15 16:14] zgramana opened #705 "ForestDB native lib missing dev preview package"
See https://issues.couchbase.com/browse/CBL-32

[2015-05-15 16:15] ashvindersingh opened #706 "Code coverage for CBLite ios"

[2015-05-15 17:01] snej commented on #697
Other standard Cocoa classes like NSFileManager have the same behavior, BTW.

[2015-05-15 17:18] snej commented on #700
Thanks for finding this. That function is a pretty new addition to forestdb and it doesn't look like they tested it in a 32-bit environment. I'll file a bug and make sure we get the fix into 1.1 final.

[2015-05-15 17:31] snej commented on #700
[Filed in Jira](https://issues.couchbase.com/browse/MB-15021).

[2015-05-15 17:36] snej commented on #700
Rustam — does the same problem occur on a real 32-bit _device_? I'm thinking that the result of 2^32 is due to the host Mac having 4GB of RAM, whereas a real device wouldn't (yet) have that much.

[2015-05-15 17:42] snej commented on #703
I don't know what the difference is between those declarations, but I'm not a Swift expert.

It sounds like, when the first form is used, the result is that the Obj-C runtime metadata for the `Location.person` property doesn't indicate that its object class is `Person`. Then CBLModel doesn't realize it needs to resolve the JSON string value to a Person object, causing the error.

What version of C

[2015-05-15 17:51] snej commented on #703
According to Apple's _Using Swift With Cocoa_ book:

Is your Person class declared within a module, i.e. in a framework/library target not an app target? If so, its real name is `ModuleName.Person`. I think that either the Obj-C runtime won't put such a class name into property metadata, or my code isn't reading it from the metadata properly.

Do you get any warning messages in the console when yo

[2015-05-15 18:02] ryuzmukhametov commented on #700
I think so. When I test it using a real 32-bit device - as expected I don't get this exception. It appears that this problem is actual for host Mac having 4GB or greater (because 8GB (2^33) also casts to zero from int64 to int32)

[2015-05-15 18:13] snej commented on #700
Thanks for testing. I'm downgrading from Showstopper, but I still want to get this fixed because I bet many developers will run into it and get stuck and come to us for help. And the fix is trivial.

[2015-05-15 19:33] hideki opened #708 "Please verify if iOS v1.1 view/query works with .NET v1.0.4 database"
Android v1.1.0 is not compatible with .NET v1.0.4 views or maps table. So following unit test's commented out codes does not work. I am curious if iOS v1.1 view/query is compatible with .NET 1.0.4
https://github.com/couchbase/couchbase-lite-android/blob/master/src/androidTest/java/com/couchbase/lite/ManagerTest.java#L348-L390

[2015-05-15 20:38] pasin commented on #708
I doubled check my unit test and the unit test already covers that view/query test for .NET 104. The unit test passes without any issues.

https://github.com/couchbase/couchbase-lite-android/blob/master/src/androidTest/java/com/couchbase/lite/ManagerTest.java#L348-L390

https://github.com/couchbase/couchbase-lite-android/blob/master/src/androidTest/java/com/couchbase/lite/ManagerTest.java#L348-L39

[2015-05-15 20:48] pasin commented on #708
One thing that the iOS v1.1.0 CBLDatabaseUpgrade does is re-creating the database and moving document data over. Views and Map (no maps table anymore) data are not moved.

[2015-05-15 20:48] #708 closed

[2015-05-15 21:08] pasin commented on #681
This issue needs to go together with #695 as I also need to bump the database schema version to 101. In replaceMethod, to support the old version db, we may need to query the database version.

[2015-05-15 21:12] pasin commented on #681
Also I cannot do the unit test to test the old version of the database until the replaceMethod signature get resolved.

[2015-05-15 21:13] pasin commented on #695
@snej what is your comment on this? Should we have 2 replaceDatabaseNamed: methods?

[2015-05-15 21:40] snej commented on #695
Add the new one, deprecate the old one I think. The implementation of the old method would update the database to 1.1 format, presumably...

[2015-05-15 21:42] #700 closed

[2015-05-15 21:50] pasin commented on #695
I think even the old method, it will need to update the database to use 1.2 database schema and the new file layout (cblite2). Otherwise the CBLSQLiteStorage will need to support 2 file layouts which is too complicated.

[2015-05-15 22:29] snej opened #709 "CBLQuery fullTextRanking and fullTextSnippet properties were removed"
I accidentally removed some properties/methods from the full-text search API during ForestDB development. It was meant to be temporary, because I haven't implemented support for those features with ForestDB, but during the merge the methods didn't get restored even though they're still supported with SQLite.

The deleted APIs are all from CBLQuery+FullTextSearch.h:
* `CBLQuery.fullTextRanking`
* `

[2015-05-15 23:25] #709 closed

[2015-05-16 17:34] snej opened #711 "Potential database upgrade error"
In [this forum post](https://forums.couchbase.com/t/ios-couchbase-lite-via-cblincrementalstore/3824) a developer says they upgraded the CBL framework to the 1.1 candidate and their app can no longer open its database due to an invalid-ID error.

This error doesn't make sense for opening the database itself (the database name is valid, and it's an already-existing database) so I'm worried that it c

[2015-05-16 17:35] snej commented on #711
(The developer's actual question is about Core Data support, but I don't think that's relevant to this particular issue since the error happens during opening the database and I don't think any IncrementalStore stuff has happened by that point. Right, @pasin ?)

[2015-05-16 18:17] pasin commented on #711
That's correct. The error happened during the very first step of getting the CBLDatabase object.

[code]

As the error status is kCBLStatusBadID (Invalid database/document/revision ID), I believe that it happened during the database upgrade process. I have tested migrating (but very simple test with a few docs with attachments) from v1.0.4 to 1.1.0.

The user said that he is using CBL 1.0 before s

[2015-05-16 21:50] snej opened #712 "CBLView updateIndex isn't public, but is in the API spec"
The updateIndex method of CBLView wasn't made public in the Cocoa API, even though it's an official method in the API spec.

[2015-05-16 23:37] snej commented on #712
Oops, I was sure it was in the API spec, but I just looked and it isn't...

[2015-05-18 17:06] SebastianBO opened #713 "ForestDB - error"
-[CBL_ForestDBStorage openAtPath:readOnly:manager:error:]: unrecognized selector sent to instance 0x7fe4dbd9dff0

Added -CBLStorageType ForestDB in the schema, obviously imported the lib. When opening a new fresh (and resetted device) database i get the above error.

[2015-05-18 17:58] snej commented on #713
That method exists but it had a slightly different name before Apr 27 (commit 087c0e8a948c). I think you're linking against an obsolete ForestDB-storage library.

[2015-05-18 18:59] SebastianBO commented on #713
But the library was built from the current source code? https://issues.couchbase.com/browse/CBL-32 is the wrong one then i guess..any tutorial to how we will get the right version? :)

[2015-05-18 19:27] snej commented on #713
Ah, that explains it. Don't build it from the `master` branch. Use the `release/1.1` branch so you get a binary that's compatible with the release. (There are some internal API differences between the two branches.)

[2015-05-18 19:27] #713 closed

[2015-05-18 20:08] SebastianBO commented on #713
Nice, got it working :+1:

[2015-05-18 20:51] snej commented on #713
Great! And the final 1.1 release, with the ForestDB lib included, should be out Wednesday.

[2015-05-19 06:15] evankyle opened #714 "Error re-adding a document after it's been purged"
couchbase-lite-ios
Branch: release/1.1.0  commit 25f3967

Sync gateway
Branch: master commit 5b15afb

Setup sync gateway with:
A document test-95 which is assigned channel X by sync-func.
A different document needs to grant X channel access to user.

iOS App
New database.
Start replication both directions.
Allow to pull changes and log all docs in db including deleted.
test-95 shows in log.
purge

[2015-05-19 07:53] evankyle commented on #714
This is an intermittent issue, and I incorrectly closed this ticket. After the database is in a state of error other then a new database file, the only way I have found to get the document to sync is by removing the record in the docs table using sqlite3 cli tool, running "delete from docs where docid = "test-95"; After this the write does not fail.  I was under the impression the purge made it as

[2015-05-19 08:50] joshblour opened #716 "[ForestDB] Old emitted k/v pair unexpectedly missing"
I keep seeing the following message in my log:
WARNING: Old emitted k/v pair unexpectedly missing

I'm using 1.1 (built from master at commit 9d0609600764) with ForestDB as the storageType

[2015-05-19 09:30] joshblour opened #717 "'Assertion failed: Sequence of {4A8D140 #633-......} unknown'"
My app sometimes crashes with the following logs:

[code]

this usually happens when I have pull replications running with two or more devices (p2p).

here is the full log output:
[code]

[2015-05-19 15:55] snej commented on #714
Purging removes revisions, but not the row in the `docs` table (which is simply a docID-to-row-id mapping.)  Removing the `docs` row would be harder because CBLDatabase keeps an in-memory cache  of those mappings, and there can be multiple CBLDatabase instances for a db file. ("There are only two hard problems in computer science: naming things and cache invalidation.")

Looks like the bug is that

[2015-05-19 15:58] snej commented on #714
Should be easy to reproduce this in a unit test by simply creating a document, purging it, then creating it again.

[2015-05-19 16:04] evankyle commented on #714
I was just trying to update the purgeDocument test.. First I had to get tests to run and the wiki is a little out of date for that ;)  My first try at a test was to do what you suggest, but it passed with flying colors. I was wondering if maybe if my test was not really testing what I think it is do to caching. I will post the test in a moment.

[2015-05-19 16:24] evankyle commented on #714
The test below is passing :(

[code]

[2015-05-19 16:26] snej commented on #716
That's in the indexing code we wrap around ForestDB (Index.cc:139.) Are you seeing any incorrect query results?

[2015-05-19 16:27] snej commented on #717
Can you get a backtrace of the exception?

[2015-05-19 16:29] snej commented on #717
That assertion is in the method `-[CBL_Revision sequence]`, which has at least 19 different callers, so it's hard to know what's going on without a stack.

[2015-05-19 17:14] snej commented on #714
Thanks for checking! The bug may be specific to adding an already-existing revision, which is what the puller does, but there's no public API to do it directly.

(BTW, thanks for pointing out that the unit-test documentation is wrong. I've [updated it now](https://github.com/couchbase/couchbase-lite-ios/wiki/Running-Tests).)

[2015-05-19 17:22] pasin opened #718 "Crash when create a document with attachment in one single revision"
The crash happened because the NSMutableDictionary object was changed to NSDictionary at runtime when setting .properties value to the unsavedRevision. So when trying to add an attachment, .properties dictionary cannot be altered.

[code]

[2015-05-19 20:43] #718 closed

[2015-05-19 20:51] pasin commented on #711
As reported on the forum by the user that there is no real issues, I'm closing the issue.

[2015-05-19 20:51] #711 closed

[2015-05-19 22:33] pasin commented on #701
Reference: https://forums.couchbase.com/t/couchbase-lite-ios-memory-consumption/3578

Some info taken from the forum.

#Document: 13K

Map function:
[code]

[2015-05-19 22:40] pasin commented on #701
I tested the app on an iPhone 6 with iOS 8.3 and the app crashed with memory warning while waiting for the query (or indexing) to return the result. Look like the lot of memory is hold by JS Garbage Collector.

![instrument](https://cloud.githubusercontent.com/assets/801454/7715517/e406c66e-fe3c-11e4-904f-1c5b995c8e8c.png)

[2015-05-19 22:43] evankyle commented on #714
#721 pull request to fix.

[2015-05-20 19:03] joshblour commented on #717
I haven't had this issue since yesterday. I'll close it out and reopen if it crops up again and I'm able to grab a stack backtrace. Cheers!

[2015-05-20 19:17] pasin commented on #701
I created a simple native iOS app to isolate the issue from being a PhoneGap app, and I was able to get the same issue. The issue seems to be related to when JSC is parsing the data passed from Objective-C to Javascript call but I still have no clues what is causing that.

![stacetrack](https://cloud.githubusercontent.com/assets/801454/7734335/23556c8c-feea-11e4-9585-5c8dda06283b.png)

Note: When

[2015-05-20 19:27] snej commented on #701
I can think of three possibilities —

1. Our JS glue code is leaking JS object references
2. View indexing is causing JS objects to get created faster than the GC can clean them up
3. Something about invoking JS from native code requires us to invoke GC manually

2 and 3 seem quite unlikely. Sounds like we should code-review CBLJSFunction and CBLJSViewCompiler...

[2015-05-20 20:01] snej commented on #701
I've looked through our code and haven't found any leaks. The only JavaScriptCore types that need explicit releases are JSStringRef, JSClassRef, JSGlobalContextRef, JSContextGroupRef. Of those we only use JSStringRef and JSGlobalContextRef, and we release all the ones we allocate.

Just FYI, there is an Obj-C based JS API available since iOS 7, and it looks like it's not only easier to use, but sh

[2015-05-20 20:40] pasin commented on #701
The new Objective-C API looks a lot simpler. I will play with the new API.

Anyway, I think we have cleaned up all of the objects well in general. When I ran profiling on the simulator (no memory limit so no crash), I was still seeing JS GC Collector object piling up, but after the index was done, all of the JS objects got cleaned up.

The weird thing is that when I indexed another set of data (10

[2015-05-20 21:24] snej commented on #701
The issue might only happen when calling emit with complex values?

[2015-05-20 21:26] #714 closed

[2015-05-20 23:37] pasin commented on #701
The issue happens even with `function(doc) {emit(doc._id, null);}` so emitting the value does not cause the issue here.

Based on the profiling result, I believe the issue is at https://github.com/couchbase/couchbase-lite-ios/blob/b3b64f38b6278f39b5e90362906f443100e9f536/Source/CBLJSFunction.m#L155 when it converts a dictionary to JSValue object. Maybe it couldn't do GC fast enough for some JSON d

[2015-05-21 06:57] joenoon opened #723 "CBL 1.1 (iOS) Docs not syncing when I think they should"
CouchbaseLite iOS 1.1 (25f39670bf87aab8dce1f821de961c39594efc16)
SG 1.1.0-16
CB 4.0.0-dp

The pull replicator seems to think its done before it actually is, and is missing docs.  I just found out if I do this:
[code]
... it catches up.  So I can hopefully come up with a short-term workaround using that periodically.  Because I can get the replication to correct using that reset switch, I'm guessin

[2015-05-21 15:58] snej commented on #723
This may be a Sync Gateway issue; paging @adamcfraser ...

[2015-05-21 16:00] snej commented on #723
Unfortunately it's not that simple. It's also possible that when CBL sends the saved checkpoint, SG doesn't correctly determine which changes are newer than it. (That logic is surprisingly complex.) Resetting the replication on the client side means no checkpoint is sent.

[2015-05-21 16:25] snej opened #724 "Need a way to disable cert hostname check (only for 'anonymous' P2P certs)"
The listener feature to auto-create an anonymous SSL cert (for P2P usage) isn't useable in practice because the connecting client's replicator will reject the cert due to a hostname mismatch.

Giving the cert the correct hostname isn't feasible because the name is dynamic: the Bonjour daemon may disambiguate it by adding "-1" if there's already a peer with that name on the LAN. (Also, the kludgey

[2015-05-21 16:34] snej opened #725 "Listener doesn't expose actual Bonjour service name that's published"
CBLListener has a `-[setBonjourName:type:]` method for publishing via Bonjour, but it doesn't expose the actual service name that gets published. This is usually the same as the name given in that method call, but the Bonjour daemon can rename it to avoid collisions if that name's already registered.

This is important because most clients will want to know that name so that, when browsing service

[2015-05-21 16:40] snej commented on #293
FYI, the upcoming new replicator supports this via NSProgress objects, but it's not accessible through the public API.

[2015-05-21 16:41] snej opened #726 "CBLListener.readOnly=YES prevents clients from storing checkpoints"
If an app with a CBLListener sets its `readOnly` property to YES (to prevent clients from modifying its databases), it has the unwanted side effect that clients' pull replicators can't store checkpoints, because the request to PUT the `_local` doc gets rejected with a 403. This means that every replication has to start over from the beginning, which hurts performance.

(The same thing happens when

[2015-05-21 17:03] pasin opened #727 "ForestDBViewStorage doesn't filter _design docs out when indexing"
I noticed this while I was working on refactoring the JSViewCompiler.

When running Router_Tests.test_JSViews. The `emit(doc.message.length, doc.message)` failed as `doc.message.length` is undefined, and the doc id was `_design/design`. The error happened only with ForestDB storage engine.

[2015-05-21 17:08] nl opened #728 "Checkpoint ID shared by distinct pull replications"
I create a pull replication (`CBLReplication`) on a single database (`CBLDatabase`), and ask it to fetch a channel from a remote Sync Gateway (`replication.channels = @[ @"A" ]`). It fetches the documents from sequence 0 to sequence N, and stores the last sequence ID (N) under a hash that matches this replication's DNA. The replication stops.

A minute later, I create a pull replication on that sa

[2015-05-21 18:15] snej opened #729 "Allow validations to distinguish local from remote changes"
A client running a pull replication doesn't have any direct control over what docs it receives from the server, except by specifying the name of a server-side filter function. This may not be sufficient, especially in P2P replication where the 'server' (another peer) can't fully be trusted.

Of course the client can use a validation function to reject pulled documents, but such a function also che

[2015-05-21 18:19] snej opened #730 "Return value of -createPush/PullReplication methods should not be nullable"
When I added the `nullable` modifiers to the pointer types in the Objective-C API, I mistakenly marked the return values of CBLDatabase's `-createPullReplication:` and `-createPushReplication:` as nullable. In fact these always return a CBLReplication instance.

This doesn't make a difference for Obj-C clients, but it does for Swift, since the return value is currently `CBLReplication?`, i.e. an o

[2015-05-21 18:36] snej commented on #728
Hm, that shouldn't be happening. -[CBLReplication setChannels:] sets the underlying filter and filterParams properties, and -[CBLReplicator remoteCheckpointDocIDForLocalUUID:] takes those into account when generating the checkpoint ID.

[2015-05-21 18:38] snej commented on #728
…or maybe you've found a SHA-1 hash collision, in which case you'll be famous :)

[2015-05-21 18:41] nl commented on #728
As far as I can tell, by the time `-[CBLReplicator remoteCheckpointDocIDForLocalUUID:]` gets called, _filterName and _filterParameters are both null.

[2015-05-21 18:43] nl commented on #728
Here's the code creating the replication:
``
		CBLReplication *repl = [self.database createPullReplication:remoteURL];
		repl.channels = self.channels;
``

[2015-05-21 18:49] nl commented on #728
NB: `setChannels:` is writing self.filter and self.filterParams whereas `remoteCheckpointDocIDForLocalUUID:` is reading _filterName and _filterParameters

[2015-05-21 18:50] snej commented on #728
filterName and filterParameters are set immediately after the CBLReplication is instantiated, at CBLManager.m:781. That's well before CBLReplication gets around to looking at checkpoints.

[2015-05-21 18:56] nl commented on #728
The replicator is asking for the remoteCheckpointDocID way before the filter can be set, at CBL_Replicator:123.

``
        _cookieStorage = [[CBLCookieStorage alloc] initWithDB: db
                                                   storageKey: self.remoteCheckpointDocID];
``

[2015-05-21 19:02] snej commented on #728
Ouch! Good call. I didn't notice this was causing the checkpoint ID to get determined during the initializer. That's a fairly recent regression, from the cookie overhaul in February. I think we still have a chance to fix it for 1.1.

[2015-05-21 19:03] nl commented on #728
Yay, great news!

[2015-05-21 20:04] nl commented on #723
...Or the checkpoint is wrong on the client-side because of #728

[2015-05-21 20:32] #730 closed

[2015-05-21 21:10] snej opened #733 "Peer replication checkpoints are lost if its hostname or port changes"
The replicator should allow the client to specify a unique ID to use instead of the URL when computing the checkpoint ID. This could be a known key in the options dictionary.

Why? The way we store checkpoints assumes that a remote database has a fixed URL, since we use the URL as part of the input that produces the unique checkpoint ID. However, this isn't true in P2P. Obviously a peer's IP addre

[2015-05-21 21:53] joenoon commented on #723
I just tried CBL 1.1 1621267b8dae219275b2653af04f11b1d384c99d and its happening noticeably less, but still happening.  Previously it was really easy for me to reproduce in our app, but now it takes a bit more effort.  So, definitely better, but I'm still needing to call ```repl.customProperties = @{@"reset": @YES}; [repl restart];``` to fully bring it up to sync at times.

[2015-05-21 22:28] joenoon commented on #723
Adding some more info with lastSequence and remoteCheckpointDocID since #728 got me thinking.  If there is anything in here that is useful, or anything else I could add that might help, please let me know:

1. documentWithID("expected_id") has no properties

2. pullRep.lastSequence => "1709:1640"

3. pullRep.remoteCheckpointDocID => "2b0bd15dac7a31daae06b993620be4304bf0e879"

```repl.customPropert

[2015-05-21 22:48] zgramana commented on #728
Re-opened to ensure that we add appropriate test coverage to catch future regressions.

[2015-05-21 22:55] snej commented on #728
The patch includes a unit test that fails without the fix.

[2015-05-21 23:19] pasin commented on #728
Closed as patch already includes a unit test.

[2015-05-21 23:21] zgramana commented on #728
I saw the unit test, but this needs a functional test added to cblite-tests.

[2015-05-22 00:41] joenoon commented on #723
Not sure if this is helpful, but I cherry-picked some log lines from SG for a doc ID that I knew was not synced properly: 555e73a54a6f731321b60000 in this case, and then based on lastSequence in CBL, I think I may have spotted something:

https://gist.github.com/joenoon/36b36c9307c922d6630c

When the CBL pull replication thinks its done, its lastSequence was 637.  In SG, 637 seems to be:
```MultiC

[2015-05-22 01:27] pasin commented on #723
@adamcfraser could you help checking this especially the last two comments from @joenoon?

[2015-05-22 05:16] adamcfraser commented on #723
At first glance it looks like the user placeholder sequence (which should trigger backfill of the newly added channel for the user) isn't being sent correctly, and so the backfill (of sequence 616 in this case) isn't happening.  I haven't been able to reproduce yet - still working on it.

@joenoon If you are able to share the full SG logs that your last gist is excerpted from, that may help.

[2015-05-22 07:38] pasin commented on #723
Or the backfill of the 616 (result to 637:616) did happen but somehow not be sent in the changes feed along with 637. I'm just guessing as after resetting the replicator to pull everything, 637:616 did arrive.

[2015-05-22 15:37] joenoon commented on #723
@adamcfraser @pasin I just recorded full logs on both iOS and SG from a clean start (so ignore previous seq numbers and ids):

CBL iOS 1.1 1621267b8dae219275b2653af04f11b1d384c99d
SG 1.1.0-16
CB 4.0.0-dp

SG: https://gist.github.com/joenoon/820c98f056b72c73e423
iOS: https://gist.github.com/joenoon/bdfcd8a7c33262154243

Comments are inline and can be found by searching "JOECOMMENT"... the comments

[2015-05-22 16:29] adamcfraser commented on #723
Thanks very much for the detailed logs @joenoon  - digging through those now.

[2015-05-22 17:10] pasin commented on #723
I looked into both log files and captured some logs (by components and timestamp) that might be useful.

https://gist.github.com/pasin/6bbf7ebf39524ff925fe

[2015-05-22 19:07] pasin opened #735 "Add prefix check method to CBForest slice"
Per @snej comment at https://github.com/couchbase/couchbase-lite-ios/pull/731, it's better to have a prefix check method in the CBForest's slice so that prefix-checking against the doc id will be more efficient.

[2015-05-22 20:05] #695 closed

[2015-05-22 20:05] #681 closed

[2015-05-22 20:05] #705 closed

[2015-05-22 20:23] #696 closed

[2015-05-22 20:23] #662 closed

[2015-05-22 20:26] zgramana opened #736 "PhoneGap build for 1.1"

[2015-05-22 20:26] ashvindersingh opened #737 "Deleting Documents in 1.1 release takes more time as compared to release1.0.4"
Executed the following test
https://github.com/couchbaselabs/iOS-WorkerBee/blob/master/Tests/Test11_DeleteDocs.m for both the 1.0.4 release and 1.1 release.

The sum kpi from 1.04 release = 40.93
The sum kpi from 1.1.0 release =  50.88

[2015-05-22 20:34] zgramana commented on #723
Waiting confirmation that this is actually a SG issue, which it currently appears to be.

[2015-05-22 20:36] #712 closed

[2015-05-22 22:38] #701 closed

[2015-05-22 22:38] #727 closed

[2015-05-22 22:41] ashvindersingh opened #738 "Deleting Database takes long time as compared with 1.0.4 release"
Using the test from worker bee repo:

https://github.com/couchbaselabs/iOS-WorkerBee/blob/master/Tests/Test10_DeleteDB.m

Test Delete database:
Sum KPI for release 1.0.4: 33.11
Sum KPI for release 1.1.0: 532.26

Total time (in seconds) it took to run the complete test scenario with all the options. Each test scenario consists of multiple sub tests. One sub test is a combination of unique input val

[2015-05-22 23:25] pasin commented on #737
Based on my own test of deleting 1000 docs, 100 bytes each (run 3 times), the result is opposite.

1.0.4:
2015-05-22 12:46:40.648 Perf110[4112:1028184] Time used : 20446.434748 msec.
2015-05-22 12:47:29.750 Perf110[4118:1028498] Time used : 20421.973373 msec.
2015-05-22 12:48:02.625 Perf110[4124:1028824] Time used : 20430.754081 msec.

1.1.0:
2015-05-22 12:48:47.144 Perf110[4132:1029318] Time used

[2015-05-22 23:34] snej commented on #738
What's the actual time to delete a database once? Unless it's incredibly long I don't think this is worth investigating — database deletion doesn't happen often in real apps.

[2015-05-22 23:36] pasin commented on #738
I'm seeing some delay in 1.1.0 as well. I did a quick profiling on 1.1.0 and the majority of time spent was closing the sqlite file. I guessed it because the SQLite DB spent time moving data from the WAL file the main db file.

Delete Database, 1000 Documents, 100 bytes each:
1.0.4:
2015-05-22 12:55:12.065 Perf110[4190:1032882] Time used : 2.384539 msec.
2015-05-22 12:55:27.735 Perf110[4195:103311

[2015-05-22 23:39] snej commented on #738
35ms to delete a database is fine IMHO. That's 30 databases/sec. I agree with Pasin that the regression is probably a side effect of switching to the SQLite WAL (and probably nothing we can do anything about.)

[2015-05-22 23:39] pasin commented on #738
Note: in 1.0.4, I don't think we really enable the WAL option as I have never seen the WAL file.

[2015-05-23 05:03] joenoon commented on #723
@snej @adamcfraser @pasin @zgramana @tleyden

I hope this helps:

https://github.com/joenoon/ToDoLite-iOS/tree/issue_723

I've taken over the Logout button to add some steps:

Always start with an empty SG/no-data.

Log in with Facebook the first time - once you're in you shouldnt need to do it again.

The buttons in the Logout menu are ordered the way you should go through them.  Some steps hit S

[2015-05-23 06:04] pasin commented on #723
Thanks a lot for the test app. I could use the app to reproduce the issue.

[2015-05-25 16:37] adamcfraser commented on #723
Thanks @joenoon.  Based on the unit testing I've done thus far, this looks like a race condition in Sync Gateway between the _changes feed and heavy write-side access() load.  I'll give your modified ToDoLite a try today to confirm.  I also want to try it against earlier SG builds to find out whether this issue has been recently introduced.  I suspect it's a long-standing issue, but it's possible

[2015-05-25 17:49] snej commented on #723
Great work, Adam! Based on that, should we close this issue in favor of the one you opened?

[2015-05-25 17:51] adamcfraser commented on #723
Yes - we can close this and track on the SG issue.

[2015-05-25 17:51] #723 closed

[2015-05-26 18:08] pasin commented on #738
I'm closing as not an issue.

[2015-05-26 18:08] #738 closed

[2015-05-26 18:09] pasin commented on #737
I'm closing this as cannot reproduce.

[2015-05-26 18:09] #737 closed

[2015-05-26 20:08] pasin opened #739 "IncremetalStore test_CBLIntegration fails on XCode Server Mac Test"
Log:
[code]

[2015-05-26 22:10] #739 closed

[2015-05-27 15:53] pasin commented on #701
@opicciotto I have fixe the issue, and the fixed has been merged to the release/1.1.0 branch. While we are waiting for the next release build, you could try to build a new binary yourself and update your PhoneGap plugin. You can follow the build instruction here (https://github.com/couchbase/couchbase-lite-ios/wiki/Building-Couchbase-Lite). Anyway thanks a lot for reporting the issue and the test

[2015-05-27 15:57] opicciotto commented on #701
@pasin, we will do that next week, thanks for fixing

[2015-05-27 20:33] zgramana commented on #723
Verified as couchbase/sync_gateway#880, but will keep this open for @joenoon to confirm once that issue is closed.

[2015-05-28 01:59] pasin commented on #703
FYI, the CBLModel [sample code](http://developer.couchbase.com/mobile/develop/guides/couchbase-lite/native-api/model/index.html) also uses @object(Class Name).

Anyway I did try this, and without @objc(Person), there will be some warning messages printed by the MYDynamicObject when trying to assign a person object to a location object.

[code]

From reading the code, I understand that MYDynamicObj

[2015-05-29 08:12] paolonl opened #741 "CBLIncrementalStore and NSDate"
Hi guys,

I am having an issue with a CoreData fetch using NSDates on CBLInrementalStore 1.0.4
I have an entity Menu which has a `date` property modelled as NSDate. I do have the need to fetch a a menu for a given date.
My fetch method looks like this

[code]

From CoreData point of view, that is a valid predicate. But CBLIncrementalStore throws me this exception

[code]

I read somewhere that CBL

[2015-05-29 15:32] jschmid opened #742 "CBLIncrementalStore does not send notifications for created objects"
If you build and run the [Core Data sample](https://github.com/couchbaselabs/cblite-coredata-sample-ios) on two devices at the same time, you can try and edit a recipe and see that the properties are updated in the table view. However, if you create a new recipe, the other device will not see that a new recipe has been created.

I dug into the code and found that the `CBLIncrementalStore` is able

[2015-05-29 15:46] jschmid commented on #742
I have spoken too soon... the notification is indeed sent. I don't get why the `NSFetchedResultsController` is not notified then.

[2015-05-29 16:19] paolonl opened #743 "CBLIncrementalStore saves NSDate using GMT time zone"
When creating JSON representation of NSDate objects, CBLincrementalStore invokes the method `+JSONObjectWithDate:` of `CBLJSON` class. This in turn, invokes `+JSONObjectWithDate:timeZone:` passing `[NSTimeZone timeZoneForSecondsFromGMT:0]` as `NSTimeZone` parameter causing wrong values being stored in the database.

I am in central Europe time zone and when trying for example to store an NSDate li

[2015-05-29 16:25] snej commented on #741
JSON doesn't natively support dates, so the usual convention is to represent them as strings in ISO-8601 format. CBLIncrementalStore should do that mapping when storing and retrieving documents.

@pasin knows CBLIncrementalStore a lot better than I do, but I just skimmed the source code and it looks like it doesn't: There is no occurrence of "NSDate" in CBLIncrementalStore.m. This looks like missi

[2015-05-29 16:30] snej commented on #741
Oops, I wasn't looking hard enough for NSDate support in CBLIncrementalStore. The method `-convertCoreDataValue:toCouchbaseLiteValueOfType:` converts NSDates to NSStrings, and the method below it does the opposite. So I take it back: NSIncrementalStore _does_ support date properties.

You must be running into an edge case having to do with fetch requests, where the underlying view query isn't tran

[2015-05-29 16:41] snej commented on #743
NSDate itself has no notion of time-zone; it simply represents a moment in time. Thus it doesn't matter what time zone is used when writing it to a string, as long as the time-zone is provided in the string. The convention is to use GMT when the time zone is unknown or doesn't matter.

I'm not sure what you mean by "When reading this value in my time zone, I get a wrong day". Can you give more det

[2015-05-29 19:45] pasin commented on #741
@paolonl I will look into this shortly.

[2015-05-29 22:18] pasin opened #745 "CBLIncrementalStore - Crash when fetching with nil value"
Reported in https://github.com/couchbase/couchbase-lite-ios/pull/744.

[2015-06-01 06:27] pasin commented on #742
Hello @jschmid. Thanks for reporting the issue. What version of CBL are you using?

[2015-06-01 09:46] cflorion opened #747 "Best practice for NSManagedObjectContext merge policy ?"
In your opinion, what should we use as a merge policy when setting up NSManagedObjectContext ?

- NSErrorMergePolicy
- NSMergeByPropertyStoreTrumpMergePolicy
- NSMergeByPropertyObjectTrumpMergePolicy

For example, Ensembles (https://github.com/drewmccormack/ensembles) uses the last one. I'm not sure I have all the informations about how Couchbase-lite works to make that decision.

What do you thin

[2015-06-01 10:15] jschmid commented on #742
The last available from the couchbase website.

Sorry I don't have my computer at hand to get the exact version number.
On Jun 1, 2015 8:27 AM, "Pasin Suriyentrakorn" <notifications@github.com>
wrote:

[2015-06-01 16:35] snej commented on #747
Hi, this issue tracker is for reporting bugs and feature requests. Please ask questions on the Google group or the web forum.

[2015-06-01 16:35] #747 closed

[2015-06-01 16:53] cflorion commented on #747
Sorry. Thanks

[2015-06-01 18:26] pasin opened #749 "CBLIncrementalStore - Fail when sorting with key from relationship doc"
Reported by https://github.com/couchbase/couchbase-lite-ios/pull/748.

[2015-06-01 18:51] #745 closed

[2015-06-01 18:52] pasin commented on #741
The fixed has been merged into the master branch. Could you please try? Thanks!

[2015-06-01 18:52] #741 closed

[2015-06-01 18:58] pasin commented on #742
I think you are using v1.0.4. I believe this issue was fixed in https://github.com/couchbase/couchbase-lite-ios/commit/cab0902406504373b4669ccd31e0e0e89492e06b, but the fix has been included in 1.0.4.

Could you try 1.1.0 dev preview or the master branch?

CBL iOS 1.1.0 Dev Preview: http://packages.couchbase.com/builds/mobile/ios/1.1.0/1.1.0-18/couchbase-lite-ios-community_1.1.0-18.zip

I'm closin

[2015-06-01 18:58] #742 closed

[2015-06-01 21:24] pasin commented on #749
Fixed and Merged to the master branch.

[2015-06-01 21:24] #749 closed

[2015-06-02 19:44] paolonl commented on #743
The problem was on my side. The fetch request used to read the data was comparing dates using their ISO8601 representations. And in my `NSDateFormatter` I forgot to set the time zone to GMT. Which is the default zone couchbase uses.

[2015-06-02 19:44] #743 closed

[2015-06-03 04:44] pasin opened #752 "CBLMultipartUploader's connection:needNewBodyStream returns closed stream"
The closed InputStream cannot be reopened. Need to call writer() block to get a new writer. For sending a large attachment

[2015-06-03 05:03] hermanccw commented on #364
@snej I just try to do something as describe in this [google group thread](https://groups.google.com/forum/#!searchin/mobile-couchbase/livequery$20thread/mobile-couchbase/hApRE-18R54/0hbfYe5tzdkJ) and I am getting exactly the same problem.

i am running the branch release/1.1.0 and I try to look for the test added in [a8611d2](https://github.com/couchbase/couchbase-lite-ios/commit/a8611d2d73740a72