[2018-02-26 09:13] msanilkumar2020 commented on #1898
@pasin / @snej
After merging this changes, sync is not working in Background. Replicator become offline and will become online only after entering foreground. Please check this issue.

[2018-02-26 15:28] pasin commented on #1898
I will test this.

[2018-02-26 15:31] pasin commented on #2071
The current build 22 (beta) binary doesn't include the fix for https://github.com/couchbase/couchbase-lite-core/issues/386. I was able to reproduce the issue, and I have confirmed that the binary built from the current master branch doesn't have the same issue.

[2018-02-26 15:31] #2071 closed

[2018-02-26 19:09] pasin opened #2074 "2.0: Swift variadic parameter cannot accept an array"
For example, in IndexBuilder we have the followings:

[code]

Solution: Added an overloading function to accept an array.

Reference: CBSE 4833

[2018-02-26 19:29] #2074 closed

[2018-02-26 20:36] tleyden commented on #2072
I just ran into this again.

- litecore_threadstacks: https://gist.github.com/tleyden/aae0463159a04995139dbd31901b0451#file-litecore_threadstacks-txt
- lite logs: https://gist.github.com/tleyden/aae0463159a04995139dbd31901b0451#file-logs_plus_backtrace-txt

In this case, my ios/xcode app had been idling for several days (and been offline several times), and when I switched back to it, it had hit t

[2018-02-26 21:58] pasin opened #2075 "What error should be returned when delete or purge a newly created document"
Based on the comment in https://github.com/couchbase/couchbase-lite-ios/pull/2068, the error might be changed from `CBLErrorInvalidParameter` to `CBLErrorNotFound`.

[2018-02-26 21:58] pasin commented on #2075
@borrrden What is your thought on this?

[2018-02-26 22:27] snej commented on #2072
This is a LiteCore issue, looks like (note `litecore::` in the backtrace...)

[2018-02-26 22:45] borrrden commented on #2075
All else being equal, not found seems more appropriate

[2018-02-26 22:50] pasin commented on #2075
OK, I will change the error to not found.

[2018-02-26 23:38] sridevi-15 opened #2076 "Error on remote server error on 625 build"
### Steps to reproduce :
 1. Create docs in CBL DB1, DB2 , DB3 associated with each channel.
        2. Replicate docs from CBL DB1 to DB2 with push pull and continous.
        3. Wait until replicatio is done.
        4. Repliate docs from CBL DB1 to DB3.
        5. Wait until replication is done with push pull and continous.
        6. update docs on CBL DB1, DB2, DB3.
        7. Now update docs

[2018-02-26 23:44] tleyden commented on #2072
Moved to https://github.com/couchbase/couchbase-lite-core/issues/428

[2018-02-26 23:45] #2072 closed

[2018-02-26 23:56] #2075 closed

[2018-02-27 00:50] snej commented on #2076
"Error Domain=CouchbaseLite Code=10409" is an NSError translation of LiteCore error C4Error{WebSocketDomain, 409} -- WebSocket/HTTP error codes get offset by 10000 when mapping them to NSErrors so they don't overlap with the LiteCore error codes.

But CBLReplicator is expecting a conflict to be {LiteCoreDomain, kC4ErrorConflict} ... what changed?

[2018-02-27 00:53] snej commented on #2076
Please post a link to the CBL logs.

[2018-02-27 00:57] snej commented on #2076
I think the source of this is SG rejecting the pushed document since it would cause a conflict. Pusher.cc:276:
[code]
CBLReplicator doesn't have any code to handle this so it treats it as a generic doc error.

[2018-02-27 00:58] snej commented on #2076
SG might also return code 403 (forbidden).

[2018-02-27 01:38] snej commented on #1933
Until we reimplement this feature, you can work around the limitation by querying to find the IDs documents that match your filter criteria, and then running a replication whose configuration's `docIDs` is set to that list of IDs.

[2018-02-27 01:50] snej commented on #2076
I can remap this in LiteCore, but we probably need a new error code for this -- kC4ErrorConflict is already used for _incoming_ conflicts, which have a different meaning. Maybe kC4ErrorRemoteConflict?

[2018-02-27 01:51] pasin commented on #2076
I think `kC4ErrorRemoteConflict` makes sense.

[2018-02-27 01:54] tleyden commented on #1822
I'm still seeing this, though not necessarily accompanied by any issues.

Versions:

- Couchbse-lite commit: https://github.com/couchbase/couchbase-lite-ios/commit/7f7c1e50904114817b97218f09b6f6062f121d65
- couchbase-lite-core: https://github.com/couchbase/couchbase-lite-core/commit/a6319c22567d5d62d3642ba132157ed254110aac
- couchbase-blip-cpp: https://github.com/couchbaselabs/BLIP-Cpp/commit/f13a

[2018-02-27 20:32] snej commented on #1822
After 5 minutes of idle time LiteCore is sending a PING over the WebSocket, triggering an ETIMEDOUT error meaning that the write timed out. But it's weird that the error occurs only 1ms after the write...

[2018-02-27 21:12] tleyden commented on #1822
I’ll try to get a packet capture

[2018-02-27 22:29] tleyden commented on #1822
It looks like there might be a connection leak.

While looking at the wireshark trace to see what is happening during the time when the `NSPOSIXError[60, "Operation timed out"` message is being emitted,  it looks like the LiteCore side is opening a new connection.

In packet no 5 at 2018-02-27 13:37:11.023:

![screen shot 2018-02-27 at 1 44 06 pm](https://user-images.githubusercontent.com/296876/3

[2018-02-27 23:56] tleyden commented on #1822
Was able to repro again with the latest version:

- Couchbse-lite commit: https://github.com/couchbase/couchbase-lite-ios/commit/44ca3f029d1b34e86a9b702963cd47fdd029b8ba
- couchbase-lite-core: https://github.com/couchbase/couchbase-lite-core/commit/7e38498720a52f96bb6b262c989e7dbd851afa01
- couchbase-blip-cpp: https://github.com/couchbaselabs/BLIP-Cpp/commit/a76c890789523fd09156b099f593fdcba941546

[2018-02-28 00:30] tleyden commented on #1822
Based on these logs:

[code]

What looks like is happening is:

1. The CBL ios Replicator gets an error callback to `- (bool) handleError: (C4Error)c4err`: https://github.com/couchbase/couchbase-lite-ios/blob/6f5c2e511050819dd4178db9be6260be5bbade06/Objective-C/CBLReplicator.mm#L424
1. Calls retry: https://github.com/couchbase/couchbase-lite-ios/blob/6f5c2e511050819dd4178db9be6260be5bbade06/Object

[2018-02-28 01:18] tleyden opened #2078 "CBLReplicator can leak websocket connections when "Operation timed out" errors occur"
## Overview

In
https://github.com/couchbase/couchbase-lite-ios/issues/1822, I noticed `NSPOSIXError[60, "Operation timed out"` messages in the logs and decided to look into it.

From what I can tell, when these websocket errors occur, it can cause CBL to [leak websocket connections](https://github.com/couchbase/couchbase-lite-ios/issues/1822#issuecomment-369050119).

## Details

Based on these lo

[2018-02-28 01:26] tleyden commented on #2078
I tested that and it didn't work, so now I'm wondering if the previous `_repl` does get cleaned up somehow, and I'm not just seeing it in the code / logs.

Changing the issue title to focus on the connection leak.. since that's the main observation I'm seeing that could indicate an issue.

[2018-02-28 01:41] tleyden commented on #2078
Looks like after receiving the websocket error callback in https://github.com/couchbase/couchbase-lite-ios/blob/6f5c2e511050819dd4178db9be6260be5bbade06/Objective-C/CBLReplicator.mm#L417

it's stopping and freeing the underlying c4 replicator.

I wonder if it's possible that in certain cases after being stopped, the c4 replicator isn't closing it's underlying websocket?

[2018-02-28 01:50] tleyden commented on #2078
New hypothesis.. sort of a shot in the dark, but I'll throw it out in case it triggers any ideas:

1. CBLReplicator.mm calls `clearRepl()`
1. `clearRepl()` calls `c4repl_free()`
1. `c4repl_free()` kicks off async actor message via `enqueue(&Replicator::_stop);`
1. `c4repl_free()` calls `release(repl);` and it's destroyed before `enqueue(&Replicator::_stop);` has a chance to complete and tear down

[2018-02-28 02:08] pasin commented on #2078
Based on the log:

[code]
Is it because of the retry logic that causes a new connection to open?

[2018-02-28 02:11] pasin commented on #2078
Forget about my previous comment, the answer is already at the end of the issue's description.

[2018-02-28 03:09] tleyden commented on #2078
Thanks @pasin for looking into it.

A few more data points to add:

I'm seeing the `Connected!` [output in the logs](https://gist.github.com/tleyden/5ba6fa55bf91e9a5f559a07f08ad2537#file-gistfile1-txt-L58-L59) from https://github.com/couchbaselabs/BLIP-Cpp/blob/a76c890789523fd09156b099f593fdcba941546a/src/blip/BLIPConnection.cc#L665-L669

but not seeing the `Close connection` from https://github.c

[2018-02-28 05:11] pasin commented on #2078
@tleyden the component that performs the networking is [CBLWebSocket](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/Replicator/CBLWebSocket.mm) which is using NSURLSession underneath.

I have tried to reproduce this with a unit test by setting the target URL to non existing server (e.g. ws://<my-local-ip-address>:4984/db which results to a transient error (NSPOSI

[2018-02-28 05:17] pasin commented on #2076
@sridevi-15 Can you retest with the new build (647) with the latest SGW build to confirm the behavior?

[2018-02-28 05:24] tleyden commented on #2078
run mobile-todo-training with sync, login as user1, and let it idle for 10-20 mins

[2018-02-28 05:25] tleyden commented on #2078
I can repro on my machine reliably if you can't repro

[2018-02-28 17:39] snej commented on #1822
This didn't get reopened on the 26th, so I'm reopening now. Or has this been subsumed by #2708?

[2018-02-28 17:43] snej commented on #1822
Sounds like multiple CBLWebSockets are logging and getting mixed up with each other; that's why I thought the timeout was happening only 1ms after the write.

To avoid this, the CBLWebSocket logs should include the identity of the C4Socket, i.e. they should use `%p` to print `_c4Socket`.

[2018-02-28 17:51] tleyden commented on #1822
Yeah, I filed https://github.com/couchbase/couchbase-lite-ios/issues/2078 to try to get a clearer description since this ticket is focused more around log messages rather than the potential resource leak.  I moved your comment over, sorry for the confusion!

[2018-02-28 17:51] #1822 closed

[2018-02-28 17:51] tleyden commented on #2078
From @snej:

Sounds like multiple CBLWebSockets are logging and getting mixed up with each other; that's why I thought the timeout was happening only 1ms after the write.

To avoid this, the CBLWebSocket logs should include the identity of the C4Socket, i.e. they should use %p to print _c4Socket.

[2018-02-28 20:02] tleyden commented on #2078
After debugging with @pasin, it looks like one of the problems is that the `kIdleTimeout` in `CBLWebsocket.mm`:

[code]

is the same as:

[code]

in Blip-CPP `WebSocketImpl.cc`

I tried reducing the `kDefaultHeartbeatInterval` from 300 seconds -> 60 seconds, and so far I haven't been able to repro the issue, nor do I see any "Operation timed out" errors in the [logs](https://gist.github.com/tleyde

[2018-02-28 20:05] tleyden commented on #2078
Another question that's worth investigating is that in this code in `CBLWebsocket.mm`, does the websocket get closed when `readDataOfMinLength` exceeds the idleTimeout?

From my observations, it looks like it doesn't.  It should be checked to make sure that the code isn't expecting the websocket to be closed after read timeouts of that sort.

[code]

[2018-02-28 20:33] pasin commented on #2078
Explicitly close the read and write stream solves the leak issue. Basically put the below code before this [line](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/Replicator/CBLWebSocket.mm#L521).
[code]

@tleyden Can you try that to see if it helps? I did once get the timer crash crash but I couldn't repro that anymore.

[2018-02-28 21:45] stefanwascoding opened #2079 "Creating views after re-opening DB is *way* slower than doing it before first close."
Adding a view after a database has been created has a serious performance penalty compared to adding it on creation.

This works as expected:

- create DB
- add 50.000 random docs
- create view
- close DB
- open DB
- use view & limit to 1 doc - response time is ~0.5ms

in contrast:

- create DB
- add 50.000 random docs
- close DB
- open DB
- create view
- use view & limit to 1 doc - response time

[2018-02-28 21:48] snej commented on #2079
I'm guessing that in the fast case most of the database is already in SQLite's RAM cache when the view index is being generated.
Try running your test in Instruments with the CPU profiler, to see where the time is going.

[2018-02-28 22:48] sridevi-15 commented on #2076
I tested on 647 and I do not see this issue anymore, so closing this ticket

[2018-02-28 22:48] #2076 closed

[2018-03-01 04:45] #2078 closed

[2018-03-01 11:52] stefanwascoding commented on #2079
I've modified the example project to split this in two, just to make sure ... on the first run it creates both databases, and on the second run it runs the queries: [Slow_View_2.zip](https://github.com/couchbase/couchbase-lite-ios/files/1770988/Slow_View_2.zip) (if you want to test it yourself, you will need to change the path where it creates the databases - ViewController.m:37).

The instruments

[2018-03-01 11:54] stefanwascoding commented on #2079
Tried to get more traces from the fast path:

<img width="1421" alt="fast_1" src="https://user-images.githubusercontent.com/2292035/36843567-a2ebb5a6-1d4f-11e8-8322-e5ba0f373fb1.png">
<img width="1421" alt="fast_2" src="https://user-images.githubusercontent.com/2292035/36843568-a307ba12-1d4f-11e8-9478-445a004a1a90.png">

[2018-03-01 17:43] snej commented on #2079
Your fast test queries the view immediately after populating the database (contrary to what you described above); this causes the view to be indexed. Since the docs have just been added, SQLite's buffer caches are hot, so there's very little I/O involved.
In the slow test, the view isn't queried until after the db is reopened, meaning that SQLite has nothing in cache yet and has to read the entire

[2018-03-01 18:50] stefanwascoding commented on #2079
But the times I quoted don't come from the first run of the app, when the db gets populated.

So basically what the example app is supposed to to:
- First Run - db creation

  1. create a "fast" database, by opening a db, filling it with documents, query view "x", close db (don't care about these times)
  2. create a "slow" database, by opening a db, filling it with documents, close db  (no view y

[2018-03-01 18:52] stefanwascoding commented on #2079
Side note: When I add a new view to either the fast or slow database, after a few runs, they will *both* be slow (and don't improve over multiple queries (after the initial one) or app runs).

[2018-03-01 20:58] stefanwascoding commented on #2079
Even more minimal code for macOS this time:
[View_Test_macOS.zip](https://github.com/couchbase/couchbase-lite-ios/files/1772719/View_Test_macOS.zip)

If you run the app the first time, it will create two files on the Desktop:
- `fast.cblite2` by doing `create - seed - ............... - query view - close`
- `slow.cblite2` by doing `create - seed - close - re-open - query view - close`

When you ru

[2018-03-01 21:58] snej commented on #2079
OK, that is weird. From the logs, the difference is that the SQL query for the view query is a lot slower in the "slow" db. I don't know why that would be, or why it persists.

You mentioned something about the `sqlite_stat1` table -- that's internal to SQLite. It stores statistics about the rows in a table, and is used for query optimization. IIRC it's created by the `PRAGMA ANALYZE` command, and

[2018-03-01 23:27] #1646 closed

[2018-03-02 19:32] sridevi-15 opened #2081 "BasicAuthenticator is not accessible on latest ios build"
--------
* Version:   662
* Client OS: iOS

Steps to reproduce :
1. Got the latest iOS build 662 and complaining that Basic Authenticator is not accessible

Error message : 'BasicAuthenticator' initializer is inaccessible due to 'internal' protection level

[2018-03-02 19:35] sridevi-15 opened #2082 "isEqual and hashValue methods of blob is not available on latest iOS builds"
--------
* Version:   662
* Client OS: iOS

1. Got latest build of iOS 662 on xcode
Complaining that hashValue  and isEqual not available

[2018-03-02 19:59] pasin commented on #2081
This issue will be fixed in the next build. @sridevi-15, please verify and close the issue.

[2018-03-02 20:01] pasin commented on #2082
This issue will be fixed in the next build. @sridevi-15, please verify and close the issue.

When comparing Blob in Swift, please use '==' instead of isEquals: as isEquals: is the Objective-C API and we don't expose that in Swift anymore.

[2018-03-02 22:57] pasin commented on #2082
Please test with http://latestbuilds.service.couchbase.com/builds/latestbuilds/couchbase-lite-ios/2.0.0/664.

[2018-03-02 22:57] pasin commented on #2081
Please test with http://latestbuilds.service.couchbase.com/builds/latestbuilds/couchbase-lite-ios/2.0.0/664.

[2018-03-03 00:24] sridevi-15 commented on #2081
Verified on build 664 and works fine now.

[2018-03-03 00:24] #2081 closed

[2018-03-03 00:25] sridevi-15 commented on #2082
verified on latest build, 664 . it works fine

[2018-03-03 00:25] #2082 closed

[2018-03-03 01:24] sridevi-15 opened #2083 "EXC_BAD_ACCESS (code=1, address=0x1010087) on build 664"
--------
* Version:   664
* Client OS: iOS

### Steps to reproduce
1. Configure the replication
2 target = URLEndpoint(url: URL(string: target_url!)!)
3. if (target == nil)
is throwing
EXC_BAD_ACCESS.

It works fine with build 647

[2018-03-03 01:29] snej commented on #2083
With any crash, please attach a crash log or backtrace. If you're running the iOS app in Xcode, enter `bt` at the debugger console to log a backtrace.

[2018-03-03 02:01] snej commented on #2083
`EXC_BAD_ACCESS` is a crash -- commonly called a seg-fault or bus-error. Xcode is now paused in the debugger at the point of the crash -- that's what the "`(lldb)`" prompt is.

Type `bt` and press Return. LLDB will log a backtrace. Copy that and paste it here.

[2018-03-03 02:05] sridevi-15 commented on #2083
* thread #13, queue = 'com.apple.root.default-qos', stop reason = EXC_BAD_ACCESS (code=1, address=0x1010087)
    frame #0: 0x000000010e15bc57 libobjc.A.dylib`objc_retain + 7
    frame #1: 0x000000010d7747b5 CouchbaseLiteSwift`initializeBufferWithCopyOfBuffer value witness for CouchbaseLiteSwift.URLEndpoint at Endpoint.swift:0
  * frame #2: 0x000000010d3e9d55 CBLTestServer-iOS`ReplicatorConfigurati

[2018-03-03 02:17] pasin commented on #2083
I was able to reproduce the issue and fixed. Not sure why the issue just showed up as the implementation has been there for quite sometime.

[2018-03-03 03:39] pasin commented on #2083
Please use build 655 to test. Thanks!

[2018-03-03 06:01] sridevi-15 opened #2084 "Authentication fails while configuring replication"
--------
* Version:   665
* Client OS: iOS

### Steps to reproduce :
1. Replicate configuration with user1
2. Configure replication with session authenticator.
3. with urlEndPoint
4. Start the replication

### Result :
 401 authorized error is thrown.

### cbl logs :
 https://gist.github.com/sridevi-15/e2e0a1253525579739c02b3b91863236

It works fine on 447

[2018-03-03 06:04] sridevi-15 commented on #2083
Tested on 665 build , this bug is fixed on 665

[2018-03-03 06:04] #2083 closed

[2018-03-03 06:23] sridevi-15 commented on #2084
swift code for replication configuration :
case "replicatorConfiguration_configure":
https://github.com/couchbaselabs/mobile-testkit/blob/feature/cbl20-ver1/CBLClient/Apps/CBLTestServer-iOS/CBLTestServer-iOS/Server/ReplicatorConfigurationRequestHandler.swift#L46

swift code to start replication :
case "replicator_start":

https://github.com/couchbaselabs/mobile-testkit/blob/feature/cbl20-ver1/CBLC

[2018-03-03 07:43] pasin commented on #2084
I tested both Swift BasicAuthenticator and SessionAuthenticator manually. Both of them works.

I also copied ValueSerializer and Memory class from the TestServer and tested as below:
[code]
The sessionAuth2 value is printed correctly.

I'm not sure what the issue is now.

[2018-03-03 08:50] pasin commented on #2084
The cause of the issue is at this [line](https://github.com/couchbaselabs/mobile-testkit/blob/feature/cbl20-ver1/CBLClient/Apps/CBLTestServer-iOS/CBLTestServer-iOS/Server/ReplicatorConfigurationRequestHandler.swift#L53), and it turns out to be a Swift [bug](https://bugs.swift.org/browse/SR-3871). It worked before in the previous build because the previous build uses Objective-C CBLAuthenticator cl

[2018-03-03 17:12] pasin commented on #2084
Per chatting with @sridevi-15, the issue was fixed after changing as above.

[2018-03-03 17:12] #2084 closed

[2018-03-03 17:14] pasin opened #2085 "Crashed in CBLWebSocket"
From @sridevi-15:

[code]

I'm not sure what is causing this. Probably a the `_task` is released while `-cancel` is called?

[2018-03-03 19:43] pasin commented on #2085
@sridevi-15 can you reproduce the issue, and capture all threads' stack traces with `bt all` at the Xcode console? Please capture client log also.

[2018-03-04 00:57] pasin commented on #2085
I was able to reproduce the issue by running a single push replicator a few times.

BT:
[code]

[2018-03-04 01:01] pasin commented on #2085
From the BT above, I first thought there is a threading issue but actually there is none. Thread 5 was enqueued from Thread 9 which is the NSURLSession's delegate queue to cancel the stream task. See below screenshot captured from XCode to be clear.

<img width="438" alt="screenshot" src="https://user-images.githubusercontent.com/801454/36940946-812a20e0-1f04-11e8-9e59-825f0004f782.png">

[2018-03-04 01:13] pasin commented on #2085
From the log and BT, the following happened:
1. C4Socket requested to close the socket as the replicator is finished.
2. Write socket and read socket were closed.
3. Read socket somehow got ENOTCONN error after the socket was closed.
4. Task was cancelled -> cause the crash.

[2018-03-04 18:04] jayzhanghs opened #2087 "Swift DB22 and SG2.0: Failed to receive completed message"
I upgraded the CBL from DB21 to DB22 two days ago, and upgraded the sync gateway to 2.0. But now my sync always got stuck and cannot move ahead when the Replication is about to finish. It appears all documents have been downloaded but I just never got the replication completed message.

DB21/SG1.5 works just fine though.

{code}
2018-03-04 13:00:05.871505-0500 companyNameHD[92330:21258031] Couchba

[2018-03-05 09:51] WarWithinMe opened #2088 "Possible API enhancement for Document and Result"
`Document` class and `Result` class should adopt a common protocol just like [couchbase-lite-net](https://github.com/couchbase/couchbase-lite-net/blob/master/src/Couchbase.Lite.Shared/API/Document/Document.cs#L40))

So that we don't need to write two methods (with identical implementation) to process these two types.

--------
* Version:   2.0DB22
* Client OS: Mac
* Server:   -

[2018-03-05 17:57] pasin commented on #2088
Thanks for the feedback. Initially the Dictionary (and Array) interface are used privately to ensure that Document, Dictionary, and Result are consistent, but on some platforms including .NET and Objective-C cannot make the interfaces private. We could consider make them public for all platforms.

[2018-03-05 19:23] snej commented on #2087
We've fixed several bugs since beta that could have caused this. We'll be posting a second beta soon, I hear...

[2018-03-05 19:28] #2085 closed

[2018-03-05 20:06] pasin opened #2089 "testStopReplicatorAfterOffline_SG fails on iOS 10.2 simulator"
The test passes on 11.x simulators.

BT

[code]

[2018-03-05 22:13] pasin commented on #2089
This seems to be an issue with NSURLSession's stream task on iOS 10.2 that canceling the task after an error could cause the crash down in `__NSCFURLLocalStreamTask`. I also noticed a weird issue that -URLSession:task:didCompleteWithError: is called twice.

[2018-03-06 08:27] hrajput89 opened #2091 "Testserver crashes for sytem testing during replication of 1m docs to SG"
I'm running system test on iOS emulator using Xcode. I'm adding 1M docs in batch (10000 docs in 100 iterations). Testserver app crashes after a while during replication (after replicating around 410953 docs).

Test invocation command:
pytest -rsx -s --mode=cc --server-version=5.5.0-1992 --sync-gateway-version=2.0.0-814 --liteserv-platform=ios --liteserv-version=2.0.0-670 --liteserv-host=localhost

[2018-03-06 09:00] Tamil-Arya opened #2092 "CBL syncing crash without any bug report"
**Problem** : After 8 hours, while come to online app start crashing. below are scenario to reproduce the issues.

1. Put device in offline and enable Airplane mode
2. Create around 50-60 document each with 20-30 images and attachments
3. Leave device idle in offline/airplane mode for at-least 8 hours
4. Come online try to sync changes
5. App crashes continuously

Same crash is not happing with le

[2018-03-06 11:11] stefanwascoding commented on #2079
Thanks for the tip!

The problem goes away when I manually force it to analyze the view after it has been computed, and before doing the benchmark tests.

Side note: `optimizeSQLIndexes` is called on DB-open (and even then only when the DB changed significantly), although https://www.sqlite.org/lang_analyze.html suggests it should be done on DB-close, when the DB connection has collected some usag

[2018-03-06 11:11] #2079 closed

[2018-03-06 16:45] pasin commented on #2092
Can you try to connect your device with the XCode and rerun the app in debug mode? XCode should break at the place that it crashes. It is also possible to be a memory issue. Can you do the memory profile and see if the app crashes because of running out of memory?

[2018-03-06 16:47] pasin commented on #2091
@hrajput89 Can you provide the following information?

1. Backtrace of all threads (type 'bt -all' from the console)
2. The link to the Swift source code. It will be easier for me to copy the code and run locally instead of setting up the test environment.

[2018-03-06 17:19] snej commented on #2089
I've posted a question to Apple's macnetworkprog mailing list.

[2018-03-06 18:45] pasin commented on #2089
I have did some more experiment on iOS 10.2. Here are what I have found:

1. The crash will not happen if canceling the task when there is no error.
2. The crash will not happen if canceling the task due to OperationTimeout (This is a cause of the socket leak in #2078). The crash will happen with connection related errors such as connection refuse (-1004) which I don't see socket leaks for these e

[2018-03-06 19:34] pasin commented on #2089
5. Close read and write socket on the task instead of cancel the task works without crash.

[2018-03-06 22:06] borrrden commented on #2091
FYI The test environment is set up on mobile mac mini if you want to make use of it.

[2018-03-07 04:29] #2089 closed

[2018-03-07 14:23] jayzhanghs commented on #2087
@snej @pasin Any update on this particular issue and update on the second beta?

[2018-03-07 17:51] pasin commented on #2087
@jayzhanghs We will release the second beta soon. You can build the binary from the current master branch (https://github.com/couchbase/couchbase-lite-ios/tree/21a8492457a3808e4ff0c43aa55023a23fe48cdc) which will be the beta 2. To build the binary from, please do as follows:

[code]

[2018-03-07 18:45] pasin opened #2094 "testSelfSignedSSLFailure_SG failed on iOS 10.2"
Log:

[code]

Note: Test passed with iOS 11.2.

[2018-03-07 19:22] #2094 closed

[2018-03-07 22:40] jayzhanghs commented on #2087
Thanks @pasin for the detailed instructions. I built it and included it in my project, but now the Replication immediately returns with failure:
[code]

[2018-03-07 22:43] pasin commented on #2087
Ah, I think you also need a SGW beta 2.

CC: @adamcfraser @tleyden

[2018-03-07 22:44] snej commented on #2087
Yup, the server refused the connection due to a protocol mismatch.

[2018-03-07 22:46] jayzhanghs commented on #2087
ughhh. Do you have a rpm package or something for SGW beta 2 for a quick install?

[2018-03-07 22:59] tleyden commented on #2087
@djpongh do we have publicly available builds yet?

@jayzhanghs Sync Gateway is fairly easy to [build from source](https://github.com/couchbase/sync_gateway/blob/master/docs/BUILD.md). If you run into issues, just file a ticket on the Sync Gateway repo.

[2018-03-08 07:37] pasin commented on #2091
I have been running 1M replication in the following scenarios with my own test app, but I couldn't reproduce the crash:

Push 1M Docs
1. Using push replicator.
2. Using push-and-pull replicator.
3. Using push-and-pull replicator + creating 1M docs at the same time.

Pull 1M Docs
1. Using pull replicator.
2. Using push-and-pull replicator.

From the screenshot above, I saw `Thread 250`.  I'm wonder

[2018-03-08 14:52] ascendancy05 commented on #2087
@tleyden I am on the team with Jay. What branch should we be building from source for the Sync Gateway? Master?

[2018-03-08 15:42] tleyden commented on #2087
Yep — the upcoming release will be taken from an upcoming commit on master.  The dev branch is where 2.1 dev is happening

[2018-03-08 15:56] stefanwascoding commented on #2079
I'm building against the CBL source, so it wasn't hard to modify it to trigger the optimization when I want it to run.

[2018-03-08 17:31] snej commented on #2079
With a new-enough SQLite it's preferable to run PRAGMA OPTIMIZE. We do this in CBL 2.

[2018-03-08 21:19] jayzhanghs commented on #2087
We built and uploaded SG Beta 2 to our server and now the 403 forbidden error is gone, but we still have the original hanging problem as seen with CBL Beta 1 and SG Beta 1.

On the server side, sync_gateway.log doesn't show any error:
[code]

On the iOS side it just hangs without more info:
[code]

[2018-03-08 21:23] pasin commented on #2087
Can you enable the following logging on CBL and rerun the app?

[code]

In your app scheme, add the following Environment Variables to enable some additional loggings:
[code]

[2018-03-08 21:35] pasin opened #2095 "2.0: SQL Log Domain is enabled by default"
When I ran todo app with CBL master branch (b8d589c6f0192741788375e9ac393f960e29f345), the following SQL domain log messages showed up without any logging enabled.

[code]

[2018-03-08 21:37] pasin commented on #2095
@snej does LC set the default log level to 'info' for the SQL domain by default?

[2018-03-08 21:47] pasin commented on #2095
I could see the cause of that. In this [line](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/CBLLog.m#L85), we set the default log level to [verbose](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/CBLLog.m#L57).

If there is no default log level set from the NSUserDefault, we should always set the default to warning.

[2018-03-08 21:57] jayzhanghs commented on #2087
It's a lot of output

[code]

[2018-03-08 21:59] zygoat opened #2096 "Log level incorrectly indicated in the log"
It appears that prior to emitting its first log message, CBL makes the following announcement to console, regardless of the configured logging level:

[code]
It asserts a "Verbose" log level, even if configured for something else. For example, if I call `CouchbaseLiteSwift.Database.setLogLevel(.warning, domain: .all)` first thing in my `application(didFinishLaunchingWithOptions:)` delegate method,

[2018-03-09 00:06] pasin commented on #2096
The log message actually means the default log level before a developer customizes the log level via the Database.setLogLevel(level, domain:) function. But the default log level to 'verbose' is not correct.

[2018-03-09 00:09] zygoat commented on #2096
It seems irrelevant and nonsensical to log what the default level is when the current level is (and hasn't been) the default, especially when the message is a direct result of setting the level to something else.

[2018-03-09 00:16] snej commented on #2087
* FYI, in Github Markdown the three back-quotes need to be on their own line.
* Please don't paste long logs; instead put them in a gist, and post a link to it. Thanks

[2018-03-09 05:21] pasin commented on #2096
I changed the log message. Hope it help.

[2018-03-09 05:21] #2096 closed

[2018-03-09 05:21] pasin commented on #2095
I put a workaround to explicitly set the log level of the SQL to warning.

[2018-03-09 05:21] #2095 closed

[2018-03-09 05:36] pasin commented on #2087
From the log, the pull replicator tried to pull the last 2 revs, but never completed. The last BLIP message has M-NC, which means more coming?

[code]

[2018-03-09 05:37] pasin commented on #2087
@jayzhanghs Could you please also post the SGW log in gist? Hope you still have it from the last run.

[2018-03-09 13:26] ritamcouchbase commented on #2091
Hemant running with latest build.

[2018-03-09 16:03] jayzhanghs commented on #2087
@pasin here it is https://gist.github.com/jayzhanghs/bfbeab863ef8660d61635b48efa213aa

[2018-03-09 18:25] hrajput89 commented on #2091
System test for iOS with 1M doc ran successfully. Hence closing the ticket

[2018-03-09 18:25] #2091 closed

[2018-03-09 18:26] pasin commented on #2091
Thanks for the update.

[2018-03-09 20:40] jayzhanghs commented on #2087
@pasin since this closed does it mean it is resolved? Can I pull a tag/branch to test?

[2018-03-09 21:39] snej commented on #2087
I closed it because it's not a CBL or LiteCore issue; it's a bug in the go-blip module used by Sync Gateway. The fix has been merged there, so if you pull and rebuild SG it should work now.

[2018-03-09 21:53] jayzhanghs commented on #2087
alright we'll give it a try

[2018-03-09 21:54] #2087 closed

[2018-03-12 18:33] jayzhanghs commented on #2087
@snej We pulled and rebuilt SG and confirm this is fixed.

@pasin another question is now with DB23 CBL always outputs log info like ```CouchbaseLite SQL Info: Compiled {Query#0}: SELECT fl_result(key) FROM kv_default WHERE (fl_value(body, 'converted') = 0 AND fl_value(body, 'entityType') = 'CustomObject') AND (flags & 1) = 0 LIMIT MAX(0, 1000)``` even though I turned off those info flags you gave

[2018-03-12 18:37] pasin commented on #2087
@jayzhanghs I thought I already fixed that. Have you update to the latest master branch (11c5dc446b6a95634d87e7e203cc3aa226329aa6)? I you already used that commit, please let me know.

[2018-03-12 18:45] jayzhanghs commented on #2087
no, I was at b8d589c6f01. Good to know this is fixed. will try that later

[2018-03-12 18:47] jayzhanghs commented on #2087
By the way, are you going to release DB24 or something similar soon?

[2018-03-12 18:49] pasin commented on #2087
We are verifying DB23 and will release DB23 soon. 11c5dc4 commit is a new DB23 candidate.

[2018-03-12 18:52] jayzhanghs commented on #2087
alright, I thought DB23 was tagged for some earlier commits.

[2018-03-13 14:28] jayzhanghs opened #2097 "Crash in _canonicalPath(), on iOS 9 (DB22)"
EXC_BAD_ACCESS on iOS 9

Stack trace:

<img width="695" alt="screen shot 2018-03-13 at 10 26 39 am" src="https://user-images.githubusercontent.com/18294900/37347836-2056f3f4-26a9-11e8-8850-c2ada05a796e.png">

This crash repeats every time.

--------
* Version:   DB22+
* Client OS: iOS 9
* Server:    SG 2.0

[2018-03-13 16:24] snej commented on #2097
(Just FYI, you can get a textual backtrace by typing `bt` at the debugger prompt. Then paste it in with a line of three back-quote characters above and below it. This is more readable and searchable than a screenshot.)

[2018-03-13 16:27] snej commented on #2097
What's the memory address of the bad access?

[2018-03-13 17:34] newlix commented on #1266
Will 2.0 support this?

[2018-03-13 17:46] snej commented on #1266
Hi! Please ask your question on the [Couchbase web forum](https://forums.couchbase.com/c/mobile) or the [Couchbase Mobile mailing list](https://groups.google.com/forum/#!forum/mobile-couchbase). We use Github issues only for bug reports and feature suggestions. Thanks.

[2018-03-13 17:50] jayzhanghs commented on #2087
@pasin I built from 11c5dc446b6a and that verbose SQL compiled message is still there.
[code]

[2018-03-13 17:55] snej commented on #2087
Did you remember to update submodules (recursively)?

[2018-03-13 18:42] pasin commented on #2087
@jayzhanghs I could confirm that the issue was fixed. Please update submodule recursively before building the framework as @snej suggested.

[2018-03-13 19:58] jayzhanghs commented on #2087
cool thanks. re-tested and it does work!

[2018-03-13 20:09] snej commented on #2097
Figured it out: `kCFURLCanonicalPathKey` is only available on iOS 10 (and macOS 10.12) or later :(
[code]

[2018-03-13 20:15] snej commented on #2097
This was introduced by 6341c8f on 1/31, to fix problems opening databases on different but equivalent paths. We need a workaround to get the canonical version of a path (resolving symlinks).

[2018-03-13 20:47] #2097 closed

[2018-03-13 20:54] snej commented on #2097
(Note: fix will not be available until iOS updates its LiteCore submodule.)

[2018-03-13 20:58] jayzhanghs commented on #2097
how will we be notified when LiteCore submodule is updated? In this thread?

[2018-03-13 21:18] pasin commented on #2097
Updated

[2018-03-14 13:48] djpongh opened #2098 "Standardize Error Codes"

[2018-03-14 13:58] jayzhanghs commented on #2097
it still crashed in iOS 9, at a place other than cononicalPath

https://gist.github.com/jayzhanghs/326da343d1950d849f126328a8745fae

[2018-03-14 15:43] jayzhanghs opened #2099 "CBL 2.0 for Swift: get attachments as blob"
In CBL android version, there is a method `getBlob()` on Database that fetches attachments like `getBlob("_attachements.something")`. On Swift side however I don't find this method on `Database`. There is a `blob(forKey:)` method on Document class, but when I tried it on "_attachments" or "_attachments.something", both returned nil. `value(forKey:)` on the same document returns both as DictionaryO

[2018-03-14 15:50] rajagp commented on #2099
How did you create the attachment on the server side ?
Also, please post questions on our Developer Forums .  Github is for bugs and feature requests. If we identify an issue, we will open a ticket here.

[2018-03-14 15:57] pasin opened #2100 "Verify with iOS 9, 10, and 11"
From #2097, we have some iOS 9 compatibility issue as we may use APIs that are not available in some of the iOS version. Need to run full unit tests on each version of the iOS (MacOS as well).

[2018-03-14 16:00] pasin commented on #2097
In additional to the gist above, here is the dyld error when I ran replication test with iOS9.

[code]

[2018-03-14 16:08] jayzhanghs commented on #2099
We created the attachments via Sync Gateway Admin API

I opened a topic in the developer forum if you want to close this issue here: https://forums.couchbase.com/t/cbl-2-0-for-swift-get-attachments-as-blob/16157

[2018-03-14 16:13] djpongh commented on #2100
@ssmotra, are we targeting iOS9? I thought it was 10+

[2018-03-14 16:25] jayzhanghs commented on #2097
Thanks @pasin . We still have a significant percentage of users on iOS 9.

[2018-03-14 16:40] #2099 closed

[2018-03-14 16:40] snej commented on #2099
Please don't file issues to ask questions; use the forum instead.

[2018-03-14 17:10] snej commented on #2100
Found it: `-Wunguarded-availability`,[ added in Xcode 9.0](https://developer.apple.com/library/content/releasenotes/DeveloperTools/RN-Xcode/Chapters/Introduction.html#//apple_ref/doc/uid/TP40001051-CH1-SW2). CBL/iOS already has the build setting `CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE`, but LiteCore doesn't.

I tried adding that setting to LiteCore, and reverting FilePath.cc back to th

[2018-03-14 17:42] snej commented on #2097
I've just enabled `-Wunguarded-availability` in LiteCore (it was already enabled in CBL) and it detected both of these problems. The second one is due to use of the symbol `DISPATCH_AUTORELEASE_FREQUENCY_NEVER` in the replicator, which is also only available in iOS 10+. I'm adding a runtime check for it using `__builtin_available()`.

[2018-03-14 19:30] krema opened #2101 "How can I embed documents in documents?"
Hi,
I have question about data modeling and the API of Couchbase Mobile 2.0.

I am not sure how I can achieve embedding documents as described [here](https://developer.couchbase.com/documentation/server/current/data-modeling/modeling-relationships.html ) (Embedding "1" in "many" side) with the current available API.

I expected some API like this:

    let studentDocument = ...
    let students =

[2018-03-14 20:20] djpongh commented on #2101
@krema, thanks for your interest in Couchabse Lite!  Please use Github issues for bugs/feature requests only. Questions such as above are better suited for the forums: https://forums.couchbase.com/c/mobile/couchbase-lite

[2018-03-14 20:20] #2101 closed

[2018-03-14 21:16] #1972 closed

[2018-03-14 22:58] snej commented on #2101
You can embed dictionaries in documents to do what you want.

Documents are the top-level entities in a database, so they are by definition not nested.

[2018-03-14 23:02] snej opened #2102 "-[CBLQueryResult valueAtIndex] never returns NSNull"
If a query row contains a JSON `null` column, `-[CBLQueryResult valueAtIndex:]` incorrectly returns its value as `nil`, not an `NSNull` object.

This is because `-fleeceValueToObjectAtIndex:` doesn't consult `_missingColumns`, it simply treats a `null` value as `nil`:

[code]

[2018-03-14 23:07] pasin commented on #2102
This is expected behavior that CBLDictionary, CBLArray, and CBLQueryResult will not return NSNull Object per cross-platform consistency. To check whether it's null or missing, need to use -containsValueForKey:.

[2018-03-14 23:19] snej commented on #2102
The `-testMissingValue` test didn't detect this because it's looking for the wrong value:
[code]
should be
[code]

(I'm working on a fix.)

[2018-03-14 23:22] pasin commented on #2102
@snej it's not a bug. The current API (CBLDictionary, CBLArray, and CBLQueryResult) doesn't return NSNull for null value.

[2018-03-14 23:23] snej commented on #2102
So how do you check whether it's null by index? There's no `-containsValueAtIndex:` method.

[2018-03-14 23:27] pasin commented on #2102
Currently there is none. That is something we could add to CBLQueryResult.

[2018-03-14 23:31] snej commented on #2102
`-toDictionary` doesn't preserve JSON `null` either. So if you store an NSDictionary containing `[NSNull]` into a document, then get the document as an NSDictionary, the `NSNull` value is missing. That's inconsistent with Java and .NET, isn't it?

[2018-03-14 23:32] sridevi-15 opened #2103 "doc update is not getting replicated when ios is in offline"
### Environment
* Version:   IOS 702
* Client OS: Todo app , ios
* Server:    sg - 823

### steps to reproduce :
1. login to todo app on ios and android as two differrent users.
2. Take ios offline (wifi off),
3. Create doc in android
4. Get ios online(wifi on), doc will get replicated to ios
5. update doc in android

Result : Doc does not get updated on ios . Try updating the doc on ios, it won't

[2018-03-14 23:35] pasin commented on #2102
Yes, that's inconsistent and should be fixed.

[2018-03-14 23:37] snej commented on #2102
^ Actually what I wrote there isn't true (it was an artifact of some local changes I'd made and not backed out) so I deleted the comment before you replied :)

[2018-03-14 23:47] pasin commented on #2103
@sridevi-15 does the issue happen with iOS to iOS or Android to Android?

[2018-03-15 00:00] #2102 closed

[2018-03-15 17:54] sridevi-15 commented on #2103
Pasin, I have seen this issue with ios offline and replication from Android to ios

[2018-03-15 18:31] pasin opened #2104 "Set Immutable Dictionary or Array to Document causes toDictionary() to crash in Swift"
This is reported in CBSE-4995. Here is the unit test that can cause the crash:

[code]

The issue is that the [convertSETValue(_ value)](https://github.com/couchbase/couchbase-lite-ios/blob/master/Swift/DataConverter.swift#L57-L68) function checks only MutableDictionary and MutableArray type. Instead the function should check the base type.

[2018-03-15 19:10] #2104 closed

[2018-03-15 19:59] jayzhanghs commented on #2097
Is this fix pushed to the master now?

[2018-03-15 20:45] sridevi-15 commented on #2103
Pasin , I tried ios to ios i.e ios simulator to ios device with ios device offline -> it passed
I tried android to android i.e android emulator to android device with android device offline -> it failed.

I also tried ios device with android emulator having ios device offline -> it failed. but not all the time, sometime with update on emulator did not replicated on device, but sometime it replicat

[2018-03-15 20:54] snej commented on #2097
It is now, as of about 30 seconds ago :)

[2018-03-15 20:54] pasin commented on #2103
I'm not sure if it's android bug or not. But can you move to android so @hideki can have a quick look?

[2018-03-15 21:01] sridevi-15 commented on #2103
opened this ticket in android as it looks like android specific
https://github.com/couchbase/couchbase-lite-android/issues/1664

[2018-03-15 21:01] #2103 closed

[2018-03-15 21:24] jayzhanghs commented on #2097
Compiled with latest pull and build (head at 2b7b37b3f9a9e), but still crashed in iOS 9 with EXC_BREAKPOINT, at another different place:

https://gist.github.com/jayzhanghs/e7c84df1d3c71d49fbff45f2c7ff35f7

[2018-03-15 21:52] snej commented on #2097
Another dyld missing symbol, in something called by `litecore::blip::MessageOut::nextFrameToSend`.
There should have been a message logged by dyld about what the missing symbol is?

[2018-03-16 14:13] jayzhanghs commented on #2097
like this?

[code]

[2018-03-16 18:09] snej commented on #2097
Exactly, thanks. Looks like this zlib function is new-ish, and the version of zlib was upgraded in the iOS 10 timeframe:

[code]

[2018-03-16 18:27] snej commented on #2097
Closing this since the actual error is in LiteCore, and the culprit is no longer canonicalPath().

[2018-03-16 20:51] snej opened #2105 "-[DatabaseTest testCopyToNonExistingDirectory] fails on iOS 9.3"
After fixing couchbase/couchbase-lite-core#471 (crash in replicator on iOS 9) I ran the Obj-C unit tests on the iOS 9.3 simulator. Everything passes except for one assertion in testCopyToNonExistingDirectory.

(All tests pass in iOS 10.3.1 and iOS 11.3.)

[code]

[2018-03-19 09:09] weis opened #2106 "Unable to load SG generated session cookie from local db"
Hi,

I want to save and load a Session cookie coming from SG-Rest user api via POST {db}/_session.
While c4db_setCookie save the cookie in the local db i'm unable to get the cookie from db via c4db_getCookies.
When i remove the path entry from the cookie definition, c4db_setCookie loads the cookie correct.
If the behavior is intentional, why?

[code]

[2018-03-19 17:25] sivamani1818 opened #2107 "Sync for specified period of time"
I will be having Last document Sequence number(Using Rest Api).
After that PULL Replication(sync) should happen only for mentioned period  of time(Example: 1 week of data should be synced).How this should done in Router ? Can You please guide .

--------
* Version:  1.4.1
* Client OS: iOS

[2018-03-19 17:35] pasin commented on #2107
@sivamani1818 You will need to use sync function via some channel structure for this, which also depend on the period of time requirement. Could you please ask this question in the [forum](https://forums.couchbase.com/c/mobile/sync-gateway)?

[2018-03-19 17:35] #2107 closed

[2018-03-19 17:43] pasin commented on #2106
Can you please open the issue at https://github.com/couchbase/couchbase-lite-core instead? From the API [definition](https://github.com/couchbase/couchbase-lite-core/blob/3dfc8b218d59a85b9a44cba3f7232eee960179d4/C/include/c4Replicator.h#L141-L148), it takes only the host name into account.

[2018-03-19 17:43] #2106 closed

[2018-03-19 17:44] #2105 closed

[2018-03-19 17:46] pasin commented on #1639
I think we can close this as we don't use Archive in the build script as 1.x does.

[2018-03-19 17:46] #1639 closed

[2018-03-19 18:02] pasin commented on #2106
I created LC issue https://github.com/couchbase/couchbase-lite-core/issues/475.

[2018-03-19 21:14] sridevi-15 opened #2108 "GCDWebServerConnection crashes in simulator when build the app with configuration 'Release'"
### Environment
* Version:   tested on iOS 2.0.0-724
* Client OS: iOS
* sg-version : 2.0.0-823

### Steps to reproduce :
1. Move couchbaselite.swift.framework of version which you want to test to  framework folder.

2.  Go to edit scheme, and change Run configuration to 'Release'
3. Build the app
4. Run the test which can do calls to CBL library like create database, create docs, start replication

[2018-03-19 21:37] snej commented on #2108
The crash is in the QE test server code, not in CBL or LiteCore. GCDWebServerConnection's dealloc method is releasing a bogus Obj-C reference, probably an already-dealloced object. Using Xcode's 'Zombies' diagnostic mode will help track this down: in the scheme editor's Diagnostics tab, check "Zombie Objects".

[code]

[2018-03-19 22:41] sridevi-15 commented on #2108
@snej,  just wondering why this is not happening on Debug mode or on device with Release mode. Anyways, i ran with 'zombie objects' enabled and see this back trace

https://gist.github.com/sridevi-15/1482d42d2b7f524995e84df86e2c6e1d

[2018-03-19 23:16] sridevi-15 commented on #2108
now it says it failed at Databa.inbatch in this backtrace
https://gist.github.com/sridevi-15/077671410c1c1af7a5bd21f8e4d85871

[2018-03-20 01:41] pasin opened #2109 "CBL Swift built with XCode 9.2 using wholemodule optimization causes random EXC_BAD_ACCESS"
How to reproduce:

1. Create an iOS app with the code below (use CBL Swift master branch, 55472ff52b0d12a6a3ce1a01c6bf6069f1de95cb)

2. Run the app in release mode 3 - 5 times on an iOS Device (tested on iPhone 6, iOS 11.2 or iPhone X simulator iOS 11.2).

3. The app crashed with the back trace below. From the back trace, it doesn't seem to relate to CBL or LC but if commenting out `db = try! Data

[2018-03-20 01:49] pasin commented on #2109
Note: Cannot reproduce the issue with Zombie Objects enabled :(

[2018-03-20 03:29] pasin commented on #2109
When I keep reproducing the crash, at one point, the crash happened in a different place. It still doesn't make any sense to me.

[code]

[2018-03-20 03:30] pasin commented on #2109
A new place:
[code]

[2018-03-20 03:31] pasin commented on #2108
This could be related to https://github.com/couchbase/couchbase-lite-ios/issues/2109.

[2018-03-20 03:45] pasin commented on #2109
App to test: https://github.com/pasin/TestCBLSwift

[2018-03-20 03:55] pasin commented on #2109
The crash is gone when I set `SWIFT_OPTIMIZATION_LEVEL = -O` instead of `-Owholemodule` in CBL's Project_Release.xcconfig.

[2018-03-20 04:53] pasin commented on #2109
The crash is also gone when using XCode 9.3 beta4 that comes with Swift v4.1. This makes this issue Swift Optimization bug after all?

Note: We are currently setting Swift version to 3.2 to get the framework compatible on both Swift 3 and 4.0.

[2018-03-20 06:19] sridevi-15 commented on #2108
https://gist.github.com/sridevi-15/4aca580f2efd3da8a87b462304500485

[2018-03-20 21:47] djpongh commented on #2108
I'm thinking this is the same root cause as: https://github.com/couchbase/couchbase-lite-ios/issues/2109

If I'm wrong, please re-open.

[2018-03-20 21:47] #2108 closed

[2018-03-21 01:19] #2098 closed

[2018-03-21 01:39] snej opened #2112 "HTTP proxy support"
The replicator almost certainly doesn't work with HTTP proxies -- it does use NSURLSession, but via the low-level StreamSessionTask, which is just a raw TCP connection. So the system has no knowledge that we're making an HTTP connection.

In that case, we have to use the CFProxy API to find the current proxy, and talk HTTP proxy talk to it, which means putting the full URL in the first line, and u

[2018-03-21 18:02] raghusarangapani commented on #2112
### Library Version
2.0.0-721

### Expected behavior
CBL .ios should use system proxy if configured

### Actual behavior
CBL .ios is not using system proxy.
The same test works fine with Android

### Steps To Reproduce
- Set up nginx as a proxy (192.168.33.21) to forward requests to SG (192.168.33.22)
- Set 192.168.33.21 as the system proxy - port 4984 in the iOS Settings -> WiFi -> <wifi network>

[2018-03-21 18:43] snej commented on #2112
If it's forwarding to a specific host, it doesn't sound like it's configured as a [regular HTTP proxy](https://en.wikipedia.org/wiki/Proxy_server#Web_proxy_servers), the kind that's used on end-user networks. Those allow connections to multiple hosts by taking the full URL on the initial HTTP request line.

[2018-03-21 19:29] djpongh commented on #2109
@pasin when ready, please move this issue to the 2.1.0 milestone so we can remember to revisit then.

[2018-03-21 21:01] snej commented on #2112
Useful info: https://www.infoq.com/articles/Web-Sockets-Proxy-Servers

[2018-03-21 22:53] snej commented on #2112
I have basic proxy support working. I wrote down [some implementation notes](https://github.com/couchbase/couchbase-lite-core/wiki/Proxy-Servers) on the LiteCore wiki, to help @borrrden and @hideki.

[2018-03-22 01:02] snej commented on #2112
The branch `feature/proxies_2112` should work for regular HTTP (and HTTPS?) proxies. The known missing feature is authentication. It hasn't been tested yet, though.

The replication unit tests now support setting environment variables `CBL_TEST_PROXY_HOST` and `CBL_TEST_PROXY_PORT` to force use of a proxy, regardless of the system proxy settings.

[2018-03-22 01:08] snej commented on #2112
I am unclear on the rules for how SSL and proxies combine -- how you know whether to make an HTTPS connection to the proxy, and whether you have to do another TLS handshake after the CONNECT. That definitely needs to be sorted out.

[2018-03-23 01:10] pasin opened #2114 "Crash due to __cxa_bad_cast"
@sridevi-15 sent me the log from Todo app that got crashed.

[code]

Full crash log: https://gist.github.com/pasin/932323e438ef46124446c43bcbc6fff6

--------
* Version:   2.0.0 Build 755
* Client OS: iOS 10 (iPhone 5C)
* Server:    NA

[2018-03-23 01:13] pasin commented on #2114
Is it possible that CBLWebSocket got freed while one of the C4Socket's call back is called?

[2018-03-23 01:14] pasin commented on #2114
@sridevi-15 do you remember what might be the steps or scenarios to reproduce this?

[2018-03-23 01:29] snej commented on #2114
Many of the PC offsets in the backtrace are huge, meaning the function names aren't accurate. So `__copy_helper_block_.162` is not involved.

I think about all we know for sure is that `__cxa_bad_cast` was called, which is a fatal error in (I think) the `dynamic_cast` operator.

[2018-03-23 01:30] snej commented on #2114
Could this be reproduced with a debug build? Or could we symbolicate using the .dSYM file?

[2018-03-23 08:36] pasin commented on #2114
@sridevi-15 let chat tomorrow about symbolicating the crash log. I think we could also include dSYM file to todo project to make sure that it will be found by XCode.

[2018-03-23 17:12] snej commented on #2114
The symbol problems might also be due to extensive inlining. In either case using a debug build should help. Or if it doesn't reproduce, we could try a custom Release build without link-time optimization.

[2018-03-23 17:49] pasin commented on #2114
@sridevi-15 I created a debug build that you can try to use to reproduce the crash with. Please download from here:

https://www.dropbox.com/s/fw7qtjcar4vtgo3/CBL%20Swift.zip?dl=0

[2018-03-23 20:54] #67 closed

[2018-03-23 21:05] djpongh opened #2117 "EE Encryption"
Implement DatabaseEncryption feature.

[2018-03-23 21:05] djpongh opened #2118 "P2P Support"

[2018-03-23 22:38] sridevi-15 commented on #2114
@pasin , is it debug build of todo app with 755?

[2018-03-23 22:42] pasin commented on #2114
It is a debug build of CBL Swift.

[2018-03-24 06:39] pasin commented on #2114
@sridevi-15 I made change to Todo Swift version to auto upload crash log to Crashlytics.

Please update mobile-training-todo and use 2.0.0 RC1 (Build 755) to build the app for testing. You will need to disconnect from XCode when reproducing the crash. After the crash happens, reopening the app again will upload the crash log to the Crashlytics. The crash log will be symbolicated there.

[2018-03-26 06:15] sridevi-15 opened #2119 "Does not throw error with wrong blip protocol"
### Environment
* Version:   755
* Client OS: iOS
* Server:    sg - 823

### Steps to reproduce :
1. Start the replication without blip protocol like http or other than 'ws' protocol.

### Result :
1. It did not throw any error on cbl logs.

### Expected :
1. It should throw an error

### Note :
It is happening only on iOS, Android and .net throws an error

[2018-03-26 06:33] Tamil-Arya opened #2120 "CBL is not giving proper status of Reachability."
My scenario is, If any changes in server end we will pull as download component those status not giving proper way some times if internet available also reachability status is offline. In that scenario i quit the app and reopen its working. How to handle it, any suggestions ?

* Version:   CBL 1.4
* Client OS: iOS 9
* Server:    CouchDB

[2018-03-26 08:32] pasin commented on #2119
Fixed in the master branch.

[2018-03-26 08:35] pasin commented on #2120
Could you please describe more in detail when that situation happens or how to reproduce the issue? If you could reproduce the issue, could you enable Sync and SyncVerbose logging and share the log?

[2018-03-26 21:15] pasin commented on #2114
Updated: I have tried to reproduce this issue by myself but so far no luck. @sridevi-15 will try to reproduce the issue today.

[2018-03-26 21:33] djpongh commented on #2114
@sridevi-15 @pasin was this reproducible when the non-debug build is used?

[2018-03-26 23:06] sridevi-15 opened #2121 "Replicator stays offline when switching from disabled LTE to wifi"
### Environment
* Version:   ios - 755
* Server:   sg- 823

### Steps to reproduce :
1. Login to todo app on ios device
2. Create task list and docs.
3. update docs
4. Switch network from wifi to disabled LTE.
5. open todo app and update docs again
6. Switch network from disabled LTE to wifi.

### Result :
Replicator stays offline and does not sync with sg.

### cbl logs :
https://gist.github.com/

[2018-03-26 23:08] sridevi-15 commented on #2114
I tried with non-debug and 755 again and not able to reproduce it anymore.

[2018-03-26 23:08] #2114 closed

[2018-03-26 23:37] pasin commented on #2121
From the log, the issue happened as the following scenarios:

1. Switched from WiFi to Not Working (No data plan enabled) LTE.
2. The replicator got operation timeout error (transient error)
     -> Reachability started and Reachability thinks it may be online.
     -> Retry logic triggered
3. While the replicator was in the retry loop, switched to WiFi again,
     -> No changes in Reachability st

[2018-03-27 16:50] ascendancy05 opened #2122 "iOS 9 - Got LiteCore error: connection closed abnormally - eventual crash"
As a follow up to https://github.com/couchbase/couchbase-lite-ios/issues/2097, I have continued @jayzhanghs testing and am seeing the following behavior

[code]

After about 5 to 15 minutes of this just happening over and over every few seconds, we eventually we get a EXC_BAD_ACCESS crash with a very unhelpful stack trace, and now get this every time we relaunch the app

[code]

This is what the C

[2018-03-27 17:23] snej commented on #2122
The error logs look as though the server was closing the WebSocket unexpectedly. Are there any warning/error logs from Sync Gateway at the time this occurred?

The crash is on an internal dispatch queue used by NSURLSession, not directly involving any of our code. Could you post the full crash report?

[2018-03-27 17:24] snej commented on #2122
PS: Also, does this only occur on iOS 9?

[2018-03-27 19:36] ascendancy05 commented on #2122
Only iOS 9. Oddly, cannot reproduce in iOS 9.3 or 9.2, just 9.0 so far. We don't support iOS 8 on our end

[2018-03-27 21:57] pasin commented on #2121
A few things that I found from testing this issue:

1. When create and start a new Reachability, the change status call back to the Replicator will not be called.
2. I was confused with the replicator status which shows 'Reachable' when I don't have the SG running. I was wrong on this as the Reachability i setup with host level not socket level.
3. The issue is only reproduced with SG setup on a V

[2018-03-27 23:24] pasin commented on #2121
After several rounds of testing with the right setup to reproduce the issue, here is the cause of the issue.
1. Reachability reported as reachable regardless of using the not-working-LTE (40003, WR -t-----) or valid WiFi (20002, -R ------d).
2. The issue happened when switching from not-working-LTE to WiFi and instead of being able to connect, the WebSocket got POSIXError, 64, "Host is down" error

[2018-03-28 00:05] snej commented on #2121
A continuous replication should always keep retrying as long as the server might be reachable.

[2018-03-28 04:27] pasin commented on #2121
This will be fixed in the RC2 build (TBD).

[2018-03-28 15:51] #2121 closed

[2018-03-29 23:58] pasin opened #2126 "CBL Swift 2.0 Beta 2 is not compatible with XCode 9.3"
Error:
[code]
As expected, the current CBL Swift Beta 2 binary cannot be use with XCode 9.3. We need to upgrade the build machine to use XCode 9.3 and update the Swift version to 3.3.

[2018-03-30 00:11] pasin commented on #2126
Jira ticket created: https://issues.couchbase.com/browse/MB-28990

[2018-03-30 00:26] pasin commented on #2109
XCode 9.3 comes with a new set of optimization modes:
* [-Onone]: Compile without any optimization.
* [-O]: Optimize for Speed
* [-Osize]: Optimize for Size (Default when creating a new Swift project)
* [-O -whole-module-optimization] : Whole Module Optimization (Don't see in XCode 9.3 selection list but shown in the documentation).

[2018-03-30 01:33] rajagp commented on #2126
The lack of ABI compatibility support in swift is a nightmare for anyone trying to directly use the binaries  . Hope a resolution is announced at WWDC this year .

[2018-03-30 05:13] winklerp commented on #2126
CBL 1.4.1 is also not compatible with Xcode 9.3. At least it cannot be compiled and some errors in source code are showing up.

[2018-03-30 15:24] djpongh commented on #2100
I think #1804 will take care of this. Will close this issue as a dup.

[2018-03-30 15:24] #2100 closed

[2018-03-30 17:03] snej commented on #2109
If the crash is still present when building with 9.3, I can file a bug report with Apple.

[2018-03-30 17:24] snej opened #2127 "CBLReplicator always runs on main queue"
Just noticed that CBLReplicator's callbacks all run on the main dispatch queue, since its `_dispatchQueue` ivar is initialized to `dispatch_get_main_queue()` and never changed.

This could block UI work the main queue is doing, or if the main queue is overly busy it could delay the replicator.

I think it'd be better to set `_dispatchQueue` to be the queue of the local `CBLDatabase` associated wit

[2018-03-30 23:01] djpongh commented on #2126
Fixed in RC3

[2018-03-30 23:01] #2126 closed

[2018-03-31 06:53] winklerp opened #2128 "CBL 1.4.1 is not compatible with XCode 9.3"
CLB 1.4.1 cannot be compiled with XCode 9.3 due to a couple of errors.

--------
* Version:   1.4.1
* Client OS: iOS 11.3
* Server:    Couchbase 5.0

[2018-04-02 13:03] azcrusher opened #2129 "couchdb1 cannot replicate to couchdb2 & couchdb3"
--------
* Version:   couchdb-1.6.1
* Client OS: CentOS release 6.9 (Final) : couchdb-1.6.1
* Server:    CentOS release 6.9 (Final) :  couchdb-1.6.1

Hi all,

i have a some problem, please help for fix the problem.

i cannot replication from couchdb1 cannot replicate to couchdb2 & couchdb3,

i use script for replication, by python:
https://pastebin.com/4NpAeVRR

my error is, when running script is

[2018-04-02 13:47] djpongh commented on #2129
Couchbase != couchdb

You might try our forums for help but we do not support couchdb.

[2018-04-02 13:47] #2129 closed

[2018-04-02 22:47] brendand opened #2130 "CBL 1.4.1 Many attachments uploading crashes iOS"
When syncing a CBL database that contains a lot of attachments (thousands), CBL is crashing on iOS with a memory issue. There also appears to be a ton of open input streams, which was generating `vnode: table is full` messages in the console log on the device.

This is a screenshot from Xcode showing all the input streams generated (3460 of them).

<img width="1664" alt="cbl-multi-part-uploader-in

[2018-04-03 03:20] pasin commented on #2130
How many attachments per doc/rev?

We probably need to implement pause logic for `-uploadMultipartRevision:` method; basically queuing rev (`CBL_Revision`) and processing up to a certain number of revs. I think we could use batcher for queuing and processing the revs.

[2018-04-03 03:39] brendand commented on #2130
There could be any number of attachments per revision. Up to about 75 - 100 attachments in this test I believe. The database I'm testing has about 4850 attachments total across 397 records.

[2018-04-03 04:54] pasamio commented on #2130
I've been trying to figure this out myself, I originally reported the issue to @brendand a few days back. I'm not much of a Mac developer so I'm slightly uninformed. I tried to put in a simple semaphore in `-uploadMultipartRevision:` to limit consumption but that didn't work because it looks like it's queuing up the attachments in response to a `_revs_diff` request. Because it's waiting to process

[2018-04-03 04:56] pasin commented on #2130
How about in -uploadMultipartRevision:, instead of queuing uploader objects, queue the `CBL_Revision` rev and upload the rev one by one?

[2018-04-03 05:03] pasin commented on #2119
@sridevi-15 please confirm and close the issue if it has been fixed?

[2018-04-03 06:00] brendand commented on #2130
@pasin if you have some code to do that, it would be greatly appreciated. The revision is passed in to that method already from higher up in `uploadChanges:fromDiffs:`.

Do you have a good way instead to just block while the `_remoteSession` finishes processing the current `uploader` and doesn't return from `uploadMultipartRevision:` until it's finished uploading?

[2018-04-03 06:33] sridevi-15 commented on #2119
@pasin , which build has this fix ? I tested on 806 and still seeing this issue

[2018-04-03 06:43] pasin commented on #2119
I see. There is a slightly implementation in Swift. It will through the exception when creating a replicator with the configuration.

[2018-04-03 17:14] djpongh commented on #1647
@pasin is this still the case?

[2018-04-04 18:06] snej commented on #2036
Sorry you're frustrated. The release is very close. Please ask questions on the Couchbase forums; we use Github for bug reports & feature requests only.

[2018-04-04 18:46] pasin opened #2133 "Potential issue that document change events might not be fired if updating docs in batch"
@snej pointed out that the [-postDocumentChanged:](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/CBLDatabase.mm#L769) has the check to not fire the change event if in a transaction. I haven't tested this but pretty much we could have the issue that that document change events might not be fired if updating docs in batch.

[2018-04-04 19:33] brendand opened #2134 "CBL 1.4.1 unable to delete document due to not found error."
I have a situation in a customer's database where he has a basically empty record that can't be deleted.

I traced through the code and found that CBL (1.4.1) is returning kCBLStatusNotFound when trying to delete (or even modify) the document.

Here's the relevant code being executed in CBL_SQLiteStorage.m (1728) in

[code]

The last `return kCBLStatusNotFound` bit is what's being executed when th

[2018-04-04 21:09] brendand commented on #2134
One more clarification. The document cannot be updated nor deleted. So it's not just a deletion issue.

[2018-04-05 00:18] snej commented on #2133
It won't happen if everything happens on the database's queue, because the notifications are all scheduled on that queue, so when they run there won't be a transaction.

But this problem can happen as a race condition if you're using other queues either to change documents or to listen for notifications.

[2018-04-05 14:07] Codeido opened #2135 "CBL 2.0 cannot be imported in Swift 4.1"
![couchbase](https://user-images.githubusercontent.com/495617/38370810-493d2988-38eb-11e8-9813-4f8c94c325d9.png)

Couchbase lite 2.0 currently not run on Swift 4.1 (Xcode 9.3).

--------
* Version:  2.0 DB 21
* Client OS: iOS 11
* Server:    -

[2018-04-05 15:50] pasin commented on #2135
Same as https://github.com/couchbase/couchbase-lite-ios/issues/2126, and the issue will be fixed in the next release.

[2018-04-05 15:50] #2135 closed

[2018-04-05 17:07] snej commented on #2134
Is it possible to get a copy of the database?

[2018-04-05 17:47] brendand commented on #2134
I'll ask my customer if it's ok then I'll email you.

[2018-04-05 17:57] brendand commented on #2134
For reference to this issue, once I get you the database, the error that's displayed when the document can't be deleted is:

[code]

or updated:

[code]

There may be other documents with this same situation in the database.

[2018-04-06 00:52] brendand commented on #2134
Email sent with copy of database.

[2018-04-06 17:14] swaheed2 commented on #1235
Is this fix supposed to be included in Couchbase Lite 1.4.1 thats published here:

https://github.com/couchbaselabs/Couchbase-Lite-PhoneGap-Plugin

First _changes request seems to behave as longpoll then the rest are definitely not.

[2018-04-06 19:49] swaheed2 commented on #1235
Actually it happened a few times when I was testing it, It seems to be working fine.

[2018-04-07 19:24] roikatz opened #2136 "Instructions for CocoaPods or Carthage are missing (404) under releases"
When you go to the releases page, under the "Where to get it" section,
The link for instructions is dead: "https://github.com/couchbase/couchbase-lite-ios/tree/feature/2.0"
you get the generic gitHub 404 page instead of instructions.

[2018-04-10 14:10] jamiltz commented on #2136
Looks like that link was added by hand for each DB. The link broke when 2.0 was merged to master. Engineering typically maintains this content so re-assigning to Pasin.

[2018-04-10 22:34] callo90 commented on #2128
any update about this?

[2018-04-10 22:47] pasin commented on #2128
Sorry, we are currently focusing on 2.0 release. Are you interested in submitting a PR for this?

[2018-04-10 22:48] pasin commented on #2128
Also what is the error? If it's a Swift error, we will need to rebuild the binary (probably no code fix needed).

[2018-04-10 22:54] pasin commented on #2136
Fixed. Thanks.

[2018-04-10 22:54] #2136 closed

[2018-04-11 08:16] #2117 closed

[2018-04-11 08:18] pasin opened #2139 "Implement Replicator reset checkpoint feature"
Implement Replicator.resetCheckpoint() function.

[2018-04-11 08:44] #2139 closed

[2018-04-11 14:55] callo90 commented on #2128
@pasin working on it, but there's a lot of objective C errors for some of your vendors, for instance
<img width="1124" alt="screen shot 2018-04-11 at 9 54 48 am" src="https://user-images.githubusercontent.com/808411/38624709-6e0eea76-3d6e-11e8-8755-59d57db854f7.png">

[2018-04-11 14:56] callo90 commented on #2128
not sure if taking xcode suggestions wont crash anything

[2018-04-11 14:57] callo90 commented on #2128
As soon as I finish I let you know

[2018-04-11 15:34] pasin commented on #2119
Could you please test the fix with 2.1.0 Build 121?

[2018-04-12 13:27] BrandonNott opened #2140 "2.0 : TIC Read Status 1:57 error spam"
When CouchbaseLite 2.0 cannot connect to sync gateway -
(i.e. incorrect network routing, sluggish VPN, sync gateway instance is down)

The console is spammed with this error which repeats indefinitely and never recovers.
The memory usage of the app continues to rise until the app crashes.

[code]
--------
* Version:   CouchbaseLiteSwift 2.0 DB 23
* Client OS: iOS 11.3
* Server:    Sync Gateway 2.0

[2018-04-12 13:50] callo90 commented on #2128
@pasin Please update the documentation and git tags, this is confusing for everybody.
Regards

[2018-04-12 17:00] snej commented on #2140
In other words, the logging is from the OS, not from our code, so we can't make it go away. It's weird that it's happening so often though — we may be trying to retry connections too rapidly.

[2018-04-12 18:18] BrandonNott commented on #2140
I am able to reproduce this issue in a local environment using docker-compose with the right conditions.  I think what needs to happen is docker is listening on port 4984, but the sync gateway service has stopped.

[2018-04-12 18:26] BrandonNott commented on #2140
Here's the same behavior, different app, with verbose logging enabled
[code]
[code]

[2018-04-12 18:55] pasin commented on #2140
This is weird behavior. The `CouchbaseLite WS Verbose: Received 0 bytes of HTTP response` is logged from the completion handler when reading the HTTP response during establishing WebSocket connection time. I would expect more logging messages such as "CBLWebSocket connecting to..." and "CBLWebSocket Sent HTTP request..." in the same loop.

[2018-04-12 20:05] snej commented on #2140
It looks like the read completion handler (in `-readHTTPResponse`) is being called with an ENOTCONN error. But it calls `-checkError:`, which calls `[self ignoreError: error]`, which returns true for ENOTCONN ... so the completion handler just appends zero bytes to the response and continues.

Apparently CFNetwork is confused by the task not getting closed, so it just loops and calls the completio

[2018-04-12 23:51] btyler opened #2142 "Carthage JSON invalid for CBL Community Edition"
If I try to install the community edition as in the readme, carthage gives me this error:

Unable to parse binary-only framework JSON at https://raw.githubusercontent.com/couchbase/couchbase-lite-ios/master/Release/Carthage/CouchbaseLite-Community.json due to error: invalid JSON: dataCorrupted(Swift.DecodingError.Context(codingPath: [], debugDescription: "The given data was not valid JSON.", under

[2018-04-13 01:01] pasin commented on #2142
Thanks for letting us know.  Please try again. Fixed in https://github.com/couchbase/couchbase-lite-ios/commit/e39fda5ae6812c36d0bb7b15a163549a64170232.

[2018-04-13 01:01] #2142 closed

[2018-04-13 04:16] pasin commented on #1620
Sorry for taking so long to look at the issue. Today I tried to reproduce the issue with the following setup but it didn't see the same issue.

CBL: 1.4.1
SG: 1.4.1
NGINX: v1.13.11 + SSL (Self-Sign Certificate)
Attachment Size: 12M
iOS: 9.3, 10.3, 11.2

However all setup are on my local mac. I'm wondering if different NGINX version might be a key to reproduce the issue.

[2018-04-13 04:50] pasin commented on #1620
Similar setup on AWS EC2 doesn't have the issue as well.

CBL: 1.4.1 and 1.3.1
SG: 2.0.0
NGINX: v1.10.3 + SSL (Self-Sign Certificate)
Attachment Size: 12M and 35M
iOS: 9.3, 10.3, 11.2

[2018-04-16 18:45] pasin commented on #2140
After reviewing the code, I believe we could just remove the `ignoreError:` check, then it will work. The -didCloseWithError: has already called `-ignoreError:` to check the error.

Note that I still couldn't reproduce this issue myself. Basically I couldn't manage to get ENOTCONN error. I have also tried to use docker but all I got is ECONNREFUSED.

@BrandonNott by any chance, would it be possibl

[2018-04-16 19:17] BrandonNott commented on #2140
[code]

[2018-04-16 21:16] BrandonNott commented on #2140
This commit did not seem to help: https://github.com/couchbase/couchbase-lite-ios/commit/fa0f92086d9a3a617ee5d4f52153772ae6cbafcc

@pasin I have emailed you additional logs as well as a docker-compose setup for recreating the issue locally.

[2018-04-16 21:54] pasin commented on #2140
@BrandonNott I received some additional log but not the docker-compose setup. Can you send me the docker-compose setup to reproduce the issue?

[2018-04-16 22:27] pasin commented on #2140
Again thanks @BrandonNott for the docker-compose and the steps to reproduce the issue. The assumption that CFNetwork returns ENOTCONN as indicated by the TIC log messages is wrong. It turns out the completionHandler of the `readDataOfMinLength:maxLength:timeout:completionHandler: ^(NSData* data, BOOL atEOF, NSError* error)` is called in loop without error.

[2018-04-16 22:48] #2140 closed

[2018-04-16 22:49] pasin commented on #2140
@BrandonNott I have re-fixed the issue. Could you please verify the fix from the master branch?

[2018-04-16 23:26] BrandonNott commented on #2140
I can confirm that this fixed the issue!  Thank you @pasin 💯

[2018-04-17 00:51] pasin commented on #2140
Thanks for the confirmation!

[2018-04-18 13:07] martinrybak commented on #2130
I am having the same problem when pushing ~1000 documents with 2 attachments each. App crashes due to excess memory usage.

[2018-04-18 18:58] martinrybak commented on #2092
This appears to be a duplicate of #2130.

[2018-04-20 16:51] snej commented on #2130
IIRC, MultiFileWriter doesn't open all the files ahead of time; instead it saves the paths and opens the files as needed. But I could be mis-remembering; or it's possible that this doesn't work with encrypted attachments since the files can't be sent as-is.

Either way, it shouldn't be hard to add a bit of code there to allow a decrypt function to be spliced in, so the files don't have to be opene

[2018-04-20 18:36] brendand commented on #2130
For me it has nothing to do with a document or attachment being encrypted. I was testing with unencrypted documents that had up to 80 or more attachments each.

[2018-04-20 19:36] martinrybak commented on #2130
Same here. Nothing encrypted.

[2018-04-20 21:39] djpongh commented on #2120
Haven't heard back. If you get more info, feel free to re-open.

[2018-04-20 21:39] #2120 closed

[2018-04-20 21:40] djpongh commented on #2092
Closing and will track from #2130

[2018-04-20 21:40] #2092 closed

[2018-04-20 23:54] pasin opened #2144 "Create decrypted attachment streams could hang when pushing a lot of attachments"
From CBSE-5075, that push replicator stops working when push docs with many encrypted attachments. The following scenario could reproduce the issue:
1. Enable database encryption.
2. Push 10 docs, each docs has 10 attachments, each attachment is about 2M.

What was going on?
1. 100 attachment streams were decrypted all at once in background ([code](https://github.com/couchbase/couchbase-lite-ios/b

[2018-04-20 23:59] pasin commented on #2144
CC @sridevi-15 for adding this case to functional tests.

[2018-04-21 02:44] brendand commented on #2130
@djpongh What does the icebox label mean? Does it mean you're not going to release a fix for this?

[2018-04-21 04:48] pasin opened #2146 "Some 1.x unit test failed when running with iOS 11.3"
**Replication_Tests:**
* test05_RunReplicationWithError
* test19_Auth_Failure
ReplicationInternal_Tests:
* test_06_Puller_Authenticate

**Tokenizer_test:**
* testDefaultTokenizer (Crashed)
* testEnglishTokenzier (Crashed)

All of the replication failures are due to different error code/domain returned.

[2018-04-23 20:50] pasin commented on #2130
@brendand the PR is merged to the master branch. Please check it out. Thanks.

[2018-04-23 20:50] #2130 closed

[2018-04-23 22:55] tleyden opened #2148 "Define behavior when receiving TCP RST packet"
When receiving a TCP packet with the `RST` flag set, Couchbase Lite is currently emitting an `Unparseable HTTP response` from [CBLWebSocket.mm](https://github.com/couchbase/couchbase-lite-ios/blob/d1230c65f36920442ca904c3ba02d5cce5f38dc0/Objective-C/Internal/Replicator/CBLWebSocket.mm#L232-L259)

Here is an example packet from Sync Gateway (with a firewall / load balancer in the middle):

[code]

[2018-04-23 22:57] pasin commented on #2148
I think it should covert that (zero bytes with EOF) to a transient error. I will need to check what the error should be.

[2018-04-24 16:33] pasin opened #2149 "Swift DictionaryObject and ArrayObject not having toMutable() method"
Swift DictionaryObject and ArrayObject do not have toMutable() method.

[2018-04-27 00:49] snej commented on #2148
RST just means the TCP connection is being aborted, likely by middleware. We should definitely retry. It's unfortunate that CFNetwork isn't treating this as an error.

[2018-05-02 17:53] sridevi-15 opened #2150 "latest iOS cbl 2.1.0 builds are crashing"
### Version
CBL - 2.1.0-150
sg version -> 2.1.0-55

### Issue caused
1. Running ios functional tests on jenkins having crash on the app and bunch of tests failing

I ran tests with 2.1.0-126 and that looks good

If I run tests individually, it works fine.
### Logs:

[CBLTestServer-iOS_2018-04-30-154305-1_Dans-Test-MacBook-Pro.crash.zip](https://github.com/couchbase/couchbase-lite-ios/files/1968363

[2018-05-04 19:00] #2148 closed

[2018-05-04 19:12] tleyden commented on #2148
Related to https://github.com/couchbase/couchbase-lite-ios/issues/2140

(adding a link so that following the link to ticket https://github.com/couchbase/couchbase-lite-ios/issues/2140 in the comment might lead to this issue, and provide some more context on the change)

[2018-05-04 20:37] pasin commented on #2150
Please try with build [156](http://latestbuilds.service.couchbase.com/builds/latestbuilds/couchbase-lite-ios/2.1.0/156). Thanks.

[2018-05-04 21:38] #2149 closed

[2018-05-04 22:11] #2144 closed

[2018-05-07 11:57] vaskooooo opened #2151 "Pod install fails with CBL 2.0.0"
Environment
macOS Sierra 10.12.6
Cocoapods 1.5.0
Xcode 9.2 (9C40b)

Log

   $ /bin/bash -c  set -e sh Scripts/prepare_cocoapods.sh "CBL Swift"
   Preparing CouchbaseLite framework ...

   $ /bin/bash -c  set -e sh Scripts/prepare_cocoapods.sh "CBL ObjC"
   Preparing CouchbaseLite framework ...
[!] Unable to find a specification for 'CouchbaseLiteSwift'.

Note:
tag => '2.0DB022' works correctly!

[2018-05-07 15:07] pasin commented on #2151
When we published the pod spec to Cocoapod, we realized that CouchbaseLiteSwift has been taken. We changed the name to `CouchbaseLite-Swift`. Please change the name in the pod file to `CouchbaseLite-Swift`. Sorry for confusion.

[2018-05-07 15:07] #2151 closed

[2018-05-07 15:09] rajagp commented on #2151
FYI : The 2.0.0 documentation specifies "CouchbaseLite-Swift" ( https://developer.couchbase.com/documentation/mobile/2.0/couchbase-lite/swift.html)

[2018-05-07 22:08] anne-couchbase opened #2152 "400 Bad Request after iOS app is backgrounded and then foregrounded"
CBL iOS 1.4.1
Sync Gateway 1.4.1

"_changes?feed=websocket" request following the backgrounding and foregrounding of app results in:

2018-05-07 14:06:03.500633-0500 QoL[16947:3133346] ChangeTracker: CBLWebSocketChangeTracker[0x1c01c97e0 xxx]: Started... <https://xxx.xxx.com/xxxxxxApi/xxx/_changes?feed=websocket>
2018-05-07 14:06:03.865315-0500 xxx[16947:3133346] CBLWebSocketChangeTracker[0x1c01c9

[2018-05-10 12:38] rajagp commented on #1870
@pasin, @djpongh   :   Will this potentially make it into 2.1 ?

From the forums :
https://forums.couchbase.com/t/couchbase-lite-2-0-document-time-to-live/16775

[2018-05-10 17:42] djpongh commented on #1870
@rajagp unfortunately, it did not.

[2018-05-10 18:13] sridevi-15 commented on #2150
testing on build 159 and it looks good. Do not see any crash

[2018-05-10 18:13] #2150 closed

[2018-05-12 12:09] thomai-d commented on #1795
Will there be a .NET implementation in the future?
I see Limit() is already available, but I can't find Offset()

[2018-05-12 13:39] rajagp commented on #1795
@thomai-d - it’s Supported in .net as well - http://docs.couchbase.com/mobile/2.0/couchbase-lite-net/html/M_Couchbase_Lite_Query_ILimitRouter_Limit_1.htm

[2018-05-16 07:49] msanilkumar2020 commented on #1945
@pasin ,
Do you have any update on this issue?

[2018-05-16 07:50] msanilkumar2020 commented on #1898
@pasin ,
Do you have any update on this issue?

[2018-05-16 20:38] pasin commented on #1898
Sorry, I don't have update on this. I still don't have a chance to look at the issue.

[2018-05-18 21:38] djpongh commented on #1647
bug in cocopods

[2018-05-18 21:38] #1647 closed

[2018-05-21 09:52] msanilkumar2020 commented on #1945
Hi @pasin , @djpongh

Please let me know your plan to implement Restbased support to CBL 2.0.

Because of this issue, we are blocked to migrate to this Version of CBL.

Thanks,
Anil Kumar

[2018-05-21 13:52] rajagp commented on #1945
@msanilkumar2020  Can you clarify why you are "blocked" ? What type of app are you developing ? We do not have plans of supporting the REST API in CBL 2.1 .

[2018-05-21 18:02] pasin commented on #1610
@djpongh We have recently received a CBSE ticket regarding this so I think we should provide the script for 2.1.0. I already have the script written but need to include in the the release zip file.

[2018-05-21 18:58] pasin commented on #1926
Look like the fix for this issue is not enough for a non-continuous replicator. I'm reopening the issue.

[2018-05-21 19:01] pasin commented on #1926
Reference: CBSE-5304

[2018-05-22 05:02] msanilkumar2020 commented on #1945
@rajagp ,
Our's is phonegap based application, we are using restbased Apis to communicate between UI and CBL library.

Without Restbased Api, we wont be able to use CBL 2.0 library.

[2018-05-22 09:29] geraldapeoples commented on #2024
I guess replication isn't really important in couchase?

[2018-05-22 17:11] tleyden commented on #2024
@geraldapeoples replication is definitely a core feature!  If you (or anyone) can somehow provide a reproducible test case, it will accelerate the turnaround time on this issue.

[2018-05-22 20:54] ryd0rz commented on #2152
I'm getting a similiar issue, but with longpolling.

[2018-05-22 20:56] pasin commented on #2152
@ryd0rz Could you please provide the log with Sync, SyncVerbose, ChangeTracker, ChangeTrackerVerbose, RemoteRequest logging domain enabled?

[2018-05-22 21:00] ryd0rz commented on #2152
I'm actually just using the built in REST API, and leveraging header Cookie: SyncGatewaySession=xxx

I'm using React Native with a modified version of react-native-couchbase-lite that works with latest version of sync gateway.

I don't expect you folks to support the react-native-couchbase-lite stuff, but thought the issue is related to the OP above... The only difference with mine is it's longpol

[2018-05-22 21:04] pasin commented on #2152
To enable logging:

[code]

[code]

[2018-05-22 21:06] pasin commented on #2152
If using longpoll, basically it will be a different issue. We need to look what request to SGW returned 400 error.

[2018-05-22 22:27] ryd0rz commented on #2152
Hey pasin,

I've enabled logging.

Basically it happens only after 15+ hours of inactivity.

Here's a rundown of the events that occur:

1. App logs in through server, creating a sync gateway session token.
2. Session token is used to start replication to app via REST api call on loopback to couchbase-lite-ios framework.
3. After left for 15 minutes, app automatically logs itself out.
4. Replicati

[2018-05-23 02:38] rajagp commented on #1945
@msanilkumar2020 - curious - What are your thoughts about developing your own [Cordova](https://cordova.apache.org/plugins/) plugin?

[2018-05-23 04:59] msanilkumar2020 commented on #1945
@rajagp ,
We have multiple platform, in each platform we can't have duplicate implementation. Currently we have common implementation in UI for all platforms.

[2018-05-23 15:04] pasin commented on #2152
@ryd0rz When you are able to reproduce, please share the log. I couldn't think why that was happening especially when starting a new replicator with a new session.

[2018-05-24 16:42] sridevi-15 opened #2158 "password is not getting masked on ios 2.0.0-5"
### Environment:
* Version:   2.0.0-6
* Client OS: iOS
* sg version : 2.1.0-55

### Steps to reproduce
1. set up sg and cbl
2. Call cbl api which does basic authentication with user name and password
3. check cbl logs

### Expected results:
password should get masked

### Actual behavior:
password is not masked, it shows in clear text

### logs:
2018-05-23 22:59:36.526379-0700 CBLTestServer-iOS[51

[2018-05-24 17:02] #2158 closed

[2018-05-30 12:19] suzhaev opened #2159 "Connection error #1, retrying in 2.0 sec: NSURLError[-1001, "Timeout""
We are create replication like this:

[code]

In logs:

[code]

Then interval between request increases.

[code]

 What we are doing wrong? Thank you

--------
* Version:   1.4.1
* Client OS: iOS
* Server: Apache CouchDB 2.1.1

[2018-05-30 17:52] mahurtado commented on #2030
Hello @skela . Not sure if this is still open issue for you. I face same error and solved by adding CouchbaseLiteSwift.framework to the Embedded Binary on the target:

![image](https://user-images.githubusercontent.com/14200354/40738128-fe25c058-6442-11e8-97b0-4edb8efe1d20.png)

[2018-05-31 00:13] tleyden opened #2160 "Does not retry getCheckpoint request that fails with temporary 503 error"
Similar issue to https://github.com/couchbase/couchbase-lite-core/issues/525 (related to SG issue https://github.com/couchbase/sync_gateway/issues/3595), but at the CBLite level rather than the LiteCore level.

I'm building cblite from source (see version below) and then manually testing with mobile-todo.  Looking at the wireshark capture, I see:

[code]

followed by SG response:

[code]

which ca

[2018-05-31 10:12] Thiryn opened #2161 "Incompatible swift version"
Hi, I am using carthage as package manager, and the lastest XCode version (iOS 11.4 with XCode 9.3). Unfortunately, couchbase-lite-ios is a binary-only release with Carthage (recomended way to get it in the readme) and is incompatible with the latest swift version:
[code]
--------
* Version:   2.0.0
* Client OS: macOS High Sierra 10.13.4
* Server:    n/a

[2018-05-31 18:48] pasin commented on #2161
I was able to reproduce this when using XCode 9.4. We need to re-release the pre-built binaries built with the new XCode.

[2018-05-31 22:48] pasin commented on #2160
Somehow the replicator's status is in busy instead of stopped when getting the error.

[code]

The log doesn't show that the replicator is stopped. @tleyden did the replicator end up stopped or just stay in busy state without working?

[2018-05-31 22:49] pasin commented on #2161
It turns out Carthage does check the swift version even though the binary compiled with Swift 4.1 seems to be working fine with Swift 4.1.2.

[2018-06-01 07:50] Thiryn commented on #2161
My guess is the version check is done because carthage usually pulls git repository and build the library locally. AFAIK Apple do not pre-release for developers (at least minor versions) it would be easier if couchbase-lite-ios gives the possibility to build with carthage, not only have a binary release.
With binary releases, the release is tied with the swift version, which means that it need to

[2018-06-01 15:40] pasin commented on #2161
Currently we have some shared schemes that cannot be built directly from couchbase-lite-ios repo. Carthage doesn't support a feature to select schemes to build. I agree that it's better to provide an option to build from source. We will need to work on that.

[2018-06-03 22:34] rajagp opened #2162 "2.1 DB1: Crash when inserting image Blobs to objects in embedded array in Swift"
--------
* Version:   CBL 2.1 CB1
* Client OS: iOS / Swift
* Server:   N/A

This is my JSON Document . Includes an embedded array . Each member of the array is a dictionary= one element is Blob type.

Example :
[code]

**Sample code to reproduce:**
[code]

**Observing** :

**Crash :**
[code]

Stack Trace : https://gist.github.com/rajagp/3931c71af06fe3a2d8b81f4a1ddca252

[2018-06-04 09:51] suzhaev commented on #2159
Сan anyone help? Why client close connection by timeout? Seems it isn't get heartbeat?
We debug it several days, but can not find the cause of the error

[2018-06-04 15:41] pasin commented on #2159
ChangeTracker has an internal timer for detecting half-close connection so the timer will timeout if change tracker hasn't received any data from the remote host for sometime including heartbeat. Would it be possible to check if the remote host send the heartbeat?

[2018-06-04 15:44] suzhaev commented on #2159
@pasin thank you for your reply!
what is the best way to check heartbeat is being sent?

[2018-06-04 16:02] suzhaev commented on #2159
We tried check it via Charles.

Request closed on client, but still "waiting for response" in Charles, I don't see any data from the remote host or heartbeat.

Here screenshots:
<img width="968" alt="2018-06-04 18 58 17" src="https://user-images.githubusercontent.com/19522238/40928303-a49d9f98-6829-11e8-88c7-36353dca4e23.png">
<img width="1100" alt="2018-06-04 18 58 36" src="https://user-images.gi

[2018-06-04 16:30] rajagp commented on #1610
Agree with @pasin  that in order to simplify things for our users, we must provide the script in 2.1.0 release to strip off unwanted architectures
@pasin - Once in place, can you add a ticket for @jamiltz  to include a section in the documentation on how they can use the script.

[2018-06-05 16:24] tleyden opened #2163 "Detect configured proxy and log a warning or an error"
Until CBL2 supports forward (explicit) proxies, it should check the ios proxy settings via `CFNetworkCopySystemProxySettings()` and issue a warning or an error in the logs.

[2018-06-06 02:11] pasin commented on #1898
@msanilkumar2020 I have tested the fix and I have not observed the same issue anymore. Could you please share the log after picking up the fix? Also please use single shot replicator as there is no REST API to reset the suspend flag of the continuous replicator.

[2018-06-06 22:35] pasin commented on #2162
@rajagp I have fixed the issue. Please try it out.

[2018-06-06 22:35] #2162 closed

[2018-06-06 22:36] pasin commented on #2161
We plan to release 2.0.3 which will fix the issue. Meanwhile you can try to use Carthage to build the source code from master or release/2.0.x branch.

[2018-06-06 22:36] #2161 closed

[2018-06-08 20:40] snej commented on #2030
@mahurtado How did you get an Embedded Binaries section of your target? I'm looking at the General settings tab of a Mac CLI target (in Xcode 9.4), and it doesn't have one — only Identity, Signing, Deployment Info, and Linked Frameworks And Libraries.

[2018-06-09 18:45] brendand opened #2165 "Assertion failure in MYFindIdentity"
I'm getting an assertion failure in the following CBL code:

[code]

I'm starting the chain of method calls that eventually leads to the above code being called from my own code like this:

[code]

So I am definitely passing in a label and the label is not null, so the above call to `SecItemCopyMatching` should not be coming back with an error due to that.

In the past 2 weeks there have been 250

[2018-06-09 18:49] brendand commented on #2165
Here's the backtrace from the point my app is called. It appears to be triggered when a custom opens a database and things are being setup:

[code]

[2018-06-09 19:29] brendand commented on #2165
Just read this discussion on the Apple Developer Forums:

https://forums.developer.apple.com/thread/98029

The suggestion to not include a value for `kSecClass` when calling `SecItemAdd` was interesting:

And also when using SecItemCopyMatching without kSecClass , it worked!

So maybe this is something to investigate?

[2018-06-10 06:10] parvezq opened #2166 "iOS Swift: Best practice to include CouchbaseLite framework in a custom frafmework"
It may be possible that one may have multiple reusable components in iOS swift that needs to be converted into custom frameworks such that all these requires use of CouchbaseLite framework. Looking to this requirement, it seems that various custom frameworks should not embed CouchbaseLite and instead have it available as a separate framework.

How this can be achieved?

What I have tried to achiev

[2018-06-10 06:37] parvezq commented on #2166
The framework header is under Public section of Build Phase > Headers

[2018-06-10 20:14] mahurtado commented on #2030
@snej , In my case, with sample project "Todo".
In the  "Project Navigator" select your project root folder, then in the main view, select "Target" > "Todo",  then scroll down until "Embedded Binaries" section

[2018-06-10 21:47] snej commented on #2165
What is the value of `err`? It should be in the assertion failure message.

`<rant>`The Keychain API is the single worst API I've encountered on an Apple platform. The calls take dictionaries (so there's no explicit parameter list or types), there's no clear or accurate documentation of which call takes which properties to do what, and if you pass the wrong combination of properties you get no fee

[2018-06-10 21:49] snej commented on #2166
I don't think you should embed CBL.framework inside your framework; instead, the frameworks should be peers of each other.

This sounds like a general issue with Swift framework dependencies, and I don't know what the answer is. Try asking on the Swift.org forums.

[2018-06-10 21:56] snej commented on #2030
@mahurtado But this issue is about command-line binary targets, not applications.

[2018-06-11 02:13] brendand commented on #2165
I wish I knew what the value of `err` was, but unfortunately I'm dealing with crash reports from Apple and it doesn't have the value in the crash report. I've never seen it myself as my P2P sync work fine, but clearly many customers are seeing it. I'm not sure what conditions in someone's keychain can cause this. I guess the only thing I could do is try it out with the suggestion from the develope

[2018-06-11 03:06] parvezq commented on #2166
@snej can you please suggest how we can use CBL framework without embedding it inside the custom framework?

[2018-06-11 06:58] SaurabhDwivediMsi opened #2167 "CBL Library 1.4 compilation is failing with Xcode 10 (SDK 12)"
--------
* Version:   1.4.1
* Client OS: iOS 12

Hi,

CBL Library compilation is failing with Xcode 10 (SDK 12).
Type casting issue was also present for log line. This error is fixed locally.
But we are unable to resolve below mentioned error msg.
How we can resolve this error?
For error details Please refer screen shots.

Error: **"Parameter of overriding method should be annotated with __attribu

[2018-06-11 08:33] skela commented on #2161
I get the usual failures when trying to have carthage build from source:

*** Building scheme "SQLCipher iOS" in sqlcipher.xcodeproj
Build Failed

Any idea how long it will take to get 2.0.3 ? Or a new binary ready?

[2018-06-11 08:48] Thiryn commented on #2161
I successfully built from source the version I am using (2.0.0), I kept the .framework locally and force carthage not to update this package (remove the cbl line from `Cartfile` when updating, removing the line from `Cartfile.resolved` when bootstraping) while this bugfix is not released (meaning  my CI is broken btw...)

[2018-06-11 16:11] snej commented on #2165
Hm, isn't the assertion failure message in the exception string ("application-specific information" or something like that) that appears at the top of the crash report?

I'm sorry I don't have any good advice. It's been a few years since I last wrestled with the Keychain API. It is strange that this would fail only intermittently and for some users! (Also, I wish I hadn't made that test an asserti

[2018-06-11 16:11] snej commented on #2166
I don't know what the answer is. Try asking on the Swift.org forums.

[2018-06-11 16:15] snej commented on #2167
Do you need to compile CBL itself? We prefer that people use the pre-built frameworks downloaded from Couchbase.

Have you tried doing exactly what the error message says — adding `__attribute((noescape))` to the parameter declaration?

[2018-06-11 16:17] snej commented on #2161
@skela, what's the actual build error? If it's not shown in the navigator UI, you can look in the build log.

[2018-06-11 17:46] pasin commented on #2161
@skela `*** Building scheme "SQLCipher iOS" in sqlcipher.xcodeproj` shouldn't happen with 2.0. Please make sure the right branch was selected.

[2018-06-11 17:56] brendand commented on #2165
Well, here's the raw crash report:

[MYFindIdentity-crash.txt](https://github.com/couchbase/couchbase-lite-ios/files/2091116/MYFindIdentity-crash.txt)

Other than the stack trace, the only thing I see is:

[code]

Ya, it would be good to return the error message. The return type is `SecIdentityRef` so I can't just return the error. And I'm not sure how I would propagate the error message back up t

[2018-06-11 18:04] Visput commented on #1912
We have the same issue on peer-to-peer replication since iOS 11.3.
@pasin Do you have any suggestion on how to solve this?

We have exactly the same setup as @brendand: we use https connection with basic auth and self-signed certificated set by calling `CBLListener.setAnonymousSSLIdentityWithLabel(self.database.name)`.
It was working fine on iOS < 11.3.

[2018-06-11 18:39] skela commented on #2161
@snej @pasin I got the error with both
`github "couchbase/couchbase-lite-ios" ~> 2.0.3`
and master

`github "couchbase/couchbase-lite-ios" "release/2.0.x"`

Works though without errors, thanks, sorry about that.

[2018-06-12 02:41] pasin commented on #1912
I think "MissingIntermediate" is find for self-signed certificate.

@snej what is your take on this?

[2018-06-12 15:00] pasin commented on #2161
Sometime you may need to delete carthage cache. I ran into this myself when trying to use cathage pointing to the master branch. See https://github.com/Carthage/Carthage/issues/1191 for some detail.

[code]

[2018-06-12 15:22] CezaryBielecki commented on #1954
In general it shouldn't happen? On 2.0 it still happens for me

[2018-06-12 16:55] snej commented on #1954
Do you have a reproducible case? Or can you provide details like the log output and a thread dump at the time of the error?

[2018-06-12 17:03] snej commented on #2165
Huh, I was sure `NSAssertionHandler` would save the assertion message where it would show up in the crash report. That's too bad.

I just saw the above -- it's a good hypothesis. You could try checking whether the device is unlocked before you start the CBLListener, and seeing whether that prevents the crash.

[2018-06-12 17:08] snej commented on #1912
In a typical self-signed situation there's only one cert (as shown in the log from Feb 6) so there is no intermediate.

It's been quite a long time since I looked at the logic in that method, so I don't have any direct advice on how to change it.

[2018-06-14 12:03] SaurabhDwivediMsi commented on #2167
Hi Jens,

I am able to compile successfully by adding *MYNoEscape* in definition of
below mentioned function.
Please review attached files for SDK12 compilation.

Function:

- (NSArray*) my_map: (MYNoEscape *id* (^)(*id* obj))block;

- (NSArray*) my_filter: (MYNoEscape *int* (^)(*id* obj))block;

- (*void*) my_removeMatching: (MYNoEscape *int* (^)(*id* obj))block;

- (NSDictionary*) my_dictionaryB

[2018-06-14 20:39] raghusarangapani opened #2168 "TestSquid crashes in CFNetwork with iOS 10.3"
I was trying to reproduce an issue with TestSquid app. The app crashes during replication with the below message.
Log:
[code]
Backtrace:
[code]
There  is nothing in the SG logs related to checksum.

I had to modify the ViewController.swift as below to let the app add docs successfully
[code]
Without the above modification, app would enter the debugger while adding docs at line 87 with the below me

[2018-06-14 21:27] snej commented on #2168
Look at the backtrace -- this is an assertion failure inside Apple's CFNetwork framework, i.e. almost certainly an Apple bug. That's probably of use to them in debugging the proxy issue.

[2018-06-14 22:07] snej commented on #2168
I've included this info in the bug report I just filed with Apple.

[2018-06-14 22:28] raghusarangapani commented on #2168
I tested the workaround using the branch fix/proxy_workaround and it still crashes on iOS 10 with the same error message.

[2018-06-14 23:12] raghusarangapani commented on #2168
iOS 10 CBL logs without proxy:
https://gist.githubusercontent.com/raghusarangapani/90d63049d5f18c8ee81f7faaaf940aea/raw/cad589a6bb617eff5eb3b2b71482c4241bf0b597/gistfile1.txt

[2018-06-14 23:42] snej commented on #2168
Thanks. The logs show this is happening in mid-stream (so to speak), with no sign that either side is trying to close the connection.

[2018-06-19 15:37] parvezq opened #2171 "Unable to find a specification for `CouchbaseLite-Swift-Enterprise (~> 2.0.0)"
For the given podfile:

`project 'CBS2.xcodeproj'

# Uncomment the next line to define a global platform for your project
 platform :ios, '9.0'

target 'CBS2' do
  # Comment the next line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!
  pod 'CouchbaseLite-Swift-Enterprise', '~> 2.0.0'
  # Pods for CBS2

end
`

While running pod install, I am getting error:
Una

[2018-06-19 16:56] parvezq commented on #2171
@pasin
Can you also please comment on debugging issue I mentioned in this issue?

[2018-06-19 17:18] pasin opened #2172 "Swift error in module CouchbaseLiteSwift Warning in lldb"
[code]

--------
* Version:   2.0 / 2.1
* Client OS: Any
* XCode: 9.4

[2018-06-19 17:19] pasin commented on #2172
There is an apple radar opened: http://www.openradar.me/30646008

[2018-06-19 17:21] pasin commented on #2172
To complement about what Apple said above, I noticed that the binary built from my Mac doesn't have the issue when I use it on the same Mac. I have tested to use it on a different Mac that has the same XCode version yet.

[2018-06-19 17:23] pasin commented on #2171
Sorry @parvezq, I missed that. The debug warning appears to be an open issue now with the prebuilt-binary (Note: CouchbaseLite's cocoapods installs prebuilt binary). I have just created https://github.com/couchbase/couchbase-lite-ios/issues/2172.

[2018-06-19 22:20] sridevi-15 opened #2173 "Replication stops when sg restarts"
### Environment
* Version:   2.0.4-5
* Client OS: iOS

### Steps to reproduce :
1. Create docs in cbl (around 1000 is better to test )
2. Start push_pull replication with continous True
3. While replication happening, restart sync-gateway
4. Verify all docs got replication to sync-gateway

### Result :
1. Only few docs , out of 1000 docs, around 200 docs gets replicated and then stops

### Expecte

[2018-06-20 01:20] pasin commented on #2173
Could you test with http://latestbuilds.service.couchbase.com/builds/latestbuilds/couchbase-lite-ios/2.0.4/8/?

[2018-06-20 02:05] pasin commented on #2173
@sridevi-15 reported another error which also caused the replicator to stop. Here is the log:
https://gist.githubusercontent.com/sridevi-15/ed542ed79380e1289bb736b2a012e679/raw/e8a92315c2ae43fc31e4be4a4d67772194fa3fcd/cbl%2520logs2

It seems like this scenario of this case is:
1. <CBLWebSocket: 0x604000157970>: EndEncountered on read stream
2. <CBLWebSocket: 0x604000157970>: Disconnect
3. CBLWebSo

[2018-06-20 07:55] pasin commented on #2173
The problem is that the NSStreamEventEndEncountered event could be a result from either socket close requested by C4Socket or connection reset by peer.  For the latter case, we should call `c4socket_closed(socket, error)` with `ECONNRESET` instead of null.

[2018-06-20 16:39] snej commented on #2173
I don't think this was actually an ECONNRESET, or NSStream would have reported it. I think SG just closed its socket while it was shutting down. (I assume that SG was stopped cleanly, not just killed?)

The error in steps 5-7 is correct — WebSocket status 1006, "the connection was closed abnormally, e.g., without sending or receiving a Close control frame."

So I think the problem is that WebSocke

[2018-06-20 19:12] sridevi-15 commented on #2173
I tested it out with 2.0.4-9, It passed with sg version 2.1.0-107, but it failed with sg version 2.1.0-55.
When I tested yesterday with 2.0.4-5 , it failed on both sg versions.

cbl logs with sg version 2.1.0-95 : https://gist.github.com/sridevi-15/c836a851900d675250e252b43c89250b

cbl logs with sg version 2.1.0-107 : https://gist.github.com/sridevi-15/341b705f5da157da4d7e21e86849e332

[2018-06-20 20:05] pasin commented on #2173
@sridevi-15 Please test with http://latestbuilds.service.couchbase.com/builds/latestbuilds/couchbase-lite-ios/2.0.4/10.

[2018-06-20 21:16] sridevi-15 commented on #2173
test has passed with both builds of sg version i.e 2.1.0-95 and 2.1.0-107

[2018-06-20 21:16] #2173 closed

[2018-06-21 06:22] hrajput89 opened #2175 "Replication is not finishing in multiple apps (iOS devices) cluster for high doc count"
--------
* Version:   2.0.4-9
* Client OS: iOS simulator
* Server:    CBS-5.5.0-2884
* SG: 2.1-95

I'm running system test for 1M docs with 4 iOS devices (250k docs/ per device). After creating docs on all devices, I start replication on each device sequentially. Replication from device 1 got completed, however replication on device 2 never finishes up and is still in busy state. I can see the doc

[2018-06-21 06:37] hrajput89 commented on #2175
sgcollect logs are available at - https://s3.amazonaws.com/bugdb/jira/github-2175/sgcollect_info.zip

[2018-06-21 09:07] borrrden commented on #2175
Note: Looking at the logs it seems like all the documents *are* replicated, but the replicator stays in busy for some unknown reason.

[2018-06-21 13:50] djpongh commented on #2175
@snej , can you take a look? This is for our MP.

[2018-06-21 14:00] parvezq opened #2176 "iOS Swift: Unable to view a cblite2 database created from CouchbaseLite 2.0 framework"
For cblite2 generated via iOS CouchbaseLite.framework version 1.4.1, we are able to view the database file using CouchbaseLiteViewer with no issues.
After updating the iOS CouchbaseLite.framework to 2.0, when we try to open the database file in viewer then it fails to open and instead shows the message "The document somedb.cblite2" could not be opened.
For the generated cblite2 database we are usi

[2018-06-21 15:48] lightandshadow68 commented on #138
Finally got back round to this while implementing badging. Used a solution similar to ntodd, in which the app delegate method calls triggers a background sync on the user's sync session object. This spins up a one-shot pull replication just for the background fetch, which operates in addition to the continuous push and pull replications that are paused when the app went into the background.

[2018-06-21 16:58] snej commented on #2175
90% of the CBL log file is actually logs from the QE API, like
[code]
In the future could this be turned off, or maybe written to a different file?

[2018-06-21 17:05] snej commented on #2175
The last log message from the replicator is at 16:52:20:
[code]
So, as Jim said, the replicator seems to have completed but it's stuck in the Busy state. There's no good way to debug this without turning on some more logging that's only enabled in debug builds, unfortunately.

[2018-06-21 18:28] lightandshadow68 opened #2177 "Include document type property value in database change object"
Is it possible to include the "type" property value of a document as part of a database change notification?  This would circumvent the need to load each changed document to see if it's of a type I might be interested in. (I had started implementing this as part of a new feature, but the functionality was moved to the server and synced to the device via a document)

[2018-06-21 23:13] snej commented on #2176
The database viewer app uses Couchbase Lite 1, which can't read Couchbase Lite 2 databases. We'd have to update the viewer to use CBL 2.

[2018-06-22 03:34] parvezq commented on #2176
Do we have any tentative deadline to update couchbase viewer? Though we are able to open cblite2 in other sqlite browser but it is very difficult to visualize the database content. Can you please share the sql query that we can use to list out  data in other database browser
________________________________
From: Jens Alfke <notifications@github.com>
Sent: Friday, June 22, 2018 4:43:26 AM
To: couc

[2018-06-22 04:42] borrrden commented on #2176
You will not be able to view the data via SQLite viewer.  There is a command line tool which I believe is inside the zip file that you download to get Couchbase Lite (look in tools) called "cblite" which is similar to the sqlite command line tool.  It can perform operations on a database such as listing documents, querying, etc.

[2018-06-22 04:46] parvezq commented on #2176
Will it provide same kind of display as is done by viewer? I haven't tried it yet.
________________________________
From: Jim Borden <notifications@github.com>
Sent: Friday, June 22, 2018 10:12:52 AM
To: couchbase/couchbase-lite-ios
Cc: Parvez Qureshi; Author
Subject: Re: [couchbase/couchbase-lite-ios] iOS Swift: Unable to view a cblite2 database created from CouchbaseLite 2.0 framework (#2176)

Y

[2018-06-22 04:48] borrrden commented on #2176
It's not a graphical application, so it won't be exactly the same.  You will be able to get the same information (and more) out of it though.

[2018-06-22 10:07] hrajput89 commented on #2175
I ran the system test again today with 2.0.4-10 build and it also got stuck at the same point.

SG logs - https://s3.amazonaws.com/bugdb/github-2175/sgcollect_info-2.0.4-10.zip
CBS Logs - https://s3.amazonaws.com/bugdb/github-2175/cbs-172.16.12.226_node.zip
CBL Logs -
[cbl logs.zip](https://github.com/couchbase/couchbase-lite-ios/files/2127201/cbl.logs.zip)

If you can provide the debug build, I'l

[2018-06-22 16:28] snej commented on #2175
@hrajput89, I'm emailing you a debug build right now. Please set Sync logging to the Debug level.

[2018-06-22 16:33] snej commented on #2177
Have you tried using a LiveQuery?

[2018-06-22 22:51] raghusarangapani opened #2178 "Failed to read proxy credentials"
### Version
CBL iOS 2.0.4-10

### Steps
- Set up a basic auth squid proxy
- Set the proxy IP/port/username/password in the iOS device wifi settings
- Verify that the proxy works by opening a web browser and browsing websites
- Install the iOS test server and start a replication with SG.

### Error Log
[code]

### Full log
https://gist.github.com/raghusarangapani/4bf4ec91ee0f81488086930ab7b81dc5

[2018-06-25 08:50] msanilkumar2020 commented on #851
@snej / @pasin ,

Now officially UIWebview is depreciated in iOS 12, we are forced to use WKWebview. Please let us know when we will have support for WKWebview.
https://developer.apple.com/documentation/uikit/uiwebview?changes=_6

[2018-06-25 09:19] geraldapeoples commented on #851
There are folks working on a plugin for couchbase lite 2 - https://github.com/makbari/cordova-plugin-couchbase-lite-2.0, I haven't used it yet as it does not yet support using a session token for the replication agreements.

Is there going to be an official fully featured plugin for couchbase lite 2?

[2018-06-25 11:34] #1944 closed

[2018-06-25 12:04] hrajput89 commented on #2175
I setup the cluster today properly and the replication was able to complete on second device. There was some issue in network due mixed network settings between devices. I've kept the test running and will update about progress.

Closing this issue for now.

[2018-06-25 12:04] #2175 closed

[2018-06-25 12:17] JFlath commented on #2178
@raghusarangapani Can you share the Squid config? As I understand it, there are issues around auth at the iOS level, and it's out of scope for this branch.

[2018-06-25 14:43] ritamcouchbase commented on #2175
Test has started to run for build 10

[2018-06-25 15:41] JFlath commented on #2178
@ssmotra @rajagp @djpongh I can give specific advice about the needs of this particular branch, but this issue raises the question of what should be in our test suite long term.

[2018-06-26 22:42] raghusarangapani commented on #2178
Squid config:
https://gist.github.com/raghusarangapani/bb92b006035ffa85cd764e103d972f60

[2018-06-26 22:45] raghusarangapani opened #2179 "HTTP redirects are not handled"
### Version
2.0.4-10 on iOS 11.4 iPhone

### Steps
- Set up 1 CBS and 2 SGs.
- Set up a squid proxy to redirect incoming requests from SG1 to SG2.
- Verify that the redirect works
- Install the iOS test server and start a replication with SG1.

### Actual results
Replication test fails with the below error
[code]
### Test setup
CBS - 10.17.6.122
SG1 - 10.17.6.121
SG2 - 10.17.6.141

### Squid redir

[2018-06-27 01:14] snej commented on #851
"Deprecated" doesn't mean removed. You can still use UIWebView in iOS 12, as far as I know.

[2018-06-27 16:19] snej commented on #851
Couchbase Lite 2 doesn't have a REST API. It could be implemented separately (which I think is what the 3rd party plugin mentioned above does.) We're still considering how to support JavaScript / PhoneGap clients; it's more likely that we'll implement a JavaScript binding to Couchbase Lite, since going through a REST API is awkward and inefficient and doesn't work well with modern WebViews.

[2018-06-27 17:52] lightandshadow68 commented on #2177
What I was trying to do was trigger rebuilding a cache containing expensive computed metadata for a specific model which is derived from multiple documents across different types. These documents do not change often, but invalidation could come from a change in any document across multiple types.

In my specific use case, one property consisted of a string representation of a node in a hierarchy,

[2018-06-28 06:03] msanilkumar2020 commented on #851
@snej
Thanks for clarification, do you have any timeline or plan to support/implement JavaScript binding to Couchbase Lite?

[2018-06-28 16:41] snej commented on #851
No schedule yet; it's one of those things where "we're assessing how much demand there is", so it would be useful to let our dev advocates (or sales people) know.

[2018-06-29 08:32] geraldapeoples commented on #851
That's not very encouraging

[2018-06-29 23:18] snej commented on #851
It's not a euphemism for "we're not doing it"! We're just trying to be realistic about the number of languages/platforms we support, and which we should add. So please do let people know you're interested.

[2018-06-30 03:51] parvezq opened #2180 "CBL 2.0: Query issue: Particular document is not appearing in query results."
Using the Database's document(withID: aDocID), I have ensured that a document with given ID exists.
When I try below query then that document's data is not being included in the query results:

[code]

The above query is returning the results but do not include the document about which I mentioned above despite that document matches all the specified conditions in the query. The "deletedByUser" is

[2018-07-02 16:47] snej commented on #2180
There's something wrong with the grouping -- the `.is(...)` expression contains all of the three following lines, which doesn't make any sense. You probably need a few more right parens after `false)` at the end of that line.

[2018-07-02 16:47] #2180 closed

[2018-07-06 05:51] PikaRules commented on #1612
same than SergeyBulyno

[2018-07-09 21:22] djpongh commented on #2172
Unfortunately, we need Apple to take care of this.

[2018-07-09 21:22] #2172 closed

[2018-07-09 21:54] djpongh commented on #2166
Unfortunately, nothing we can do on our end.

[2018-07-09 21:55] #2166 closed

[2018-07-09 22:42] pasin commented on #1612
@PikaRules Can you identify when the issue happen (e.g. when the app starts in the background due to notification)?

[2018-07-13 13:37] parvezq opened #2181 "CBL Swift 2.0: QueryBuilder's delete & update multiple documents"
It will be helpful if we can have support for deleting or updating multiple documents through QueryBuilder by having Delete or Update command like Select. Using this option, one can write query to either update or delete multiple documents at once.

Thanks

[2018-07-13 17:17] pasin commented on #2181
The deleting and updating documents will be done via the Database API. We don't plan to have the Query command for deleting and updating the documents.

[2018-07-13 17:17] #2181 closed

[2018-07-16 08:38] udit1687 commented on #1612
Issue happen when app starts in the background due to location notification.
We have used couchbaselite version 1.4 and get location event using startMonitoringSignificantLocationChanges function of location manager delegate

[2018-07-16 18:58] tommyo opened #2182 "2.0: Feature Request: allow creating Query from JSON"
I'm writing a capacitor/cordova wrapper that exposes native methods to javascript rather than rely on the Listener. The only thing complicated is the Query building process. Exposing a method that allows me to submit a JSON query directly would avoid the unnecessary JSON string -> JSON object -> Query objects -> JSON string complexity.

[2018-07-17 00:30] snej commented on #2181
It's pretty trivial to make a query that returns just the docID of each document, and then write a loop that deletes the docs with the returned IDs. This could be a shared utility function you use in multiple places in your app.

[2018-07-17 23:54] #2118 closed

[2018-07-18 06:21] sridevi-15 opened #2184 "replication fails after resetCheckpoint on ios build 2.1.0-216"
### Environment
* Version:   2.1.0-216
* Client OS: iOS

### Steps to reproduce:
       1. create docs in cbl db1
       2. replicate docs to sg/cbl2 db with continous true and push replication
       3. purge docs in cbl db1
       4. replicate again using pull replicator
       5.Verify  purged docs should not get replicated
       6. stop replicator
       7. call reset api
       8. restart th

[2018-07-18 19:31] pasin commented on #2133
It's turned out this has already been fixed in https://github.com/couchbase/couchbase-lite-ios/commit/62427628590c2d3c002a622733c366b2800b72bc.

[2018-07-18 19:31] #2133 closed

[2018-07-19 00:32] pasin commented on #2160
From what I have seen is that the internal replicator doesn't stopped but keeps working after getting 503 error so CBL replicator doesn't do stop & retry logic. See a sample log below:

[code]

[2018-07-19 00:36] #2160 closed

[2018-07-19 22:43] pasin commented on #1610
@rajagp how should we distribute the script? I think there are two options:
1. Put the script file in release zip file.
2. Put the script file in the CouchbaseLiteSwite.framework.

The second approach also distributes the script to Carthage and Cocoapods developers.

[2018-07-19 22:49] pasin commented on #2184
@sridevi-15 could you please enable the replicator logging and provide the log?

[code]

[2018-07-19 22:50] rajagp commented on #1610
I am fine with 1 or 2. Which ever is simplest. Do u know what Realm or some other framework does?

[2018-07-19 22:52] pasin commented on #1610
Realm and Carthage have the script inside .framework.

[2018-07-19 23:13] rajagp commented on #1610
Lets do 2. then

[2018-07-19 23:46] sridevi-15 commented on #2184
It works now after I use same replicator as reset checkpoint .

[2018-07-19 23:46] #2184 closed

[2018-07-20 17:06] pasin commented on #2119
I believe this is fixed. If the issue still happens, please reopen the issue again.

[2018-07-20 17:06] #2119 closed

[2018-07-20 17:08] pasin commented on #1926
This issue is not trivial to fix as the notification could be posted later in a queue. The workaround would be retaining the replicator object in an instance variable.

[2018-07-20 21:06] #1021 closed

[2018-07-24 22:29] sridevi-15 opened #2185 "p2p: Throwing an error revision id mismatch with push pull replicator"
### Environment:
* Version:   2.1.0-223
* Client OS: ios
* Server:    sg = 2.1.0-114

### Steps to reproduce:
1. Create 10 docs on client
2. Start server
3. Start client by giving server ip, port, server db name, client database
4. Start replication with continuous and push pull
5. Wait until replication is idle
6. Verify docs got replicated

### Expected
It should not throw an error and replicati

[2018-07-25 08:42] Fenil15 commented on #2030
@mahurtado Thanks got it working after adding it in Embedded Binaries

[2018-07-25 09:50] PikaRules commented on #1612
It seems that it happens after opening the application from remote notification.  I had not been able to reproduce the issue but Im still getting notifications about this issue on crashlytics.

[2018-07-25 09:51] PikaRules commented on #1612
log

#0Crashed: com.splyza.spoch.couchDispatchQueue.userEXC_BREAKPOINT 0x0000000101fc3968 Raw Text
--
0 | libswiftCore.dylib | __hidden#23281_ line 134specialized _assertionFailure(StaticString, String, file : StaticString, line : UInt, flags : UInt32) -> Never
1 | libswiftCore.dylib | swift_unexpectedError + 354
2 | SpochCore | Couch.swift line 103Couch.(reset() -> ()).(closure #1)
3 | SpochCore

[2018-07-25 09:52] PikaRules commented on #1612
![screen shot 2018-07-25 at 18 51 49](https://user-images.githubusercontent.com/6718288/43193796-e55bdf06-903b-11e8-9364-9dc736109de8.png)

[2018-07-25 09:54] PikaRules commented on #1612
log:

\| | 03:51:21:821 (UTC) | \| | 12:51:21.810 INFO AppDelegate.application():28 - Launched with remote notification.
-- | -- | -- | --
2 | \| | 03:51:21:832 (UTC) | \| | 12:51:21.832 INFO AppDelegate.application():32 - Doing Couch initialization in didFinishLaunchingWithOptions.
3 | \| | 03:51:21:836 (UTC) | \| | 12:51:21.836 INFO CoreServices.initialize():38 - Creating database manager.
4 | \

[2018-07-25 09:56] PikaRules commented on #1612
error:

`Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=SQLite Code=23 "authorization denied" UserInfo={NSLocalizedDescription=authorization denied}: file /BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-900.0.74.1/src/swift/stdlib/public/core/ErrorType.swift, line 181`

[2018-07-25 09:57] PikaRules commented on #1612
it happens on this line, when it tries to open the database:

` self.database = try? self.manager.databaseNamed(targetDBName)`

[2018-07-25 17:48] snej commented on #1612
@PikaRules, @udit1687, @SergeyBulyno: Are you aware of iOS File Protection, and have you set the CBLManager's file protection to a level that allows access while the device is locked?

[2018-07-25 17:51] pasin commented on #1612
@PikaRules You may try to change the file protection to None or CompleteUntilFirstUserAuthentication. For example,

[code]

[2018-07-25 18:13] pasin commented on #2185
Somehow I couldn't reproduce this issue with the scenario above.

From the log, it seems like there are more than one replicator (e.g. Repl#1, Repl#5 and Repl#9) running. Is it possible that there are more than one replicator running (all point to the same MessageEndpoint with a single UID)?

[2018-07-25 21:19] sridevi-15 commented on #2185
I am testing with URL End Point.  I double checked my test and I see only one replicator is used.

[2018-07-25 21:30] borrrden commented on #2185
Among the first lines of the log are:

2018-07-24 15:07:07.315604-0700 CBLTestServer-iOS[23495:1357870] CouchbaseLite Sync Verbose: {DBWorker#6} Notified of 10 db changes #121 ... #130

The log clearly shows two push replicators running at the same time.  Then after the call to clientStart there are three running.

[2018-07-26 04:21] pasin commented on #1612
Do you specifically set it to CBLManager or set to the Application Settings? If you change it to None to the CBLManager, will it help?

Note: CBL had a bug (probably in 1.3) that changing the fileProtection level doesn't affect some of the files. This has been fixed in the latest release. You may need to switch the fileProtection to None and then switch to CompleteUntilFirstUserAuthentication agai

[2018-07-26 06:01] pasin commented on #2177
You can emit `document ID` with a `nil` value to get the change notified by the LiveQuery.

[code]

[2018-07-26 07:32] PikaRules commented on #1612
yes I am setting the fileProptection option on the cblmanager.  I will try using None and then changing to  userFirstAu...  I will tell you later if it works. thanks.

[2018-07-26 18:02] pasin opened #2186 "Potential concurrency issue in MessageSocket that may cause socket to close twice"
The issue was found when testing the MessageEndpoint for Android that the MessageSocket may be closed twice if the replicator connection is called to close while the MessageSocket is being closed. After reviewing the iOS code, the issue could potentially happen as well.

This issue was fixed in https://github.com/couchbaselabs/couchbase-lite-ios-ee/commit/6b5d14c292803f9f757ce46c35f8e7e20a4bab11.

[2018-07-26 18:03] #2186 closed

[2018-07-26 18:52] sridevi-15 commented on #2185
Tested with latest version. Looks like when I rerun the test, replicator with first run still running and causing the issue. After I strop the replicator and reran, it works fine.

[2018-07-26 18:52] #2185 closed

[2018-07-26 20:55] djpongh commented on #1898
Assuming works since we haven't heard anything.

[2018-07-26 20:55] #1898 closed

[2018-07-27 05:41] hrajput89 opened #2187 "CBL App crashes during replication for system test"
--------
* Version:   2.1.0-223
* Client OS: iOS
* Server:    CBS 5.5.0-2954

CBL app crashed with "EXC_BAD_ACCESS" while replication the changes after the delete docs on CBL App. The crash happened after the 87th iteration of System Test.

System test is running with initial 1M docs and perform update, delete and addition operation on the cluster with a combination such that after each iteration

[2018-07-27 05:44] hrajput89 commented on #2187
stack trace from the lldb shell

[2018-07-27 06:09] hrajput89 commented on #2187
Replicator code is available here - https://github.com/couchbaselabs/mobile-testkit/blob/feature/diff-cbl20-master/CBLClient/Apps/CBLTestServer-iOS/CBLTestServer-iOS/Server/ReplicatorRequestHandler.swift

[2018-07-27 15:31] snej commented on #2187
Crash is in `CouchbaseLiteSwift.Replicator.Status.init(withStatus:)`.

[2018-07-27 21:54] pasin commented on #2187
I think the issue is that the CBLReplicator.status is not thread safe. When the swift replicator tired to access it, the status object has been released. We should me the status property thread safe anyway.

[2018-07-28 00:45] pasin opened #2188 "Replicator not getting stopped when using MessageEndpoint"
This is found by @sridevi-15 that when using MessageEndpoint the replicator stays in BUSY state after calling replicator.stop(). From the stack trace below, there is a deadlock caused by recursive logging on non-reentrance lock from [1] getting websocket close handshake and [2] later from socket_closed() acknowledgement.

[code]
--------
* Version:   2.1.0 RC3

[2018-07-30 23:51] snej commented on #2179
I'm confused by the purpose of this test — proxying is not the same as redirecting, and I don't know if you can combine them this way. It looks like your setup, with the PHP script, is designed to return a 302 status from the CONNECT request? I don't know if this is something that a proxy is expected to do, and it looks as though iOS's NSURLSession is not handling it.

[2018-07-31 03:15] pasin commented on #2168
@raghusarangapani Do you remember if the crash happened in iOS 11?

[2018-07-31 03:15] #2127 closed

[2018-07-31 14:05] rajagp commented on #2168
@raghusarangapani  Also can you specify the exact scenario under test

[2018-07-31 18:47] pasin commented on #1926
After reviewing this issue again, the fix was fairy simple. The fix will be available in 2.1.

[2018-07-31 18:47] #1926 closed

[2018-07-31 20:46] raghusarangapani commented on #2168
Re-ran the same scenario with latest RC builds.

iOS 11 - no proxy - push - PASS
iOS 11 - no proxy - pull - PASS
iOS 10 - no proxy - push - FAIL
-> https://gist.github.com/raghusarangapani/eccfe9d4cbb8c016aeeef8496c161a2a
iOS 10 - no proxy - pull - PASS

TestSquid is an iOS app that creates docs, with or without attachments, push and pull replication to SG

[2018-07-31 22:04] pasin commented on #2187
Please use RC4 - 2.1-239 to verify the fix. We can reopen the issue if the issue still exists.

[2018-07-31 22:04] #2187 closed

[2018-07-31 22:05] pasin commented on #2179
@raghusarangapani Could you please revise the test?

[2018-08-01 21:45] pasin commented on #2179
I have done some test by setting up a simple HTTP server at port 8000 that redirects to SG at port 4984. I haven't used proxy to redirect as I'm not sure if it's the same thing or not.

Here is the result:
1. Redirect without Proxy : **Pass**
2. Redirect with Proxy : **Failed** with 400 Bad Request for GET db/_blipsync

The scenario 2 passed with using NSURLSession. The difference that I have seen

[2018-08-02 18:06] pasin commented on #2168
This is fixed in https://github.com/couchbase/couchbase-lite-ios/commit/d0ebc64d2102b28ea4cc9aba757a4475f56b5b72.

[2018-08-02 18:08] rajagp commented on #2168
@pasin  I've reopened it . Can you assign to @raghusarangapani  so he can evaluate and close

[2018-08-02 18:10] pasin commented on #2168
@raghusarangapani Can you use the latest master branch to verify the fix?

[2018-08-02 20:10] #2179 closed

[2018-08-03 14:10] hrajput89 opened #2191 "Replication doesn't sync doc for upgrade from 1.4 to 2.1.0 for iOS"
I installed the app for 1.4 CBL (iOS) and created few docs. Docs are getting synced to both SG(1.5) and CBS(5.0). Then I upgrade the cluster to 2.1 (SG 2.1 and CBS 5.5) and also update CouchbaseLite Framework to 2.1 using the feature/2.0 branch. App gets deployed but the changes or new docs are not getting synced from CBL app (iOS) to SG and CBS.

Scenario Workflow -
1. Install 1.4 todo app with 1

[2018-08-03 16:22] pasin commented on #2191
From the log, the issue is `CBLWebSocket CLOSED WITH ERROR: NSOSStatusError[-9802]` which is not related to the upgrade. The error -9802 is `errSSLFatalAlert`. I'm not sure why it has that issue.

[2018-08-03 16:23] pasin commented on #2191
Just for confirmation. Can you use 2.1.0 alone instead of upgrade to see if it works?

[2018-08-03 17:24] raghusarangapani commented on #2168
@sridevi-15 will be verifying the fix

[2018-08-04 00:14] snej opened #2192 "testDatabaseChange unit test crashes in Xcode 10"
When running the Obj-C unit tests in Xcode 10 (beta 5), the XCTest framework throws an exception during `-[ConcurrentTest testDatabaseChange]`, aborting testing. The reason is that XCTest now enforces that an XCTestExpectation can only be waited on once, and the test seems to be violating this.

[code]

[2018-08-06 05:28] hrajput89 commented on #2191
I tried with 2.1 stand alone app and it was not able to replicate data to SG and CBS

[2018-08-06 05:30] pasin commented on #2191
Can you try quickly with CBL 2.0?

[2018-08-06 05:50] hrajput89 commented on #2191
I tried with 2.0 also and I'm getting same issue. I also tried with cluster on different set of IPs but same result.

[sgcollect_info.zip](https://github.com/couchbase/couchbase-lite-ios/files/2261291/sgcollect_info.zip)

[2018-08-06 19:46] numist commented on #761
I was able to reproduce this and found where [SQLite was returning the error](https://www.sqlite.org/src/artifact/3c7f2159687af1b1):

[code]

Looks like applications returning the `FYI, couldn't enable SQLite mmap: error 21` message are running in environments where some other piece of code (likely the application or another of its dependencies) has already caused `sqlite3_initialize` to be invoke

[2018-08-06 20:56] pasin opened #2193 "1.4.1 : Single-Shot Push Replicator may not not go into stopped state"
When there is no changes to push, starting the single shot replicator may not get into stopped state. I have seen this behavior only when I tried to start the replicator a second time (reusing the same replicator object). As a result, after getting into that state, the subsequence start will also not working.

I don't see the same issue for pull replicator.

--------
* Version:   1.4.1

[2018-08-06 22:57] pasin commented on #2193
The issue was that the push replicator detects whether it has any changes in the [-beginReplicating](https://github.com/couchbase/couchbase-lite-ios/blob/1.x/Source/CBLRestPusher.m#L123) and if it doesn't have any changes, it called the -stopped without posting the change notification asynchronous in the next runloop. It seems like there is a race depending on when the change notification from sta

[2018-08-06 23:05] pasin commented on #2193
I could get the issue reproduced even the first time that I started the single shot replicator so basically it is a race condition issue.

When there is no issue:

[code]

When there is an issue:
[code]

[2018-08-07 12:08] Chethan-21 commented on #851
@pasin

Need your inputs on below.

Trying to use CBLListener as said by you earlier in the post using UIWebview.
"I assumed that you are using couchbase-lite-phonegap-plugin. You could replace the following line by starting the CBLListener object and using the localhost URL instead of the internal NSURLProtocol URL."

Following is the code snippet

NSError *err = nil;
CBLListener* dblsnr = [[CBLL

[2018-08-07 15:27] pasin commented on #851
@Chethan-21 Can you check a couple of things?

1. Check if you can connect to the listener via the real device/simulator IP Address and port from your Mac. This will help isolate to see if the issue is at listener or at WKWebView.

2. Apart from the first bullet, what if you are using UIWebView, can you access the listener?

3. When you are saying "not getting any response for any of our XMLHttpRe

[2018-08-07 16:02] pasin commented on #2191
I believe the issue is about the configuration or environment, not the upgrade issue. Also we have done test fest on iOS, Android, and .NET yesterday and we don't see the same issue. Please check my comment above.

[2018-08-07 16:02] #2191 closed

[2018-08-07 22:52] #2193 closed

[2018-08-08 17:12] Chethan-21 commented on #851
@pasin
1> I will give a try with real device IP Address, but i didn't tried this CBLListener using WKWebview. I was using UIWebview

2> I tried with UIWebview only. I could able to start the CBLListener.
On Success,  it will give me the local URL at which listener can be reached along with PORT number..
URL will be something like this
http://Chethans-iPhone6.local:5984/

3> XMLHttpRequest are gett

[2018-08-08 17:34] pasin commented on #851
@Chethan-21 `http://Chethans-iPhone6.local:5984` is a boujour URL. You may try with either localhost or 127.0.0.1.

[2018-08-09 22:35] rahimrahman commented on #1912
@Visput have you been able to resolve the issue of peer to peer replication with devices using iOS > 11.3?

We have similar issue and research got me here, saw your comment and got me to experiment.

iPod 6th Gen running iOS 11.4 were able to sync with iPhone 5S Simulator 11.0.1 but iPhone 5S Simulator 11.0.1 could not sync with iPod 6th Gen (11.4).

[2018-08-10 22:45] sridevi-15 commented on #2168
Verified with ios 10, ios 11 with and without proxy and works fine

[2018-08-10 22:45] #2168 closed

[2018-08-13 19:48] #1971 closed

[2018-08-14 04:53] pasin commented on #1975
I added 429 to CBLMayBeTransientError  as suggestion.

[2018-08-14 04:53] #1975 closed

[2018-08-14 20:40] pasin commented on #2024
@dieseldjango I knew it's late but I'm looking at this issue now. I'm wondering if you are still encountering this issue. If so, would it possible to enable "SyncVerbose" as and share the log of 1st, 2nd, and 3rd replication?

[2018-08-15 06:08] pasin commented on #2024
I have reviewed the logs and replicator codes but I don't understand how come the last sequence didn't match.

[code]

The exact `since=94107` issue happened in both 2nd and 3rd run from the log. This is very mysterious given that ChangeTracker doesn't manipulate the sequence number of each change from the changes feed.

[2018-08-15 06:17] pasin commented on #2024
Actually there is one possibility that could cause that behavior. If the change of seq =`94107` has an invalid document ID (e.g. document id begins with `_` but not a design doc) and the change is the last one on the list, it could trigger that issue.

[2018-08-15 06:48] pasin commented on #2024
@dieseldjango from the `cblite-replication-client-third-run.log`, could you get the changes feed result of `/master/_changes?feed=normal&heartbeat=300000&style=all_docs&since=94106%3A94011` to see if it contains a seq=`94107` or not?

[2018-08-15 19:01] dieseldjango commented on #2024
I don't have that database around any longer. I'll see if I can get someone to reproduce it again, but my team is pretty busy with other work right now, including possibly eliminating our reliance on couchbase due to this and some other issues.

[2018-08-16 19:56] JuanPabloBoero commented on #1612
@PikaRules did it work?

[2018-08-20 10:38] SalmanZafar1105 opened #2194 "Error while trying to create document."
Hi,

We suddenly started facing problems when trying to save documents.

The logs are -

CouchbaseLite DB Verbose: DataFile: begin transaction
CouchbaseLite DB Verbose: KeyStore(default) insert M.84639319-A40B-4EF6-B0FA-E3C85F3377F1
CouchbaseLite  WARNING: SQLite error (code 1): no such column: key
CouchbaseLite  WARNING: SQLite error compiling statement "INSERT OR IGNORE INTO kv_default (version,

[2018-08-20 18:16] pasin commented on #2194
Can you share the document content (keys and values) and document ID?

[2018-08-21 07:10] SalmanZafar1105 commented on #2194
Hi,

We were able to solve the issue. It was because of an index we created recently. When we stopped creating this index, the problem went away.

Regarding providing the document content, I was denied permission from my seniors, but the problem was not with the contents as any type of document creation would fail, after creating the faulty index. We also tried by creating just a simple test docum

[2018-08-21 17:42] #2146 closed

[2018-08-21 17:42] pasin commented on #2146
I don't see this anymore.

[2018-08-21 17:55] pasin commented on #1298
I don't think we will execute this. Let's close the issue.

[2018-08-21 17:55] #1298 closed

[2018-08-21 18:00] pasin commented on #1310
I'm closing this as we don't plan to do this for 1.x.

[2018-08-21 18:00] #1310 closed

[2018-08-21 18:05] pasin commented on #1776
Closed as not the issue.

[2018-08-21 18:05] #1776 closed

[2018-08-21 18:06] #2022 closed

[2018-08-21 18:08] pasin commented on #1872
Closed as no activity. We can reopen this issue anytime when there is more info.

[2018-08-21 18:08] #1872 closed

[2018-08-21 18:11] pasin commented on #1620
Closed as no activity. We can reopen the issue again when there is more info.

[2018-08-21 18:11] #1620 closed

[2018-08-21 18:13] pasin commented on #1781
Close this issue as no activities. We can reopen this issue when there is more info.

[2018-08-21 18:13] #1781 closed

[2018-08-21 18:16] pasin commented on #1786
Closed as no activities. We can reopen this issue when there is more info.

[2018-08-21 18:16] #1786 closed

[2018-08-21 20:14] #2167 closed

[2018-08-22 00:58] pasin commented on #1912
I have added MissingIntermediate to the list of accepted problems for local domain.

[2018-08-22 00:58] #1912 closed

[2018-08-22 21:47] pasin commented on #1747
It seems like starting the replicator in background doesn't work at all as the app got suspended before CBL starts the background task. The problem is that CBL starts background task when the bg-replicator starts which seems to be too late for at least the case of using silent push notification.

[2018-08-22 21:48] pasin commented on #1747
The workaround would be having the application starts the background task immediately by itself after receiving the push notification and end the background task after the replicator is stopped.

[2018-08-23 20:13] pasin commented on #1746
I have tested this issue by using silent push notification to send a HTTP request (e.g. http://127.0.0.1:8888/db) and I could reproduce the issue.

However the reason that the request cannot be sent or the listener cannot be reached was because iOS suspended the app almost immediately after the first runloop event on the main thread was done execution. I was able to get the response from the liste

[2018-08-23 20:13] #1746 closed

[2018-08-24 05:16] pasin commented on #2152
@anne-couchbase I have tried to reproduce the issue but unfortunately I couldn't reproduce. The 400 Bad Request, Not WebSocket protocol is normally caused by some WebSocket required HTTP headers are missing when sending an Upgrade request. We have seen some customers reported this issue when they used a proxy/load balancer that doesn't configured to support WebSocket and causes some headers to be

[2018-08-24 05:16] #2152 closed

[2018-08-24 05:56] pasin commented on #2165
@brendand Is this still an issue? Have you found what causes the error?

[2018-08-24 21:37] brendand commented on #2165
@pasin I'm glad you were able to find the cause of the problem.

[2018-08-24 22:13] pasin commented on #1326
I have looked into the current behavior of CBL 1.4.1 regarding this. CBL 1.4.1 will go online immediately when the reachability detects that the internet is back. For the case that the internet is ON but the host is down, when the host is back online, the reachability will not get triggered which is expected so the retry will be done after a certain interval.

[2018-08-24 22:13] #1326 closed

[2018-08-27 18:01] snej commented on #2165
Since `kSecAttrAccessible` determines the access control of the keychain items, it probably needs to be set when _creating_ the key-pair and cert ([here](https://github.com/snej/MYUtilities/blob/master/MYAnonymousIdentity.m#L128) and [here](https://github.com/snej/MYUtilities/blob/master/MYAnonymousIdentity.m#L263)), not when retrieving the identity.

[2018-08-27 21:20] brendand opened #2195 "Use of undeclared identifier SHA_DIGEST_LENGTH in CBL_BlobStore"
When compiling the latest commit `dca2367e660083b4c15cc298f9fbbd6e66da3d46`, I get the error `Use of undeclared identifier SHA_DIGEST_LENGTH` when compiling the `CI MacOS` scheme in `CBL_BlobStore`.

It's a bit odd because `Security.framework` is linked and these are in the file:

#define COMMON_DIGEST_FOR_OPENSSL
#import <CommonCrypto/CommonDigest.h>

I know you don't support beta OS versions or

[2018-08-27 23:21] sridevi-15 opened #2196 "Crash with wifi disabled and bad network on todo app"
### Environment
* Version:   2.1.0-163
* Client OS: iOS
* Server:    sg version 2.1.0-121

### Steps to reproduce :
1. Open todo app, create lists and tasks and share with user1.
2. close the app, disable the wifi and set network link condition with bad network.
3. Have user1 update some docs.
4. Now enable the wifi and open the app

### Expected Restult :
Verify docs updated on todo app with upda

[2018-08-28 02:59] pasin commented on #2165
Thanks @snej for the input. I haven't thought that the `kSecAttrAccessible` is for creating. It's weird that it works when I used it to query. I will test and update the result here.

[2018-08-28 03:36] pasin commented on #2196
Captured from the 2nd log,

[code]

The bytes read after stream error is wrong `DoRead read 18446744073709551615 bytes`. Most likely this is caused by casting a negative number to an unsigned (size_t) value in this [line](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/Replicator/CBLWebSocket.mm#L659).

[2018-08-28 03:37] pasin commented on #2196
I couldn't figure out what causes the crash from the 1st crash. We forgot to capture CBL Log and exception. So we will need to try to reproduce the issue.

[2018-08-28 05:12] sridevi-15 commented on #2196
Sure, we can sit tomorrow and let's try it again on the device I tested today. Btw, isn't not reproducible on your device?

[2018-08-28 15:55] sammy-SC opened #2197 "Crashes during sync"
I’ve released my app with `CouchbaseLite-Swift 2.0.3`. During development and testing I didn’t spot any issues but when released to production to a larger number of users, number of crashes spiked. All of the issues seem to be linked to syncing. These are the 5 crashes that occur in CouchbaseLite-Swift 2.0.3. Each crash has a link to gist with stack trace, name of method where it crashes, number o

[2018-08-28 17:12] snej commented on #2196
`c4socket_received`'s implementation doesn't have a try/catch block, so throwing an exception causes an abort/crash ... we should fix that in LiteCore.

[2018-08-28 18:00] pasin commented on #2197
@sammy-SC Thanks a lot for the crash reports.

Can you also provide exception information (e.g. EXC_CRASH SIGABRT and etc) of each crash as well? Normally the information is at the top at the crash report?

In 2.1 that we will release soon, we have reimplemented `CBLWebSocket` which should be able to help some of these crashes especially crash report 2.

[2018-08-28 22:17] djpongh commented on #2195
Thanks for the info. We have a 1.4.4 in the works and will look to get this in, depending on when Xcode 10 GA's. I did a quick search but couldn't find any dates.

[2018-08-29 01:52] brendand commented on #2195
@djpongh Also try compiling with the New Build System in Xcode 10. I believe there are a bunch of deprecated symbols that popup when you do that. They get marked as errors now rather than warnings. I had to switch to the Legacy Build System to get it to compile.

[2018-08-29 02:06] pasin commented on #2196
I and @sridevi-15 have tried to reproduce the 1st crash but unfortunately we couldn't reproduce it today. I have been able to reproduce the 2nd crashes a few times today when trying to bring the app foreground / background several time in a bad network environment.

[2018-08-29 02:07] pasin commented on #2196
I push the casting negative value to unsigned value fix to the master branch. This fix will not go into 2.1.

[2018-08-29 02:07] ritamcouchbase commented on #2196
@pasin  - Should we release note this as part of 2.1 for now.

[2018-08-29 02:11] pasin commented on #2196
Yes, that is what @djpongh has communicated to me. We may have a minor release (e.g. 2.1.1) to fix replication crash.

[2018-08-29 02:32] rajagp commented on #2196
Pasin’s understanding is correct

[2018-08-29 03:41] nuxzero opened #2198 "Can not delete database."
I tried to delete the database but doesn't work. I didn't use Sync Gatway I think should not have problem with `Replication `.

 Error log:

[code]

My code:

[code]
--------
* Version:   2.0.0
* Client OS: Android
* Server:    -

[2018-08-29 03:48] #2198 closed

[2018-08-29 08:43] sammy-SC commented on #2197
@pasin I've added exception information to each crash.

Is there an expected release date for CouchbaseLite 2.1?

This issue has been tagged with label `known-issue`, for future reference, where do I find a list of known issues? I can't find it within this repo.

Thank you

[2018-08-29 09:05] famanson commented on #2197
@pasin hiya, this seems to me like a very serious issue, and `CBLWebSocket` is the core of the sync itself, why is it classed as `icebox`? Why is this not prioritised for a hotfix?

[2018-08-29 15:43] pasin commented on #2197
We will release 2.1 which has a new CBLWebSocket implementation by the end of this week. This means that some of the crashes here (at least the second report) will be taken care in 2.1.

But this issue and #2196 came very late in the release cycle, we are not able to accommodate them in 2.1 release. We plan to have a patch release (2.1.1 tentatively) to mainly focus on crashes in replication.

[2018-08-29 15:45] pasin commented on #2197
@sammy-SC I couldn't see the exception detail on each report.

[2018-08-29 16:06] sammy-SC commented on #2197
@pasin my apologise for not including the exception detail, I thought I did. Exception details should now be visible under each crash.

[2018-08-29 17:31] pasin commented on #2122
This issue will be fixed in 2.1

[2018-08-29 17:31] #2122 closed

[2018-08-29 17:40] pasin commented on #2197
@sammy-SC you can filter Github issue with `known-issue` label and 2.1 milestone to see the list of the known issues.

Sorry, there is no workaround for that at the moment. The try/catch needs to be done at the Lite-Core level.

FWIW, I did one [fix](b42cf2694db48006e790f28dcdebfec1e401b481) that fixes the`bad_alloc` crash reported in #2196.  You may cherry pick the fix to the `release/2.1.x` bran

[2018-08-29 17:55] pasin opened #2199 "Binaries built from Jenkins have +CHANGES in the user-agent's commit hash"
Currently the binary built from Jenkins has +CHANGES in the user-agent's commit hash. See below for an example:

[code]

We need to add LiteCore-EE and some other EE schemes that we copy to `couchbase-lite-ios` during build to the .gitignore list.

[2018-08-31 11:56] mayankwadhwa111 commented on #1097
rovins where to find the options "Manage Scheme" and then shared

[2018-08-31 21:18] pasin commented on #2165
The issue was fixed by setting the `kSecAttrAccessible` attribute of the key/certificate to kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly so that the identity in the keychain can be accessed when the device is locked.

[2018-08-31 21:18] #2165 closed

[2018-09-01 08:39] famanson commented on #2197
hi @pasin, is there any progress on this release?

[2018-09-06 16:33] rovins commented on #1097
@ mayankwadhwa111 just select your application name in XCode which you are trying to build, will show you a list like-edit scheme, new scheme and manage schemes so please select manage schemes you will get a sub window from there you can check shared check box for you target anand enjoy

[2018-09-06 18:41] snej commented on #2197
@sammy-SC, It's much better to file a separate bug report for each distinct crash. What we have here are up to five bugs, and it's unclear to me from reading the discussion which are fixed in 2.1 and which are still issues (and of those, which may be duplicates.)

[2018-09-07 15:15] SergeyBulyno opened #2200 "Access issue."
Hi today I try install CouchbaseLite via cocoa pod and receive error:
Error installing CouchbaseLite
[!] /usr/bin/curl -f -L -o /var/folders/bq/9tzw48js2297cql95ml6rjvr0000gn/T/d20180907-43778-t6vt5m/file.zip https://packages.couchbase.com/releases/couchbase-lite-ios/2.0.3/couchbase-lite-objc_community_2.0.3.zip --create-dirs --netrc-optional
curl: (22) The requested URL returned error: 403

 The

[2018-09-07 16:39] djpongh commented on #2200
What country are you in?

[2018-09-07 21:56] SergeyBulyno commented on #2200
Belarus

[2018-09-07 22:01] pasin commented on #2200
@rajagp Can you help checking about this issue?

[2018-09-07 22:38] #1747 closed

[2018-09-07 22:56] djpongh commented on #2200
Looks like Belarus is blocked due to U.S. export restrictions.

[2018-09-09 00:58] suzhaev opened #2201 "CBLReplication filter nor work"
I'm trying to use CBLReplication filter property like this:

[code]
I have filter design document on server couch.
In this case replication don't work, and request always "Waiting for response" in Charles

<img width="1347" alt="2018-09-09 3 52 41" src="https://user-images.githubusercontent.com/19522238/45260031-5ed91300-b3e4-11e8-877b-b8a87c7296df.png">

If I set breakpoint on this request in Cha

[2018-09-09 01:17] suzhaev commented on #2201
You can check it via CURL

Not work:
`curl -H 'Content-Type: application/json' -H 'User-Agent: CouchbaseLite/1.3 (iOS 1.4.1/86c63659b56d87406eac3b1e4db631fe67098139)' --data-binary '{"accept_encoding":"gzip","feed":"normal","heartbeat":300000,"style":"all_docs","active_only":true,"filter":"client\/staff"}' --compressed 'http://XXXX:XXXX@127.0.0.1:5984/**db_name**/_changes?feed=normal&heartbeat=300

[2018-09-10 14:43] #2200 closed

[2018-09-10 17:59] pasin opened #2202 "CBLMessageEndpointListenerConfiguration symbol is not exported"
Reported in https://forums.couchbase.com/t/i-get-a-linker-error-when-importing-p2p-configuration-class-2-1/18319.

CBL Objective-C 2.1 doesn't declared CBLMessageEndpointListenerConfiguration in the exported symbol file. There is no issue with CBL Swift.

--------
* Version:   CBL Objective-C 2.1

[2018-09-10 19:36] pasin commented on #2202
I have fixed the issue and it will be released in 2.1.1.

[2018-09-10 19:36] #2202 closed

[2018-09-10 20:23] pasin opened #2203 "Add Replicator backgrounding functional tests"
Scenario 1: Replicator continues working util idle or stopped (single shot) or the suspended by OS when the app goes into background and/or locked screen.
1. Start a replicator and make sure that the replicator is actively working.
2. Bring the app into background and locked screen.
3. Wait for a good amount of time that the replication should be done.
4. Bring the app to foreground, make sure tha

[2018-09-11 01:45] pasin commented on #2203
CC: @sridevi-15

[2018-09-11 22:39] suzhaev commented on #1118
@snej What will happen if i insert only one last revision to revisionHistory parameter? This is normal?

[2018-09-12 21:43] #2195 closed

[2018-09-12 22:51] #2192 closed

[2018-09-12 22:54] pasin commented on #2199
Fixed by 01d2a772f629934d5419ace46196603f92b059b5 and 174bbde44452c73b5defed8a938bebc166f3c615.

[2018-09-14 18:32] zippo227 commented on #2167
Xcode 10 has moved from Beta to Gold Master (GM). Are GM builds supported?

[2018-09-14 18:45] pasin commented on #2167
I have fixed some XCode 10 build issue in 1.x branch. Could you please try to build the framework and let me know if you are still seeing the issue? We will release the binary build with XCode 10 in 1.4.4.

[2018-09-14 21:17] callo90 opened #2204 "Carthage support for xcode 10 swift 4.2"
Please update carthage support for xcode 10 and swift 4.2.

```Incompatible Swift version - framework was built with 4.1.2 (swiftlang-902.0.54 clang-902.0.39.2) and the local version is 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1)```

--------
* Client OS: 2.0.3

[2018-09-15 02:00] zippo227 commented on #2167
I'll try to look into that on Monday.

[2018-09-18 20:42] pasin commented on #2199
Need more fix to eliminate this issue.

[2018-09-18 22:13] #2204 closed

[2018-09-18 22:13] pasin commented on #2204
CBL 2.1.1 Carthage has been released.

[2018-09-19 13:08] parvezq opened #2205 "CouchbaseLiteSwift 2.1.0: Crash on iOS"
For an iOS 11.4 (Swift 3.3) application, we are getting crash when syncing is going on.
The Xcode console prints below text:

CouchbaseLiteSwift was compiled with optimization - stepping may behave oddly; variables may not be available.

The crash details are as given below (obtained through backtrace):

[code]

Any idea about the crash reason?
--------
* Version:   CouchbaseLiteSwift 2.1.0
* Clie

[2018-09-19 14:21] jayahariv opened #2206 "Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler"
Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler: <pathToProject>/ProjectName/Pods/CouchbaseLite-Swift-Enterprise/iOS/CouchbaseLiteSwift.framework/Modules/CouchbaseLiteSwift.swiftmodule/x86_64.swiftmodule

<img width="1079" alt="compile-error" src="https://user-images.githubusercontent.com/10448770/45758797-50a4a700-bbdb-11e8-9a7d-0427ed119428.png">

--------
* Version

[2018-09-19 15:04] #2206 closed, assigned to nobody

[2018-09-19 15:08] jayahariv commented on #2206
Thanks, @pasin for the quick response. I will update my pod.

[2018-09-19 15:09] pasin commented on #2205
@parvezq Can you provide the stacktrace of the crashed thread which is thread 43 (You can do `bt -all`)? If possible, please provide the following info as well:

1. What is the scenario that causes the crash?

2. Is the crash always reproducible?

3. Can you share the log with Replicator and Verbose logging enabled?

Thanks!

[2018-09-19 15:35] parvezq commented on #2205
I am out of office now so not possible to provide complete backtrace but few more details for your reference:

1. Crash happens when data is being synced.
2. The crash always occurs.
3. Enabled LogDomain.all logging but I did not see any log.

Hope this helps.

Do we have source code for the  2.1.0 available that I can use to identify the culprit code in the project, if yes please share link.

Fro

[2018-09-19 15:51] pasin commented on #2205
If the crash always occurs, maybe some certain documents or blobs trigger the crash?

If attaching the device/simulator to xcode, you should be able to see the log in the Xcode's console; if not, it is very strange.

Here is the tag: https://github.com/couchbase/couchbase-lite-ios/tree/2.1.0

[2018-09-19 16:48] johnngoi opened #2207 "No available version for binary"
*** Downloading binary-only framework CouchbaseLite-Enterprise at "https://packages.couchbase.com/releases/couchbase-lite-ios/carthage/CouchbaseLite-Enterprise.json"
No available version for binary "https://packages.couchbase.com/releases/couchbase-lite-ios/carthage/CouchbaseLite-Enterprise.json" satisfies the requirement: ~> 2.1.1

--------
* Version:   2.1.1
* Client OS: iOS 12
* Server:    NAME

[2018-09-19 17:32] johnngoi commented on #2207
I can download these links from Safari.

https://packages.couchbase.com/releases/couchbase-lite-ios/carthage/CouchbaseLite-Enterprise.json
https://packages.couchbase.com/releases/couchbase-lite-ios/2.1.1/couchbase-lite-carthage-enterprise-2.1.1.zip

I also copy/paste ...
[code]
...  same problem with `carthage update`

[code]
works fine

More info

Xcode 9.4.1
macOS 10.13.6 (High Sierra)
carthage

[2018-09-19 17:36] pasin commented on #2207
My carthage version is 0.25. Let me upgrade and test.

[2018-09-19 17:41] pasin commented on #2207
I upgraded Carthage to v.0.30.1 and it worked for me. I used XCode 10 but I don't think it's related to the version of XCode.

@rajagp Can you try it out and see if you are seeing the same issue?

[2018-09-19 18:01] rajagp commented on #2207
@johnngoi Can you elaborate on what errors you are seeing. Please use verbose version and output the exact errors
`carthage update --verbose`

I couldn't install because I don't have xcode 10 on my system but I don't see the issue you indicated (because the fact that its complaining about incompatible swift version means that it was able to locate the 2.1.1 binaries and attempted to download 2.1.1

[2018-09-19 18:02] pasin commented on #2207
Based on [this](https://stackoverflow.com/questions/46346743/carthage-error-no-available-version-for-binary) and [this](https://github.com/Carthage/Carthage/issues/1871). Delete the carthage's cache might solve the issue.

[code]

[2018-09-19 22:43] pasin commented on #2203
@hrajput89 @sridevi-15

I have created [BackgroundTest](https://www.dropbox.com/s/qzjzl7ho0khupgv/BackgroundTest.zip?dl=0) sample app that starts a single shot replication when receiving a silent push notification. Please see README.md for more info.

[2018-09-19 22:59] rajagp commented on #2203
I think it would be simpler to use background fetch instead of silent notification ..you can do it using simulator itself .

[2018-09-19 23:39] pasin commented on #2203
I understood that background fetch doesn’t run when the app is under locked screen but if that’s not the case and simulator can trigger bg fetch under locked screen, then pls use bg fetch instead.

[2018-09-19 23:57] johnngoi commented on #2207
doing this

[code]

changed the problem.

[code]

not really an issue for us in this instance, because we tend to push forward pretty quickly (will be at Swift 4.2 by end of month), but may be an issue for other slower Enterprise dev shops

[2018-09-19 23:57] johnngoi commented on #2207
@pasin also open to testing `carthage update` if you do have a solution for Swift 4.1.2 and giving feedback

[2018-09-20 00:03] rajagp commented on #2207
Looks like this is downloading as expected so appears to no longer be an issue. If you need 4.1.2, you can build from source - [this link](https://github.com/couchbase/couchbase-lite-ios/wiki/Building-Couchbase-Lite) will help you- there are some caveats if you need EE version

We currently  only support distributing prebuilt binaries corresponding to latest GA version of swift. Unfortunately, swi

[2018-09-20 00:41] pasin commented on #2207
@johnngoi It's the Carthage that checks the version compatibility (See [this](https://github.com/Carthage/Carthage/issues/2411) for more info). Swift 4.2 is generally compatible with 4.1.2. I don't have a workaround this. Also EE is closed source so building from source is not possible either.

[2018-09-20 00:49] pasin commented on #2203
Also, regardless of using push notification or background fetch, the test should be done on device as simulator doesn't have data protection enabled when the app is under the locked screen.

[2018-09-20 05:55] Fenil15 commented on #1776
Usign filter params in query string is not a correct way to implement at query string has its own limitation. Instead one should use selector instead of filter if you are using CouchDB Server 2.0 and above. Only thing you need to make sure at your client side is, set the filter name = _selector and in filter params, pass params in following format -

    {
      "selector": {
        "key_name_to_

[2018-09-20 15:02] pasin commented on #2205
To add CouchbaseLite project directly, try the followings:

1. Drag the CouchbaseLite.xcodeproj into the Project Navigator of your application's Xcode project.
2. In your application's target, select `Build Phrases` and add `CBL Swift` to the Target Dependencies.
3. Select General tab and add `CouchbaseLiteSwift.framework` to the Embedded Binaries. If there are two CouchbaseLiteSwift.framework, tr

[2018-09-20 15:04] pasin commented on #2205
@parvezq after all I think the full stacktrace doesn't provide any new info. I'm formatting the stacktrace on your post to make it more readable.

[2018-09-20 15:10] pasin commented on #2205
From the stacktrace, it seems like _byte is null?

[code]

[2018-09-20 15:12] pasin commented on #2205
This might be related with https://github.com/couchbase/couchbase-lite-core/issues/565.

[2018-09-20 15:57] johnngoi commented on #2207
Thanks for all the help. Now that we are at a known acceptable state, no need to spend more cycles looking into it.

I’ll open a new issue if this does not work with Swift 4.2 via carthage update.

[2018-09-20 17:39] fedal-mas commented on #2024
@pasin, I'm using the CBL 2.1.1, SG 2.1.0 and CB Server 5.5.1 on MacOS Mojave (10.14) and I think that I'm having the same issue.

In my case it get stuck forever saying that it has 27 changes to complete.

Here is the [log](https://gist.github.com/fedal-mas/48984b8d8b5a81e0b30ef8ea5ad37f69).

Any idea of solutions for this problem? Because I'm not being able to migrate from version 1.4 to 2.x.x b

[2018-09-20 17:50] pasin commented on #2024
@fedal-mas CBL 2.0 uses different replication mechanism so it's a different issue. Do you mind to create a new issue with the info.

[2018-09-20 17:50] pasin commented on #2024
@fedal-mas Do you have the corresponding SG log?

[2018-09-20 18:02] #2207 closed

[2018-09-20 18:17] fedal-mas commented on #2024
@pasin No problems, I can create a new one.

I will try to generate the SG log later today if I have time, WCS tomorrow morning.

[2018-09-20 18:22] fedal-mas opened #2208 "CBL 2.1.1 on MacOS never complete the sync"
CBL isn't syncing all documents/revisions. In my case it get stuck forever saying that it has 27 changes to complete the sync.

Here is the [CBL log](https://gist.github.com/fedal-mas/48984b8d8b5a81e0b30ef8ea5ad37f69).

--------
* Version:     2.1.1
* Client OS: MacOS Mojave (10.14)
* Server:      CB Server 5.5.1 and SG 2.1.0

[2018-09-20 20:59] fedal-mas commented on #2208
@pasin, updated the CBL log and here is the [SG Log](https://github.com/couchbase/couchbase-lite-ios/files/2403058/SGLog.zip).

[2018-09-20 22:40] pasin commented on #2208
From CB Lite log, it seems like the pull replicator was waiting for SG to send the changes. From the SG log, I saw the errors like:

[code]

I guessed those revisions are purged from SG/Couchbase Server. This seems like https://github.com/couchbase/sync_gateway/issues/3738 issue.

[2018-09-20 22:42] pasin commented on #2208
Closed the issue and let's track this issue from couchbase/sync_gateway#3738 instead.

[2018-09-20 22:44] pasin commented on #2208
I think I will let this issue opened until couchbase/sync_gateway#3738 gets resolved so that we can track it here as well.

[2018-09-21 07:55] parvezq commented on #2205
After following the steps for adding the source code of CouchbaseLite as mentioned above when I try to compile my project then I am getting the compilation error for a file "sqlite3_unicodesn_tokenizer.c". It seems checking out from the tag 2.1.0 do not have all needed files included and the CouchbaseLite project is using submodules also.

[2018-09-21 13:14] fedal-mas commented on #2208
@pasin nice, I will keep an eye on the other issue. Thanks!

[2018-09-23 20:39] shobhakartiwari commented on #2176
Hi i am trying to find details about the mobile data in cblite 2 using cblite command tools , which comes through couchbase-lite-swift_enterprise_2.1.1 folder , but i am unable to run the tools , as it says comand not found or

shobhakar-mac$ ./cblite

cblite: Couchbase Lite / LiteCore database multi-tool

Missing subcommand or database path.

For a list of subcommands, run cblite help .

To start

[2018-09-23 20:43] rajagp commented on #2176
As error indicates, you have to pass in the cblite database file as a parameter.
Example :
`
./cblite /path/to/mydb.cblite2
`

You will be provided with an interactive shell from where you can introspect the database

[2018-09-24 09:37] shobhakartiwari commented on #2176
Thanks @rajagp  for quick response .

**I tried this and it works** 👍

shobhakar$ ./cblite  /Downloads/mobile-travel-sample-master/ios/TravelSample/TravelSample/prebuilt/travel-sample.cblite2
Opened database /Downloads/mobile-travel-sample-master/ios/TravelSample/TravelSample/prebuilt/travel-sample.cblite2/

Thanks for help again.

[2018-09-24 09:42] shobhakartiwari commented on #2205
Using CBlite 2.0 for iOS and randomly during the sync process application gets crashed , here is the log , kindly help regarding this crash :

[2018-09-24 09:44] shobhakartiwari commented on #2197
I am using CBLite 2.0 and it getting crashed randomly , kindly help in resolving this issue :

**terminating with uncaught exception of type std::__1: (worry) ystem_error: mutex lock failed: Invalid argument**

[2018-09-24 10:05] sammy-SC commented on #2197
@snej I assumed those crashes were related. I will close this issue and separate each crash into it's own issue. Sorry for the trouble.

[2018-09-24 10:42] parvezq commented on #2205
Even after following the defined steps with submodules updated, I am now getting compilation error 'no such module CouchbaseLiteSwift' no matter we add first framework or second one.

[2018-09-24 14:47] adamski commented on #1776
@Fenil15 Thanks for the example. I assume you mean Couchbase Server 2.0? If so, I am planning to move away from Couchbase Server for this particular project. (Happy to elaborate on reasons why if you're interested).

[2018-09-24 15:01] Fenil15 commented on #1776
@adamski No I mean CouchDB server

[2018-09-24 15:06] adamski commented on #1776
@Fenil15 ah ok thank you I will looking it.

[2018-09-24 16:35] shobhakartiwari opened #2209 "CBLite 2.0 and it getting crashed randomly"
--------
* Version:   cblite 2.0
* Client OS: iOS 11

I am using CBLite 2.0 and it getting crashed randomly , kindly help in resolving this issue :

terminating with uncaught exception of type std::__1: (worry) ystem_error: mutex lock failed: Invalid argument

[2018-09-24 18:20] pasin commented on #2209
Could you please provide the full stacktrace of all threads? Also there are several changes from 2.0 to 2.1. You may try to upgrade CBL and see if the crash still persists.

[2018-09-24 18:34] pasin commented on #2201
@suzhaev This seems to be compatibility issue with CouchDB. Does CouchDB ignore the filter when filter is in the Body? Can you check with CouchDB?

[2018-09-24 18:38] pasin commented on #2201
We have also done some changes to support CouchDB POST changes in #1139. Are there any changes lately with CouchDB 2.2.0?

[2018-09-24 19:33] pasin commented on #2205
@parvezq If you can create zip an empty swift project linked with CBL that shows the issue, I can try to look where the issue is.

[2018-09-24 19:35] pasin commented on #2205
Anyway I was able to reproduce the exact crash and I can confirm that it's the same issue as https://github.com/couchbase/couchbase-lite-core/issues/565. The crash happens when trying to sync the attachments/blobs that got push to SG by using CBL 2.0.0. We plan to have a fix in 2.1.2.

[2018-09-24 19:35] pasin commented on #2205
Closed the issue as we can track the issue by couchbase/couchbase-lite-core#565.

[2018-09-24 19:35] #2205 closed

[2018-09-25 02:45] parvezq commented on #2205
Any tentative deadline when 2.1.2 will be available?
________________________________
From: Pasin Suriyentrakorn <notifications@github.com>
Sent: Tuesday, September 25, 2018 1:05:46 AM
To: couchbase/couchbase-lite-ios
Cc: Parvez Qureshi; Mention
Subject: Re: [couchbase/couchbase-lite-ios] CouchbaseLiteSwift 2.1.0: Crash on iOS (#2205)

Closed #2205<https://github.com/couchbase/couchbase-lite-ios/i

[2018-09-25 04:05] pasin commented on #2205
@djpongh can you help answer the question?

[2018-09-26 07:58] fralways opened #2210 "dyld: Symbol not found: __T0BOWV"
app crashes on start with error:
[code]

Installing with cocoa pods with line:   pod 'CouchbaseLite-Swift', '~> 2.0.0'
This happens on simulator and on device. Do I need to link some libraries?

CouchbaseLite-Swift (2.0.3)
Xcode 10
Swift 4.2

[2018-09-26 08:02] fralways commented on #2210
Okay, now it works with
`pod 'CouchbaseLite-Swift', '~> 2.1.0'`
You may want to update readme file.

[2018-09-26 14:05] #2210 closed

[2018-10-01 20:31] pasin commented on #2203
I have added sync with push notification feature to https://github.com/couchbaselabs/mobile-training-todo for both 1.x and 2.0. QE can use it for testing. I'm closing this issue now.

[2018-10-01 20:31] #2203 closed

[2018-10-01 20:55] pasin commented on #2203
How to use push notification sync in mobile-training-todo:

1. Enable push notification sync by kSyncWithPushNotification in AppDelegate to YES.
2. When running the app, after logging in, the device token ID used for pushing notifications will be printed out to console.
3. Use Script/push to send the notification.

[2018-10-02 00:18] pasin commented on #2208
SG fix for the issue will be available in v2.1.1 and CBL completed progress will be available in v2.1.2. Thanks.

[2018-10-02 00:18] #2208 closed

[2018-10-02 06:14] nightstranger007 commented on #1954
Facing this issue (Can't delete db file while other connections are open)
Any update?

[2018-10-02 17:35] neonhomer opened #2211 "Undefined symbols when trying to use local build (v1.4.2)"
I cannot get a local 1.4.2 build to work in my target project.

Using the https://github.com/couchbase/couchbase-lite-ios/wiki/Building-Couchbase-Lite-1 I can get the framework built, but it will not work in the target project. I've added the framework and made the necessary Build Settings and Build Phases changes.

Target build errors:
[code]

--------
* Version: Couchbase Lite 1.4.2
* Client OS:

[2018-10-03 19:53] btyler opened #2212 "Carthage JSON broken"
Unable to parse binary-only framework JSON at https://raw.githubusercontent.com/couchbase/couchbase-lite-ios/master/Release/Carthage/CouchbaseLite-Community.json due to error: invalid JSON: dataCorrupted(Swift.DecodingError.Context(codingPath: [], debugDescription: "The given data was not valid JSON.", underlyingError: Optional(Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start wit

[2018-10-03 20:34] pasin commented on #2212
Please use this instead:

[code]

[2018-10-03 20:34] #2212 closed

[2018-10-05 21:47] djpongh commented on #2209
@shobhakartiwari , any update?

[2018-10-05 21:51] djpongh commented on #2194
@SalmanZafar1105, any chance to the info pasin requested?

[2018-10-05 21:53] #2196 closed

[2018-10-07 14:31] LutherBaker opened #2213 "iOS dylib was compiled for MacOSX"
`ld: warning: linking ObjC for iOS Simulator, but dylib (<redacted_project_path>/Couchbase_2-1-1/CouchbaseLite.framework/CouchbaseLite) was compiled for MacOSX`

Steps to recreate

1. New project
2. Download the Objective-C Couchbase from https://docs.couchbase.com/couchbase-lite/2.1/objc.html
3. Unzip and navigate to the `iOS` folder (did this 2x to make sure)
4. Move the entire iOS directory int

[2018-10-07 17:57] pasin commented on #2213
I just tested the steps above and I couldn't reproduce this issue. From the error, it does seem like the MacOS framework was used in the project somehow.

[2018-10-08 15:37] djpongh commented on #2213
problem with Xcode 9.4.1? @pasin, I assume you're on Xcode 10.0?

[2018-10-08 22:43] pasin commented on #2213
Yes, I can reproduce the warning with XCode 9.4.1 but not with XCode 10. The binary seems to be usable with the simulator. I'm not sure what is causing that.

[2018-10-08 22:45] pasin commented on #2213
@LutherBaker Are there any other issues when using with binary except the warning?

[2018-10-10 18:27] LutherBaker commented on #2213
Preliminary testing was successful (copied in some code from a tutorial) but I didn't test it significantly.

[2018-10-11 16:17] djpongh commented on #2213
@LutherBaker, thanks for the update. We'll close this for now but reopen if you do find an issue.

[2018-10-11 16:17] #2213 closed

[2018-10-11 18:09] skela commented on #2030
Got nowhere when trying to use Swift Package Manager for your library, I'm guessing you need to add support for that by adding a Manifest. Anyway, to answer @pasin 's previous question :
"I believe this is a limitation of using Swift Framework in Mac Command Line app.@skela @rajagp Beside CBL Swift Framework, do the other Swift frameworks work with Mac Command Line app?"

Yes, for instance CryptoK

[2018-10-11 18:12] pasin commented on #2030
@skela Can you share what you have done to make it work with command line app? also, if you have made the project work with Swift Package Manager, please share too.

[2018-10-11 18:15] pasin commented on #2030
I think the current project structure is not what the default structure for Swift Package Manager. Not sure if they allow to have custom structure or not.

[2018-10-11 18:17] skela commented on #2030
@pasin sorry if i wasn't clear enough, my bad. I'm saying I have not been able to use couchbase lite in a pure mac os cli app yet, but was just bringing up cryptokit and the fact that ive also made a library/framework (thats private) that works with swift pm.

And yeah, thats true that yer structure is a bit different, but it might be possible still with some code-fu somehow.

Making it work with

[2018-10-11 19:52] pasin opened #2214 "Support Swift Package Manager"
It's not clear yet what we need to do to support Swift Package Manager but it's something we should look into that.

--------
* Version:   2.x

[2018-10-11 19:53] pasin commented on #2030
I have created https://github.com/couchbase/couchbase-lite-ios/issues/2214.

[2018-10-12 20:26] skela opened #2215 "Performance and indeces for queries in "tables""
Its not clear from the documentation so I'm just posting the question here. So not really an issue apart from a need to flesh this bit out a bit in the docu.

All my documents have document ids of the same form: `{table_name}|{record_id}`
so for example: `users|1`
All the documents with the same document id prefix before | belong to the same "table".
Most of my queries occur in these tables, which

[2018-10-12 21:43] djpongh commented on #2209
If you can get us more info, please re-open.

[2018-10-12 21:43] #2209 closed

[2018-10-12 21:44] djpongh commented on #2194
If you can get the info, please update and re-open.

[2018-10-12 21:44] #2194 closed

[2018-10-12 22:24] pasin opened #2216 "Auth Header from BasicAuthenticator not getting sent if SG Guested is enabled"
Currently 2.0 replicator does Basic Authenticating with SG only when receiving an Auth challenge. But when GUEST account enabled on SG, there will be no challenge. As discussed, we should send the Basic Auth header without waiting for Auth challenge if Basic Authenticator is set.

--------
* Version:   2.0

[2018-10-15 12:50] shobhakartiwari commented on #2209
i applog. for late response , here is the screenshot for this random crash.
<img width="1002" alt="screen shot 2018-10-09 at 4 46 05 pm" src="https://user-images.githubusercontent.com/13196077/46951914-fcd89100-d0a6-11e8-8230-0861c07c8e6f.png">

[2018-10-16 16:54] stas9019 opened #2217 "Full-Text Search prefix queries are not working properly in some cases"
For query "'\*alterna\*'" FTS search finding the only word "alterna-porn", however, it should also match  "alternate", "alternative", "alternating" etc. I have no matches for "'*alternat*'" as well.

However, for query "'\*altern\*'" I see expected results, including "alternate", "alternative", "alternating".  Also, for  "'\*alternate\*'" I see exprected "alternate", "alternately".

I am creating

[2018-10-16 21:12] pasin opened #2218 "NSUnknownKeyException in post-filter when using CBLQueryBuilder with several keys in NSPredicate"
The following info is taken and modified from CBSE-5893.

**Predicate:**
[code]
**Sort :**
[code]
**Query:**
[code]
**Error:**
[code]

--------
* Version:   1.4.4

[2018-10-16 21:12] pasin commented on #2218
The problem is that CBLQueryRow implemented value0 - value3 which is not enough.

[2018-10-16 22:14] #2218 closed

[2018-10-22 15:08] snej commented on #2209
This looks very much like a bug that was fixed in 2.1. Please upgrade, and if you still see the problem, comment here and we'll reopen the issue.

[2018-10-22 15:15] snej commented on #2215
We prefer the forum for questions.

There is already an index on the document ID, which will be used for greater/less comparisons. (It might even be used for `LIKE tableName + "|"` expressions, depending on how smart SQLite's query optimizer is.) So you don't need to add one.

If you want to add a test for a name property, then you'd want to create an index on docID and name (in that order.) A sep

[2018-10-22 15:15] #2215 closed

[2018-10-22 16:57] timritzer opened #2220 "Date Queries do not return correct results"
When querying on date properties, the queries do not properly handle timezone information, and seem to treat passed in dates as string comparison instead of a date. Also BETWEEN may have boundary case issues even with UTC comparisons.

Three test cases included showing the issues:
"TestCase1Date": "2018-10-23T00:00:00.000-0500", //Next Day, shouldn't be in range
"TestCase2Date": "2018-10-22T05:00:

[2018-10-22 20:35] #2216 closed

[2018-10-22 21:45] pasin commented on #2220
In addition to @snej's comment, the MutableDocument/MutableDictionary.setDate(date, key) (supported by all platforms including Android and .NET) can be used and the method will convert the date into ISO-8861 using UTC format.

[2018-10-22 21:46] timritzer commented on #2220
That is simply not acceptable. The old version offered tools to compare correctly, the new version does not. We are a EE customer and I have filed a support ticket.

We need to retain the created timezone information for all new data so we cannot simply use UTC.
And for other fields we are not working off of a homogeneous data source where we have any control over the created data, so we cannot tu

[2018-10-22 21:48] timritzer commented on #2220
@pasin in the real app we are actually syncing from server, so we cannot mess with the data to change it on device side, it is coming from Sync Gateway. I was just making the most simple recreation possible.

[2018-10-22 21:49] timritzer commented on #2220
@snej The example above shows UTC not even working correctly

[2018-10-22 21:59] snej commented on #2220
Server N1QL has date/time functions that you can use to perform date comparisons and date/string conversion ... we don't have those yet in mobile 2.x. Without such explicit casts, the query engine has no idea whether a JSON string is supposed to be a date or not.

Your test app generates the start/end dates programmatically but doesn't specify a time zone:
[code]
The result is that the date will b

[2018-10-22 22:05] snej commented on #2220
This is covered by https://github.com/couchbase/couchbase-lite-ios/issues/2220. It's not a platform bug.

[2018-10-22 22:05] #2220 closed

[2018-10-22 22:07] timritzer commented on #2220
That is how dates work in Swift. There isn't a timezone, it is always stored as UTC under the covers. The init only serves to tell it how to adjust it.

The UTC query above does not work. So... Not sure what you want me to do.

How do we query against existing data? Because I haven't seen a workaround here. I have no tools to treat it as a date in a N1QL query. I cannot change the date formats.

H

[2018-10-22 22:18] JFlath commented on #2220
Hi All,

Stepping in here - I think it's clear that there's a lot of context and background that isn't best captured or discussed in a GitHub Issue. As we've already got other channels of communication open, I'd like to suggest we fall back to those for the time being. @timritzer, I'll follow up with you directly and also with our internal teams (@snej, @pasin, et al.) to see how we can best come

[2018-10-23 06:18] shobhakartiwari commented on #2209
Thanks for the update Snej , let me update to 2.1, Thanks for your support.

[2018-10-23 21:53] timritzer opened #2221 "Logging redirect is missing for 2.X"
The 1.X branch of code offered a method on CBLManager (CBLManager.redirectLogging) That allowed redirecting the logging to be used by the developer for problems in the field (without access to the device).
We built infrastructure that allowed that logging to be uploaded to troubleshoot issues.

[CBLog.m](https://github.com/couchbase/couchbase-lite-ios/blob/master/Objective-C/Internal/CBLLog.m) fea

[2018-10-23 21:59] pasin commented on #2221
Thanks for the feedback. CC: @rajagp

[2018-10-24 03:40] rajagp commented on #2221
@timritzer  This is under consideration for our next major release (2.5).

[2018-10-24 23:32] snej commented on #2221
We are also working on an API that lets CBL generate a log file itself, but exposes the path of the file so the app can upload it. The advantage of that is that the log file is written in a very efficient/compact binary format (which can be decoded by the `cblite` tool), and CBL will take care of rotating out old log files.

[2018-10-26 21:38] djpongh commented on #2197
Hopefully we fixed this in 2.1.2 coming out shortly. Please reopen if found again.

[2018-10-26 21:38] #2197 closed

[2018-10-27 11:36] geraldapeoples opened #2222 "Support N1QL syntax for queries"
--------
* Client OS: Android/IOS

Are there any plans to enable couchbase lite queries using the n1ql query language? The use of the querybuilder seems very, very complicated compared to "SELECT model from mydb t where t.type = 'vehicle'"

[2018-10-29 16:47] snej commented on #2217
This issue was moved to couchbase/couchbase-lite-core#593

[2018-10-29 16:47] #2217 closed

[2018-10-30 22:58] snej commented on #2222
We don't have plans to. The thinking is that the builder API enforces enough structure at compile time to keep people from making most types of ill-formed queries, which helps with support. I do understand your complaint about verbosity, though, and I hope we can address that somehow.

(A secondary reason is that this would require writing a new N1QL parser in C or C++ — the Server one is written

[2018-10-31 11:56] geraldapeoples commented on #2222
I am coming from the Ionic/Cordova mindset here ... if we could define all of our queries in javascript as n1ql strings and pass them into the plugin it would simplify things so much, as it is, it looks like the cordova plugin itself will have to be support some simplified query syntax ... can't be helped I guess. Thanks for the explanation though.

[2018-10-31 16:21] snej commented on #2222
Right, that's #2219 which is in review right now.

IIRC, Couchbase has a N1QL parser written in JavaScript, which is used in the Server admin app. One could adapt that to output the JSON query schema used by LiteCore, which is very similar to a parse tree.

[2018-11-02 21:37] djpongh opened #2223 "Predictive Query API"
**PRD**
1. https://docs.google.com/document/d/1ydyIaXLYv9871qWDQYJontaee4xTZgOxMJuqXtzIv1Q/edit

**API Spec**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/pull/229

**LiteCore API**
1. https://github.com/couchbase/couchbase-lite-core/blob/master/C/include/c4PredictiveQuery.h
2. https://github.com/couchbase/couchbase-lite-core/blob/master/C/include/c4Query.h#L194
3. https://github.com/c

[2018-11-02 21:38] djpongh opened #2224 "Predictive Query Demo"

[2018-11-04 03:26] gumbright opened #2225 "module compiled with Swift 4.1 cannot be imported by the Swift 4.2.1"
`error: module compiled with Swift 4.1 cannot be imported by the Swift 4.2.1 compiler: /Users/xxx/Projects/iOS/crucible/couchbaseHack/couchbaseHack/CouchbaseLiteSwift.framework/Modules/CouchbaseLiteSwift.swiftmodule/x86_64.swiftmodule`

All current community lite frameworks from download and via carthage versions result in the above error when trying to build under Xcode 10.1. So assuming build is

[2018-11-04 03:28] gumbright commented on #2225
This is same kind of issue as #2204, just for latest version

[2018-11-06 23:04] pasin commented on #2225
What version of CBL are you specifying? CBL 2.1.1 was compiled with XCode 10 so there shouldn't bet the issue.

[2018-11-08 19:42] timritzer commented on #2222
On iOS at least, heavy extensions can make this very much less verbose. For example:

`extension Array where Element: queryExpressionable {
    public func asExpression() -> [ExpressionProtocol] {
        return self.map { $0.asExpression() }
    }
}

public protocol queryExpressionable {
    func asExpression() -> ExpressionProtocol
}

//Or Whatever type
extension String: queryExpressionable {

[2018-11-09 09:05] geraldapeoples commented on #2222
@snej Hi ... how would I get a hold of the N1QL javascript parser?

[2018-11-09 23:51] snej commented on #2222
@geraldapeoples Sorry, I can't remember what repo it's in — somewhere in `couchbase/` or `couchbaselabs/`.

[2018-11-13 17:49] srinadh-k commented on #2197
Hello, i am also getting crash, so any plans when you are release 2.1.2

[2018-11-13 17:49] srinadh-k opened #2226 "Replication crash when the app comes back from the unlocked screen"
I am using couchbase lite iOS SDK and while i am using app and replication is going on... When user tries to lock the phone and unlock it. App getting crash.

Even user app running in background mode and lock the phone and unlock the phone. if user tap on the app, it is going to crash.

* Version:   Couchbase Lite iOS V2.1.1
* Client OS: iOS 12.0.1
* Server:    Couchbase Server 6.0

[2018-11-13 18:16] pasin commented on #2226
Could you provide the crash log?

[2018-11-13 18:29] srinadh-k commented on #2226
Please check the following attachment for crash log.
[App-2018-11-13-235608.crash.zip](https://github.com/couchbase/couchbase-lite-ios/files/2577521/App-2018-11-13-235608.crash.zip)

[2018-11-13 18:34] pasin commented on #2226
The crash log doesn't get symbolicated. If you download CBL framework from the website, there is also the symbol files that you can add to your project to get the crash log symbolicated.

I think the easiest way is to run the app attached to XCode and get the crash log by using `bt all` on the console when the crash happens.

[2018-11-13 18:37] srinadh-k commented on #2226
I didn't download CBL Framework from the website and I have been using pod command.
PFA for the log from the console.
[crash log](https://github.com/couchbase/couchbase-lite-ios/files/2577552/crash.log)

[2018-11-13 19:14] pasin commented on #2226
Thank you very much for the new crash log.

[2018-11-13 19:18] pasin commented on #2226
From the crash log, it turns out this is the same issue as #2196 which is fixed by https://github.com/couchbase/couchbase-lite-ios/commit/b42cf2694db48006e790f28dcdebfec1e401b481.

@srinadh-k we have fixed the issue and the fix will be released in the next release which is 2.1.2.

[2018-11-13 19:18] #2226 closed

[2018-11-14 02:07] srinadh-k commented on #2226
@pasin  sounds great, it was fixed. Do you know, when V2.1.2 release?

[2018-11-14 02:07] pasin commented on #2226
I don't have the release date. Currently v2.1.1 is in the QA process. I hope it will be released soon.

[2018-11-14 02:12] srinadh-k commented on #2226
ok, is V2.1.1 in QA process? but right now, Couchbase lite stable version is V2.1.1

When we download from the following a link, it is giving Couchbase Lite 2.1.x Enterprise
https://www.couchbase.com/downloads

[2018-11-14 02:13] pasin commented on #2226
You can select Community or Enterprise.

[2018-11-14 02:15] srinadh-k commented on #2226
You mentiond in the below link, it was fixed in V2.1.1, Did you miss this in V2.1.1 and will be available in V2.1.2?

https://github.com/couchbase/couchbase-lite-ios/issues/2196#issuecomment-416799755

[2018-11-14 02:16] srinadh-k commented on #2226
We are using Enterprise edition and downloaded frameworks through pod files.

[2018-11-14 02:16] pasin commented on #2226
It turned out we didn't make it in v2.1.1 cut off.

[2018-11-14 02:17] pasin commented on #2226
Sorry for confusion. I just updated my comment about version. It should be 2.1.2 not 2.1.1.

[2018-11-14 02:19] srinadh-k commented on #2226
Oh ok, But seems it is very important bug for every iOS developer, even most of applications are in AppStore. So if possible please release asap. or else give a chance to access development git branch and update our pod file.

Even synch not working when user goes to background mode and leave the application some time. is it cause because of this issue? If that is also cause with same issue, i won

[2018-11-16 22:45] djpongh commented on #2225
Perhaps an older version of CBL has been cached? If you get more info into what is happening, fell free to re-open.

[2018-11-16 22:45] #2225 closed

[2018-11-16 22:51] djpongh opened #2227 "Implement Document Expiration"
**PRD**
1. https://docs.google.com/document/d/1wbo2XlywWa9c5vIPthD7JiwWHZh3Nqk1UUGqx-y5WhY/edit#heading=h.gjdgxs

**API Spec:**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/master/spec/spec/Database/Database.swift#L132-L139
2. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/master/spec/spec/Document/Document.swift#L18
3. https://github.com/couchbaselabs/couchbase-lite-a

[2018-11-16 22:52] #2112 closed

[2018-11-16 23:50] #2176 closed

[2018-11-19 23:08] pasin opened #2229 "Use c4query_columnTitle to get column names"
LiteCore has implemented c4query_columnTitle for getting column names. CBL should use that instead of generating the column names by itself.

[2018-11-20 18:00] johnngoi opened #2230 "Incompatible Swift version, Swift 4.2.1"
*** Downloading CouchbaseLite-Enterprise.framework binary at "2.1.2"
Incompatible Swift version - framework was built with 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1) and the local version is 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1).

Can we get a framework built with Swift 4.2.1?

--------
* Version:   2.1.2
* Client OS: NA
* Server:    NA

[2018-11-20 18:51] pasin commented on #2230
Sorry, I think this is the same issue as last time that Carthage really restricts to the exact Swift version.

[2018-11-20 19:04] johnngoi commented on #2230
@pasin we are using Carthage, let me know when you have something for us to test.

[2018-11-20 19:35] pasin opened #2231 "Implement Purge document by ID"
**API Spec**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/master/spec/spec/Database/Database.swift#L87-L90

**Implementation Note**
1. Make sure to support purging deleted documents
2. Make the API thread safe
3. We may change purge(doc) implementation to use the API below as well.

**LiteCore API**
1. https://github.com/couchbase/couchbase-lite-core/blob/master/C/include/c4Docume

[2018-11-20 19:37] pasin opened #2232 "Implement Meta.isDeleted"
**API Spec**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/master/spec/spec/Query/Expression/Meta.swift#L38-L41

[2018-11-20 19:53] pasin opened #2233 "Implement Replication Filter"
**PRD**
https://docs.google.com/document/d/1DN1okP8ESZh8q21O8HNIu-s7Be3IeehMS8pkGVQp9yQ

**API Spec**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/17f4ed9add79b2216e6faa3dd03984784bdabcb3/spec/spec/Replicator/ReplicatorConfiguration.swift#L55-L57
2. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/17f4ed9add79b2216e6faa3dd03984784bdabcb3/spec/spec/Replicator/ReplicatorCo

[2018-11-20 19:55] pasin opened #2234 "Implement Document Replication Eventing"
**PRD**
1. https://docs.google.com/document/d/1_9MOXU8pPYA_Nrs-qazcdJa0tN5pMls-n6qF431ESsU/edit

**API Spec**
1. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/610b32756d3c5b79c0980b6e23e7dddc54bbe18f/spec/spec/Replicator/Replicator.swift#L51-L53
2. https://github.com/couchbaselabs/couchbase-lite-apiv2/blob/610b32756d3c5b79c0980b6e23e7dddc54bbe18f/spec/spec/Replicator/Replicator.swift#

[2018-11-26 21:29] skela opened #2235 "No way to track CBL1->CBL2 Database Upgrade"
I'm planning to move from Couchbase Lite 1.4 to 2.0. Did some initial testing with different database sizes, and I've run into a potential issue that I've found no way to work around.

When I start the application with CBL2, for the first time, I get log messages like:
Upgrader upgrading db
Upgrading CBL 1.x database

Fair enough, it needs to update the database from v1 to v2. However, this is tak

[2018-11-27 20:46] #2232 closed

[2018-11-27 21:03] pasin commented on #2235
Currently we don't have API to track the progress. If database is large, it could take sometime to upgrade. Can you open 1.x database in the background, show some indicator, and hide the indicator when the database is successfully opened?

[2018-11-27 21:24] skela commented on #2235
Yeah sure I can, but I would certainly prefer some kind of indication as to how much time it will take. Having a spinning indicator for 2-5 minutes isn't really ideal UX. So no way then?

[2018-11-27 22:05] sridevi-15 opened #2238 "Memory release issue for released certificate"
### Environment:
* Version:   any 2.0
* Client OS: iOS
* Sync-gateway version : 2.1.0

### Steps to reproduce :
1. Set up sync-gateways with ssl enabled.
1. Create 2 DBs in 2 SGS and Create docs in CBL
        2. Set up 1 SG with revs limit 30 and SG2 with revs limit 25.
        3. Do push replication to two SGS(each DB
        to each SG).
        4. Do updates on CBL for 35 times.
        5. Con

[2018-11-30 18:06] #2231 closed

[2018-11-30 19:27] timritzer opened #2241 "Encrypted 2.X DB in Shared Location causes app to immediately terminate on backgrounding"
Scenario is an app within an IOS App group, accessing the group file location for a Database that is encrypted will cause the app to immediately terminate (SigKill) whenever it goes into the background. This means no apps on iOS can share encrypted databases with the updated CB 2.X codebase.

Does not occur on simulator, or when encryption is disabled. Also doesn't happen unless there is a DB in t

[2018-11-30 19:34] pasin commented on #2241
We are using SQLite Encryption Extension for encryption. This might require SQLite to fix the issue.